.tab-container {
  margin: 20px;
  display: block;
}

.render-table {
  border: #aeaeae 1px solid;
  margin: 40px 20px;
}

.download {
  width: fit-content;
  margin: 40px auto;

  .btn {
    margin: 0 20px;
  }
}