<div class="modal-content">
    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"(click)="closeReorderForm()">&times;</button>
        <h4>Reordering Image Index</h4>
    </div>            <!-- /modal-header -->

    <div class="modal-body" id="imageReordering">
        <div class="col-md-2 image-list has-scroll">
                <div id="viewDocument" class="list_of_documets">
                        <ul id="imageList" class="nav" >
                            <li *ngFor="let img of images; index as i">
                                <div class="image-pan thumbnail" (click)="selectImage(i)">
                                    <img [src]="img.img">
                                    <div class="legend">
                                        <p>Page: {{img.page_label}}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    
                </div>
          
        </div>
        <div class="col-md-10 thumbnail" id="image-pan">
                <svg id="imageViewer2" width="100%" height="100%" version="1.1" style="left:0;top:0; text-align:center; background: #FFFFFF;"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                    <image id="img_viewer_img2" href="" x="0" y="0" height="100" width="100"/>
                </svg>
            
        </div>
    </div>
    <div class="modal-footer">
        <div class="image-footer align-left col-md-3">
            <ul class="nav">
                <li [ngClass]="{disabled:loadedIndex === 0}"><a [routerLink]="" (click)="up(loadedIndex)"><i class="fa fa-chevron-circle-up"></i> Up</a></li>
                <li [ngClass]="{disabled:loadedIndex === (selectedImage.length -1)}"><a [routerLink]="" (click)="down(loadedIndex)"><i class="fa fa-chevron-circle-down"></i> Down</a></li>
                <li><a [routerLink]="" (click)="flip(loadedIndex)"><i class="fa fa-exchange"></i> Flip</a></li>
               
            </ul>
        </div>
        <div class="image-footer align-center col-md-9">
            <ul class="nav">
                <li [ngClass]="{disabled:loadedIndex === 0}"><a [routerLink]="" (click)="previous()" ><i class="fa fa-backward"></i></a></li>
                <li><p *ngIf="selectedImage.length > 0">{{page + 1}} / {{selectedImage.length}}</p></li>
                <li [ngClass]="{disabled:loadedIndex === (selectedImage.length -1)}"><a [routerLink]="" (click)="next()"><i class="fa fa-forward"></i></a></li>
            </ul>
        </div>
    </div>
</div>