<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title ">Change Your Password</h5>
        <button type="button" class="close" (click)="closeForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="editRoleForm" id="editRoleForm">
        <div class="modal-body has-scroll" >
            <ul class="nav">
                <li><div class="input-form">
                    <label>Username:</label>
                    <input type="text" class="form-control"  formControlName="username" [(ngModel)]="roleModel.userName">
                    <input type="hidden" class="form-control"  formControlName="userid" [(ngModel)]="roleModel.userId">
                </div></li>
                <li><div class="input-form">
                    <label>Role:</label>
                    <select class="form-control" formControlName="role"   id="edit_user_role" [(ngModel)]="roleModel.role" multiple>
                        <option *ngFor="let role of ROLES" [value]="role.name" >{{role.name}}</option>
                    </select>
                </div></li>
            </ul>
        </div>
        <div class="modal-footer ">
            <div class="input-form align-right">
                <button class="btn btn-cis btn-sm" (click)="updateRole()">Update</button>
            </div>
        </div>
    </form>
</div>