﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Cutomer proflie: @Model.cust.name</title>
</head>
<body>
    <table>
        <tr>
            <td>Customer Name:</td>
            <td>@Model.cust.name</td>
            <td>Customer Type:</td>
            <td>@Model.custType</td>
        </tr>
        <tr>
            <td>Customer Code:</td>
            <td>@Model.cust.customerCode</td>
        </tr>
    </table>
     
    
</body>
</html>