.paper{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.36);
}

.line-break {
}