<div class="x_panel">
    <div class="x_title row">
        <div class="clearfix"></div>
    </div>

    <div class="x_content has-scroll">
        <div class="">
            <table class="table table-striped ">
                <thead>
                <tr class="headings">
                    <th class="column-title">UPIN </th>
                    <th class="column-title">Owner Name</th>
                    <th class="column-title">Description </th>
                    <th class="column-title">Sent From</th>
                    <th class="column-title">Status </th>
                    <th class="column-title">Last Edit On</th>
                </tr>
                </thead>
                <tbody>
                <tr class="even pointer">
                    <td class=" ">12314578788</td>
                    <td class=" ">Yitagesu Kebede</td>
                    <td class=" ">Please approve to fast</td>
                    <td class=" ">Chala Tulu</td>
                    <td class=" ">Registered</td>
                    <td class="">12/12/2017 23:50 </td>
                </tr>
                <tr class="even pointer">
                    <td class=" ">12314578788</td>
                    <td class=" ">Yitagesu Kebede</td>
                    <td class=" ">Please approve to fast</td>
                    <td class=" ">Chala Tulu</td>
                    <td class=" ">Registered</td>
                    <td class="">12/12/2017 23:50 </td>
                </tr>
                <tr class="even pointer">
                    <td class=" ">12314578788</td>
                    <td class=" ">Yitagesu Kebede</td>
                    <td class=" ">Please approve to fast</td>
                    <td class=" ">Chala Tulu</td>
                    <td class=" ">Registered</td>
                    <td class="">12/12/2017 23:50 </td>
                </tr>
                <tr class="even pointer">
                    <td class=" ">12314578788</td>
                    <td class=" ">Yitagesu Kebede</td>
                    <td class=" ">Please approve to fast</td>
                    <td class=" ">Chala Tulu</td>
                    <td class=" ">Registered</td>
                    <td class="">12/12/2017 23:50 </td>
                </tr>
                <tr class="even pointer">
                    <td class=" ">12314578788</td>
                    <td class=" ">Yitagesu Kebede</td>
                    <td class=" ">Please approve to fast</td>
                    <td class=" ">Chala Tulu</td>
                    <td class=" ">Registered</td>
                    <td class="">12/12/2017 23:50 </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>