﻿body
{
    background:#e9eaee;
    background-color:#e9eaee;
    overflow-x:hidden;
    color:#605E5E;
}
img{
    max-width:100%;
}
.header{
     border: 1px solid #2177A5;
	background-color: #227bad;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset  0 0 1px  #3CA5D2;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 0 1px #3CA5D2;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 0 1px #3CA5D2;
}
.navbar-nav ul li a
{
    color:#ffffff;
}
.navigation .store
{
    padding:7px 25px 7px 65px;
    background:#04A218  url(../images/store.png) 0.5% center no-repeat;
    color:#ffffff;
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;
    margin-bottom:5px;
    cursor:pointer;

}
.factory-navigation .factory
{
    padding:7px 25px 7px 65px;
    background:#04A218  url(../images/factory.png) 0.5% center no-repeat;
    color:#ffffff;
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;

}
.store:hover
{
    background:#3FDB3F url(../images/store2.png) 0.5% center no-repeat;
    color:#716D6D;
}
.sales-navigation .store
{
    padding:7px 25px 7px 65px;
    background:#04A218  url(../images/sales.png) 0.5% center no-repeat;
    color:#ffffff;
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;

}
.result
{
     padding:7px 25px 7px 65px;
    background:#04A218  url(../images/result.png) 0.5% center no-repeat;
    color:#ffffff;
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;
}
.search-bar
{
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;
    background:#ffffff;
    padding:7px 10px 7px 10px;
    margin-bottom:5px;
}
.search select
{
    width:100%;
    padding:7px 4px 7px 4px;
    border:1px solid #e9eaee;
    margin-bottom:5px;
    margin-top:5px;

}
.sub-button
{
     padding:7px 15px 7px 15px;
    background:#04A218 ;
    color:#ffffff;
    -webkit-box-shadow:0px 0px 1px #AEA7A7;  
    -moz-box-shadow: 0px 0px 1px #AEA7A7; 
    box-shadow: 0px 0px 1px  #AEA7A7;
    border-radius:3px;
    border:1px solid #04A218;
}
.search input[type=text], .search input[type=password]
{
    width:100%;
    padding:7px 4px 7px 4px;
    border:1px solid #e9eaee;
    margin-bottom:5px;
    margin-top:5px;
}
.search-bar input[type=button]
{
    color:#fff;
    background:#04A218;
    padding:7px 24px 7px 24px;
    border:1px solid #04A218;
     box-shadow: 0px 0px 1px  #AEA7A7;
     margin-bottom:5px;
    margin-top:5px;

}
.sales-navigation .store-material
{
    padding:5px;
}
.store-material
{
    margin-top:5px;
}
.store-material select
{
    width:50%;
    padding:7px 4px 7px 4px;
    border:1px solid #e9eaee;
    margin-bottom:5px;
    margin-top:5px;
}
.factory-material
{
    margin:5px 0px 5px 0px;
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;
    background:#FFF;
}
.store-material table
{
    width:100%;
    margin-bottom:20px;
    margin-top:10px;
    border-radius:3px;
    /*border-left:1px solid #ECECEC; 
    border-right:1px solid #ECECEC;*/
}
.factory-material table
{
    width:100%;
    margin-bottom:20px;
    margin-top:10px;
    border-radius:3px;
    /*border-left:1px solid #ECECEC; 
    border-right:1px solid #ECECEC;*/
}
.store-material table thead td{
    background:#E0DEDC;
     font-size:16px;
    padding:4px 7px 4px 7px;
}
.factory-material table thead td{
    background:#ff7600;
    color:#fff;
     font-size:14px;
    padding:4px 7px 4px 7px;
    border:1px solid #fff;
    margin-top:10px;
}
.factory-material table tbody td{
    border:1px solid #E8E8E8;
}
.separter
{
    background:#E0DEDC;
}
.table-footer td
{
    color:#fff;
    background:#CC21CE;
}
.store-material table tbody
{
     border:1px solid #ECECEC;
     
}
.td-top-left{
    border-top-left-radius:3px;
    border:none;
}
.td-top-right{
    border-top-right-radius:3px;
    border:none;
}
.store-material table tbody td{
    border-bottom:1px solid #ECECEC;
}

.sales
{
    padding:7px 14px 7px 14px;
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;
    margin:0px 0px 5px 0px;
    background:#FFF;
    width:100%;
}
.footer-separet
{
    margin-bottom:40px;
}
.footer_bottom_content
{
    
    color:#ffffff;
    font-size:10px;
    padding:10px 10px;
    position:fixed;
    bottom:0;
    width:100%;
    border: 1px solid #2177A5;
	background-color: #227bad;
    box-shadow: 2px 1px  0px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -moz-box-shadow: 2px 1px  0px  rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -webkit-box-shadow: 2px 1px  0px  rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
}
.table-head
{
    background-color:#ffffff;
     -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;
    padding:10px 20px;
    margin-bottom:10px;
}
.table-head table
{
    width:100%;
}
.header-title
{
    padding:1px 20px 1px 20px;
    background:#04A218;
    color:#ffffff;
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;
    margin-bottom:10px;
}
.printable
{
    background-color:#ffffff;
}
.printable table
{
    width:100%;
}
.table-footer table tr td
{
    vertical-align:top;
}
.print-command
{
    margin:5px 10px 5px 10px;
    padding-top:10px;
    background:#04A218;
    color:#ffffff;
    -webkit-box-shadow:0px 0px 3px #AEA7A7;  
    -moz-box-shadow: 0px 0px 3px #AEA7A7; 
    box-shadow: 0px 0px 3px  #AEA7A7;
    border-radius:3px;
}
.print-command ul li
{
    list-style:none;
    display:inline-block;
}
.button a
{
    text-decoration:none;
    line-height:14px;
    color:#ffffff;
}
.button a:hover
{
     text-decoration:none;
    line-height:14px;
    color:#ffffff;
}
.button a span
{
    padding:4px 15px;
    font-size:14px;
    margin:-3px;
}
.center a span
{
     border-left: 1px solid hsla(0,0%,0%,.35);
     border-right:1px solid hsla(0,0%,0%,.35);
     border-right-color: hsla(0,0%,0%,.2) hsla(0,0%,0%,.2) hsla(0,0%,0%,.2);
     border-left-color: hsla(0,0%,0%,.2) hsla(0,0%,0%,.2) hsla(0,0%,0%,.2);
}
.button a span:hover
{

  background:#618509;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.2) hsla(0,0%,0%,.2) hsla(0,0%,0%,.2);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 1px 0 hsla(0,0%,100%,.05);
}
iframe
{
    width:100%;
    height:410px;
}
.footer_bottom_content a{
    color:#ffffff;
}
.search_pages 
{
   padding:10px;
}
.search_pages table
{
    float:right;
}
.search_pages table td
{
    padding:10px;
}
@media (min-width:991px) and (max-width:1200px) {
   h2{
       font-size:30px;
   }
   span
   {
       font-size:30px; 
   }
   .container
   {
  width:90%;
   }
	
}


@media (max-width:991px) {
   h2{
       font-size:28px;
   }
    span
   {
       font-size:28px; 
   }
     .container
   {
 width:90%;
   }
}


@media (min-width:768px) and (max-width:990px) {
    h2{
       font-size:26px;
   }
     span
   {
       font-size:24px; 
   }
      .container
   {
 width:90%;
   }
}


@media (min-width: 768px) {
  h2{
       font-size:24px;
   }
    span {
        font-size: 20px;
    }
     .container
   {
 width:90%;
   }
}

@media (max-width: 768px) {
    h2{
       font-size:20px;
   }
     span
   {
       font-size:20px; 
   }
      .container
   {
 width:90%;
   }
}

@media (max-width: 380px) {
   h2{
       font-size:16px;
   }
    span
   {
       font-size:14px; 
   }
     .container
   {
  width:90%;
   }
}

@media (min-width:991px) and (max-width: 1200px) {
	h2{
       font-size:30px;
   }
     span
   {
       font-size:30px; 
   }
      .container
   {
 width:90%;
   }
}

@media (min-width:683px) and ( max-width: 991px) {
	 h2{
       font-size:28px;
   }
      span
   {
       font-size:28px; 
   }
       .container
   {
  width:90%;
   }
}

@media (min-width:585px) and ( max-width: 683px) {
       h2{
       font-size:24px;
   }
        span
   {
       font-size:24px; 
   }
         .container
   {
  width:90%;
   }
}

@media (min-width:536px) and ( max-width: 585px) {
	h2{
       font-size:24px;
   }
     span
   {
       font-size:20px; 
   }
      .container
   {
  width:90%;
   }
}

@media  (min-width:410px) and  ( max-width: 536px) {
	h2{
       font-size:22px;
   }
     span
   {
       font-size:18px; 
   }
      .container
   {
  width:90%;
   }
}

@media  ( max-width: 410px) {
	h2{
       font-size:22px;
   }
     span
   {
       font-size:16px; 
   }
      .container
   {
  width:90%
   }
}
.batch_info_item
{
    font-weight:bold;
    font-size:14px;
    text-decoration:underline;
}
.errorText
{
    margin-top:10px;
    color:red;
    font-size:10pt;
    width:100%;
}
#result_pane
{
    font-weight:bold;
    font-size:medium;
}
#productionContainer
{
    overflow-x:auto;
}
.material_container
{
    overflow-x:auto;
}
#distLegend
{
}
#salesDist
{
}
.chart_legend_row
{
    border:thin;
    border-bottom:solid;
    border-top:solid;
    border-color:black;
}
.chart_legend_label
{
    width:50%;
    height:30px;
}
.chart_legend_color_container 
{
    width:15%;
}
.chart_legend_color
{
    width:100%;
    height:30px;
}
.chart_legend_value
{
    text-align:right;
}
.chart_legend_quantity
{
    text-align:right;
}
.CurrencyCell
{
    text-align: right;
}