<div class="dams-header">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="header-logo">
                <img src="/images/dams.png"/>
                <span *ngIf="config != null">{{config.cityName}} {{config.organizationName}}</span>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 align-right" style="display:inline-block">
            <div class="input-form">

                <div class="dropdown">
                    <button class="btn btn-welcome" (click)="openRequestForm()" *ngIf="damsUser">
                        <i class="fa fa-plug"></i>
                        Request File
                    </button>
                    <button class="btn btn-welcome" (click)="openCaseForm()" *ngIf="damsUser"><i class="fa fa-plus"></i>
                        Create Case
                    </button>
                    <button class="btn btn-welcome" (click)="openForm()" *ngIf="damsUser"><i class="fa fa-plus"></i>
                        Create File
                    </button>
                    <button type="button" class="btn btn-welcome dropdown-toggle" data-toggle="dropdown"
                            (click)="showdropDown()">
                        <i class="fa fa-user"></i>
                        welcome: <strong>{{username}} ({{userrole_name}})</strong>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right header-menu">

                        <li>
                            <a [routerLink]="" (click)="changePassword()"><i class="fa fa-unlock-alt"></i>Change
                                Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a [routerLink]="" (click)="logOut()" id="logoutButton"><i class="fa fa-sign-out"></i>logout</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


    </div>
</div>
<!--End of header-->
<div class="dams-side-menu">
    <ul class="">
        <li class="active align-center"><a routerLink="/dams/dashboard"><i class="fa fa-dashboard"></i> <span
                class="a-tag">Dashboard</span> </a></li>
        <li class="align-center"><a routerLink="/dams/search"><i class="fa fa-search" aria-hidden="true"></i> <span
                class="a-tag">Search</span> </a></li>
        <li class="align-center"><a routerLink="/dams/searchCase"><i class="fa fa-binoculars"></i> <span
                class="a-tag">Search Case</span></a></li>
        <!--<li class="align-center"><a  [routerLink]="" ><i class="fa fa-bell" aria-hidden="true"></i> <span class="a-tag">Notification</span> </a> </li>-->
        <!--<li class="align-center"><a  [routerLink]="" ><i class="fa fa-files-o"></i> <span>Reports </span></a></li>-->
    </ul>
</div>

<router-outlet></router-outlet>
<app-registor-file (showFileEditForm)="openForm()"></app-registor-file>
<app-update-pass></app-update-pass>

<ngx-smart-modal #caseModal identifier="caseModal" [closable]="true" [escapeAble]="false" >
    <app-create-case (formClosed)="closeCaseModal()" [selDoc]="''"></app-create-case>
</ngx-smart-modal>

<ngx-smart-modal #requestModal identifier="requestModal" [closable]="true" [escapeAble]="false">
    <app-file-request (formClosed)="closeRequestModal()"></app-file-request>
</ngx-smart-modal>

