<div class="dams-main-body">
    <div class="row">
        <div class="col-md-9">

            <div  class="dams-pending-task col-md-12">

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Pending Tasks</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content has-scroll">
                        <div class="dams-dashboard-pending-task" *ngIf="workflows?.length > 0; else no_task_content">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Date Created</th>
                                    <!--<th>Sent From</th>-->
                                    <!--<th>Last Edit On</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let workflow of workflows" (click)="onViewWorkflow(workflow)">
                                    <td>{{workflow.title}}</td>
                                    <td>{{workflow.type.name}}</td>
                                    <td>{{workflow.timeStamp}}</td>
                                    <!--<td>Abduraman</td>-->
                                    <!--<td>21/12/2010 23:59</td>-->
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <ng-template #no_task_content>

                            <div class="align-center">
                                <h4>There is No pending Tasks!</h4>
                                <p></p>
                            </div>
                            <div class="file-statistics">
                                <div class="col-md-6">
                                    <div class="panel files align-center">
                                        <h2>{{archiveStat.files}}</h2>
                                        <div class="span">
                                            <span>Number of File</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="panel documents align-center">
                                        <h2>{{archiveStat.docs}}</h2>
                                        <div class="span">
                                            <span class="">Number of document</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-panel-right has-scroll">

                <div class="file-statistics" *ngIf="workflows?.length > 0">
                    <div class="col-md-6">
                        <div class="panel files align-center">
                            <h3>{{archiveStat.files}}</h3>
                            <div class="span">
                                <span>No of File</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel documents align-center">
                            <h3>{{archiveStat.docs}}</h3>
                            <div class="span">
                                <span class="">No of document</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h4><i class="fa fa-search"></i>  Quick Search</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form [formGroup]="dashSearchForm">
                                <ul class="nav">
                                    <li>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fa fa-folder-open-o"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="File Code" formControlName="FileCode" [(ngModel)]="searchFileModel.FileCode"/>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fa fa-user-o"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="File Owner" formControlName="FileOwner" [(ngModel)]="searchFileModel.FileOwner"/>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group" *ngIf="config!=null">
                                            <div class="input-group-addon">
                                                <span class="fa fa-file-archive-o"></span>
                                            </div>
                                            <input type="text" class="form-control" *ngIf="config.applicationFor=='wsis'" placeholder="Customer Code" formControlName="upin" [(ngModel)]="searchFileModel.upin"/>
                                            <input type="text" class="form-control" *ngIf="config.applicationFor=='cis'" placeholder="UPIN" formControlName="upin" [(ngModel)]="searchFileModel.upin"/>
                                        </div>
                                    </li>
                                    <li id="addDocBtn" class="align-center">
                                        <a class="" [routerLink]="" (click)="dashSearch()">Search</a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div>
        <div  id="workflowNote"  class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content" *ngIf="showNote">
                    <div class="modal-header">

                        <h5 class="modal-title ">Workflow Note</h5>
                    </div>
                    <div class="modal-body document-info">
                        <ul class="nav note">
                            <li *ngFor="let note of notes">
                                <a>
                                    <p><strong><span><i class="fa fa-user"></i> {{note.username}}</span>: </strong> {{note.note}}</p>
                                    <div class="col-md-12 align-right"> <span><i class="fa fa-calendar-o"></i> {{note.date}}</span></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="modal-footer ">
                        <ul class="nav">
                            <li class="editFileBtn align-center" id="addImgBtn" style="display:flex;" >
                               
                                    <button class="btn btn-sm btn-cis" (click)="viewWorkflow(selectedWorkflow)">Show Task</button>
                                    <button class="btn btn-sm btn-warning" (click)="closeWorkNote()">Cancel</button>
                               
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div  id="fileInfo"  class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content" *ngIf="showFile">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="closeFileForm($event)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title "><i class="fa fa-folder-open"></i> Changed File Information</h4>
                        
                    </div>
                    <div class="modal-body file-info">
                        <ul class="nav note" *ngIf="config!=null">
                            <li><strong *ngIf="config.applicationFor=='cis'">UPIN:</strong><strong *ngIf="config.applicationFor=='wsis'">Customer Code:</strong> {{selectedFile.upin}}</li>
                            <li><strong>File Code: </strong> {{selectedFile.fileCode}}</li>
                            <li><strong>File Owner:</strong> {{selectedFile.fileOwner}}</li>
                            <li><strong>Folder Code:</strong> {{selectedFile.folder}}</li>
                            <li><strong>Shelf No:</strong> {{selectedFile.shelf}}</li>
                            <li><strong>Inshelf Location:</strong> {{selectedFile.location}}</li>
                            <li><strong>Mobile No:</strong> {{selectedFile.mobileNumber}}</li>
                            <li><strong>Remark:</strong> {{selectedFile.remark}}</li>

                        </ul>
                    </div>
                    <div class="modal-footer ">
                        <ul class="nav">
                            <li class="editFileBtn align-center" id="addImgBtn" style="display:flex;">

                                <button class="btn btn-sm btn-cis" (click)="approveChange()" ><i class="fa fa-check"></i> Approve Change</button>
                                <button class="btn btn-sm btn-warning" (click)="showRejectNoteForm()" ><i class="fa fa-remove"></i> Reject Change</button>

                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <ngx-smart-modal #fileRequest identifier="fileRequest" customClass=".nsm-dialog-animation-ttb" [closable]="true" [escapeAble]="false">
            <div>

                <div *ngIf="fileRequestModel.fileId !== ''" class="modal-body file-info">
                    <ul class="nav note" *ngIf="config!=null">
                        <li><strong *ngIf="config.applicationFor=='cis'">UPIN:</strong><strong *ngIf="config.applicationFor=='wsis'">Customer Code:</strong> {{fileRequestModel.fileModel.upin}}</li>
                        <li><strong>File Code: </strong> {{fileRequestModel.fileModel.fileCode}}</li>
                        <li><strong>File Owner:</strong> {{fileRequestModel.fileModel.fileOwner}}</li>
                        <li><strong>Folder Code:</strong> {{fileRequestModel.fileModel.folder}}</li>
                        <li><strong>Shelf No:</strong> {{fileRequestModel.fileModel.shelf}}</li>
                        <li><strong>Inshelf Location:</strong> {{fileRequestModel.fileModel.location}}</li>
                        <li><strong>Mobile No:</strong> {{fileRequestModel.fileModel.mobileNumber}}</li>
                        <li><strong>Remark:</strong> {{fileRequestModel.fileModel.remark}}</li>
                        
                    </ul>
                </div>
                <p><strong>Requested By:</strong> {{fileRequestModel.userName}}</p>
                <p *ngIf="fileRequestModel.fileId === ''"><strong>Description:</strong>
                    {{fileRequestModel.description}}
                </p>
                
                
                <div class="modal-footer">
                    <ul class="nav">
                        <li *ngIf="workflowState === 9" class="editFileBtn align-center" id="addImgBtn" style="display:flex;">
                            <button class="btn btn-sm btn-cis" (click)="acceptRequestFile(fileRequestModel)"><i class="fa fa-check"></i> Accept Request</button>
                            <button class="btn btn-sm btn-warning" (click)="failRequestFile(fileRequestModel)"><i class="fa fa-remove"></i>File Not Found</button>
                            <button class="btn btn-sm btn-warning" (click)="rejectRequestFile(fileRequestModel)"><i class="fa fa-remove"></i>Reject</button> 
                            
                        </li>
                        <li *ngIf="workflowState === 10" class="editFileBtn align-center" id="addImgBtn" style="display:flex;">
                            <button class="btn btn-sm btn-cis" (click)="checkoutFile(fileRequestModel)"><i class="fa fa-check"></i>CheckOut</button>
                        </li>

                        <li *ngIf="workflowState === 11" class="editFileBtn align-center" id="addImgBtn" style="display:flex;">
                            <button class="btn btn-sm btn-cis" (click)="checkinFile(fileRequestModel)"><i class="fa fa-check"></i>CheckIn</button>
                        </li>
                    </ul>
                </div>
            </div>
        </ngx-smart-modal>
        <div  id="rejectNote"  class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">File Rejection Note</h5>
                        <button type="button" class="close" (click)="closeForm($event)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="fileRejectForm" id="fileRejectForm">
                        <div class="modal-body has-scroll" >

                            <div class="input-form">
                                <label>Reason of File Reject:</label>
                                <!--<textarea class="form-control" rows="4" id="" formControlName="note" [(ngModel)]="rejectModel.note"></textarea>-->
                                <amharic-input [multiline]="true" rows="4" id="" formControlName="note" [(txtval)]="rejectModel.note"></amharic-input>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <div class="input-form align-right">
                                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                                <button class="btn btn-cis btn-sm" (click)="rejectChange()" [disabled]="!fileRejectForm.valid">Reject Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!--Spinner-->
    <ngx-spinner></ngx-spinner>
    
</div>