﻿@using System
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Login Page - BELCASH WSIS</title>
    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    <link type="image/x-icon" rel="shortcut icon" href="images/ierp.ico" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <img src="static/images/controls.png"/>
    <!-- Top Bar -->
    <section class="top_sec">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 top_lft">
                    <div class="inf_txt">
                        <h4>BELCASH WSIS</h4>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <div class="spacer-20"></div>
    <div class="container">
        <section id="abt_sec">
            <div class="row dashboard_sec">
                <div class="titl_sec">
                    <div class="col-lg-12">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div id="login_box">
                                <div class="modal-body">
                                    <div class="log_form">
                                        <h2 class="frm_titl"> Login Form </h2>
                                        <form method="post" enctype="multipart/form-data" action="login.html" accept-charset="UTF-8">
                                                <div class="control-group form-group">
                                                    <div class="controls">
                                                        <input type="text" class="form-control" name="username" id="username" required data-validation-required-message="Please enter your username." placeholder="Username">
                                                        <p class="help-block"></p>
                                                    </div>
                                                    <div class="controls">
                                                        <input type="password" class="form-control" id="password" name="password" required data-validation-required-message="Please enter your password." placeholder="Password">
                                                        <p class="help-block"></p>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <button type="submit" class="btn btn-primary">Sign In</button>
                                                    <div class="errorText text-center"><p>@Model.error</p></div>
                                                </div>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"> </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.row -->
        </section>
    </div>

    <script src="static/js/jquery.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        
    </script>

</body>
</html>
