﻿@using System
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>GAST Solar Mechanics Dashboard</title>
    <link type="text/css" rel="stylesheet" href="css/default.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/jquery.datetimepicker.css" />
    <link type="image/x-icon" rel="shortcut icon" href="images/ierp.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="initial-scale = 1, user-scalable = no" />
</head>
<body>
    @if (!Model.adj)
    {
        @Raw(Model.header)
    }
    <div class="title">
        <div class="row">
            <div class="container">
                <div class="text-center">
                    <h2>Customer Credit Settlement</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="row">
            <div class="container">
                <div class="search-bar" style="visibility:@Model.searchPanel">
                    <div class="row">
                        <div class="col-md-4">
                            <select id="prod_date_dd" value="yd" onchange="prod_dateTimeChanged()">
                                <option value="">-</option>
                                @foreach (var r in Model.date_ranges)
                                {
                                    <option value="@r.name">@r.desc</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="From" class="from-cal" id="datetimepicker1" readonly onchange="prod_dateFromChanged()" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="To" class="from-cal" id="datetimepicker2" readonly onchange="prod_dateToChanged()" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="factory-navigation">
        <div class="row">
            <div class="container">

                <div id="creditSettlementContainer" class="factory-material col-md-12 table-responsive">

                </div>
            </div>
        </div>
    </div>


    <div class="footer-separet"></div>
    <div class="footer">
        <div class="footer_bottom_content">
            <div class="text-center">
                Copyright © @DateTime.Now.Year GSM | Designed by <a href="http://www.intaps.com">INTAPS Consultancy plc</a>
            </div>
        </div>
    </div>
    <script src="script/jquery.min.js" type="text/javascript"></script>
    <script src="script/bootstrap.min.js" type="text/javascript"></script>
    <script src="script/jquery.datetimepicker.js" type="text/javascript"></script>
    <script src="script/callserver.js" type="text/javascript"></script>
    <script src="script/prod.js" type="text/javascript"></script>
    <script type="text/javascript">
        updateFunction=updateCreditSettlementReport;
        var __sessionID = '@Model.sid';
        var date_ranges = [
           @foreach (var rng in Model.date_ranges)
        {
            <text>
                 {name:'@rng.name',d1:'@rng.d1',d2:'@rng.d2',desc:'@rng.desc'},
            </text>
        }];

        var adjMode = '@Model.adj';
        window.onload =
            function () {
                if (adjMode === false) {
                    setDateRange('@Model.fromDate', '@Model.toDate');
                } else {
                    prod_dateTimeChanged();
                }
            };

        $('#datetimepicker2').datetimepicker({
            lang: 'en',
            timepicker: false,
            format: 'M d, Y',
            formatDate: 'Y/m/d'
        });
        $('#datetimepicker1').datetimepicker({
            lang: 'en',
            timepicker: false,
            format: 'M d, Y',
            formatDate: 'Y/m/d'
        });

    </script>
</body>
</html>
