﻿<table class="table">
    <thead>
        <tr>
            <td>No</td>
            <td>Customer Name</td>
            <td>Tin</td>
            <td>Total Sell</td>
            <td>Credit Taken</td>
            <td>Credit Settled</td>
            <td>Outstanding Credit</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var p in @Model.creditsettlementsList)
        {
            <tr>
                <td>@p.SNo</td>
                <td>@p.CustomerName</td>
                <td>@p.Tin</td>
                <td class="CurrencyCell">@p.TotalSell</td>
                <td class="CurrencyCell">@p.CreditTaken</td>
                <td class="CurrencyCell">@p.CreditSettle</td>
                <td class="CurrencyCell">@p.OutstandingCredit</td>
            </tr>
            
        }
        

    </tbody>
</table>