﻿<html>
<head>
    <title>Error</title>
    <link type="text/css" rel="stylesheet" href="css/default.css" />

</head>
<body>
    <h1>System Error</h1>
    <div class='error_text'>@Model.errorText</div>
</body>
</html>