﻿<div class="header">
    <div class="row">
        <div class="container">
            <div class="text-center">
                <img src="images/logo.png" />
            </div>
        </div>
    </div>
    <div class="menu">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="material.html?sid=@Model.sid">MATERIAL</a></li>
                        <li><a href="production.html?sid=@Model.sid">COST & PRODUCATION</a></li>
                        <li><a href="query.html?sid=@Model.sid">QUERY MATERIAL</a></li>
                        <li><a href="sales.html?sid=@Model.sid">SALES</a></li>
                        <li><a href="creditSettlement.html?sid=@Model.sid">CUSTOMERS</a></li>
                        <li><a href="login.html?sid=@Model.sid">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div><!--/.navbar -->
    </div>
</div>