﻿<table>
    <tr>
        <th>Item Code</th>
        <th class='currencyCell'>Item Name</th>
        <th></th>
    </tr>
    @foreach (var item in @Model.items)
    {
        <tr>
            <td>@item.itemCode</td>
            <td>@item.itemName</td>
            <td><a href="javascript:showMaterialDetail('@item.itemCode')">View Detail</a></td>
        </tr>
        
    }
    
</table>