﻿@model dynamic

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>GAST Chemical Dashboard</title>
    <link type="text/css" rel="stylesheet" href="css/default.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/berp.css" />
    <link type="image/x-icon" rel="shortcut icon" href="images/ierp.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale = 1, user-scalable = no">
</head>
    <body>
        @Raw(Model.header)
        <div class="title">
            <div class="row">
                <div class="container">
                    <div class="text-center">
                        <h2>Material Overview</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="row">
                <div class="container">
                    <div class="store" onclick="loadInventory('s_-1', '-1')">
                        <h2><span>All Stores</span></h2>
                    </div>
                    <div id="s_-1" class="material_container"></div>
                </div>
            </div>
        </div>
        @foreach (var s in @Model.stores)
        {
            <div class="navigation">
                <div class="row">
                    <div class="container">
                        <div class="store" onclick="loadInventory('s_@s.id', '@s.id')">
                            <h2><span>@s.name</span></h2>
                        </div>
                        <div id="s_@s.id" class="material_container"></div>
                    </div>
                </div>
            </div>    
        }
        <div class="navigation">
            <div class="row">
                <div class="container">
                    <div class="store" onclick="loadBelowNormaLevel('s_below')">
                        <h2><span>Below Normal Level Stock Items</span><span style="float:right;"></span></h2>
                    </div>
                    <div id="s_below" class="material_container"></div>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="row">
                <div class="container">
                    <div class="store" onclick="loadAboveNormaLevel('s_above')">
                        <h2><span>Above Normal Level Stock Items</span><span style="float:right;"></span></h2>
                    </div>
                    <div id="s_above" class="material_container"></div>
                </div>
            </div>
        </div>

        <div class="footer-separet"></div>
        <div class="footer">
            <div class="footer_bottom_content">
                <div class="text-center">
                    Copyright © 2015 GSM
                    | Designed by <a href="http://www.intaps.com">INTAPS Consultancy plc</a>
                </div>
            </div>
        </div>
        <script src="script/jquery.min.js" type="text/javascript"></script>
        <script src="script/bootstrap.min.js" type="text/javascript"></script>
        <script src="script/callserver.js" type="text/javascript"></script>
        <script src="script/prod.js" type="text/javascript"></script>
        <script>
            var __sessionID = '@Model.sid';
            var storeIds = [
                @foreach (var s in Model.stores)
                {
                    <text>
             's_@s.id',
        </text>
                }'s_below','s_above','s_-1'];

            window.onload=function()
            {
            }
        </script>
    </body>
</html>