﻿<div class="print-head">
    <div class="container">
        <div class="row">
            <div class="col-md-12 print-command">
                <ul>
                    <li><div class="button"><a href="javascript:printdocument()"><span>Print</span></a></div></li>
                    <li><div class="button center"><a href="#"><span>Export to MS-WORD</span></a></div></li>
                    <li><div class="button"><a href="#"><span>Export to PDF</span></a></div></li>
                </ul>
            </div>
            <div class="col-md-12">
                <iframe class="certificate_iframe" scrolling="yes" id="printable" frameborder="0" src="production_order_sheet.html"></iframe>
            </div>

        </div>
    </div>
</div>
