﻿<table class="table">
    <thead>
        <tr>
            <td class="td-top-left" colspan="3" rowspan="2" valign="middle">Cost Item</td>
            @foreach(var p in Model.products)
            {
                <td align="center" colspan="@Model.nColPerItem">@p</td>
            }
            
            
            <td align="center" colspan="@Model.nColPerItem" class="td-top-right">All Products</td>
        </tr>
        <tr>
            @foreach (var p in Model.products)
            {
                <td align="center">Quantity</td>
                <td align="center">Amount</td>
                if(Model.totalUnitAdjustedCost != null)
                {
                    <td align="center">Adjusted Amount</td>    
                }
            }
            <td align="center">Quantity</td>
            <td align="center">Amount</td>
            @if(Model.totalUnitAdjustedCost != null)
            {
                <td align="center">Adjusted Amount</td>   
            }
        </tr>

    </thead>
    <tbody>
        <tr>
            <td colspan="3">Production</td>
            @foreach (var p in Model.production)
            {
                <td>@p.q</td>
                <td>@p.a</td>
                if (Model.totalUnitAdjustedCost != null)
                {
                    <td>-</td>
                }
            }
            <td>@Model.totalProduction.q</td>
            <td>@Model.totalProduction.a</td>
            @if (Model.totalUnitAdjustedCost != null)
            {
                <td>-</td>
            }
        </tr>
        
        @foreach (var s in Model.costSections)
        {
            <tr>
                @{
                    int x = (Model.totalUnitAdjustedCost != null) ? Model.itemCount*3 + 6 : Model.itemCount*2 + 5;
                    <td colspan="@x" class="separter">@s.name</td>
                }
            </tr>
            foreach (var item in s.subItems)
            {
                <tr>
                    <td></td>
                    <td>@item.no</td>
                    <td>@item.desc</td>
                    @foreach (var c in item.costs)
                    {
                        <td>@c.q</td>
                        <td align="right">@c.a</td>
                        if (Model.totalUnitAdjustedCost != null)
                        {
                            <td align="right">@c.adj</td>
                        }
                    }
                    <td>@item.totalCost.q</td>
                    <td align="right">@item.totalCost.a</td>
                    @if (Model.totalUnitAdjustedCost != null)
                    {
                        <td align="right">@item.totalCost.adj</td>
                    }
                </tr>
            }
        }
        <tr class="table-footer">
            <td colspan="3">Total Cost</td>
            @foreach (var c in Model.colTotals)
            {
                <td>@c.q</td>
                <td align="right">@c.a</td>
                if (Model.totalUnitAdjustedCost != null)
                {
                    <td align="right">@c.adj</td>
                }
            }
            <td>@Model.totalCost.q</td>
            <td align="right">@Model.totalCost.a</td>
            @if (@Model.totalUnitAdjustedCost != null)
            {
                <td align="right">@Model.totalCost.adj</td>
            }
        </tr>
        
        <tr class="table-footer">
            <td colspan="3">Unit Production Cost</td>
            @foreach (var c in Model.unitCosts)
            {
                if (Model.totalUnitAdjustedCost != null)
                {
                    <td></td>
                    <td align="right">@c.a</td>
                    <td align="right">@c.adj</td>
                }
                else
                {
                    <td align="right" colspan="2">@c</td>
                }
            }

            <td align="right" colspan="2">@Model.totalUnitCost</td>
            @if(Model.totalUnitAdjustedCost != null)
            {
                <td align="right" colspan="2">@Model.totalUnitAdjustedCost</td>
            }

        </tr>

    </tbody>
</table>