﻿<h3>Stock of: @Model.itemName</h3>
<table>
    <tr>
        <th>Store</th>
        <th class='currencyCell'>Quantity</th>
        <th class='currencyCell'>Unit Price</th>
        <th class='currencyCell'>Price</th>
        <th></th>
    </tr>
    @foreach(var item in @Model.items)
    {
         <tr>
            <td>@item.store</td>
            <td class='currencyCell'>@item.q</td>
            <td class='currencyCell'>@item.up</td>
            <td class='currencyCell'>@item.p</td>
            <td><a href="javascript:showStockCard('@Model.itemName','@Model.itemCode',@item.storeID)">View Stock Card</a></td>
        </tr>   
    }
    <tr>
        <th>Total</th>
        <th class='currencyCell'>@Model.totalQ</th>
        <th class='currencyCell'>@Model.totalUp</th>
        <th class='currencyCell'>@Model.totalP</th>
        <td><a href="javascript:showStockCard('@Model.itemCode',-1)">View Bin Card</a></td>
    </tr>

</table>