﻿@using System
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>GAST Chemical Dashboard</title>
    <link type="text/css" rel="stylesheet" href="css/default.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/berp.css" />
    <link type="text/css" rel="stylesheet" href="css/jquery.datetimepicker.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale = 1, user-scalable = no">
</head>
<body>
    @Raw(Model.header)
    <div class="title">
        <div class="row">
            <div class="container">
                <div class="text-center">
                    <h2>Information Query Page</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="row">
            <div class="container">
                <div class="search-bar">
                    <div class="row">
                        <div class="col-md-12">
                            <p> Item Code:</p>
                            <input type="text" name="itemCode" id="itemCode" placeholder="Please Enter Item Code" />
                            <input type="button" value="Check Material" class="sub-button" onclick="checkMaterial()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="row">
            <div class="container">
                <div class="result">
                    <h2><span>Result</span><span style="float:right;"></span></h2>
                </div>
                <div id="result_pane"></div>
            </div>
        </div>
    </div>


    <div class="footer-separet"></div>
    <div class="footer">
        <div class="footer_bottom_content">
            <div class="text-center">
                Copyright © @DateTime.Now.Year GSM
                | Designed by <a href="http://www.intaps.com">INTAPS Consultancy plc</a>
            </div>
        </div>
    </div>
    <script src="script/jquery.min.js" type="text/javascript"></script>
    <script src="script/bootstrap.min.js" type="text/javascript"></script>
    <script src="script/jquery.datetimepicker.js" type="text/javascript"></script>
    <script src="script/callserver.js" type="text/javascript"></script>
    <script src="script/prod.js" type="text/javascript"></script>
    <script type="text/javascript">
        var __sessionID = '@Model.sid';
    </script>
</body>
</html>