﻿@using System
@using System.Security.AccessControl
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>GAST Chemical Dashboard</title>
    <link type="text/css" rel="stylesheet" href="css/default.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/jquery.datetimepicker.css" />
    <script>
        window.onload=function()
        {
            var righth= document.getElementById('right').clientHeight;
            var lefth=document.getElementById('left').clientHeight;
            if(righth > lefth)
            {
                document.getElementById('left').style.height=righth + 'px';
            }
            else
            {
                document.getElementById('right').style.height=lefth + 'px';
            }

        }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="initial-scale = 1, user-scalable = no" />
</head>
<body>
    @Raw(@Model.header) 
    <div class="title">
        <div class="row">
            <div class="container">
                <div class="text-center">
                    <h2>Sales Report</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="row">
            <div class="container">
                <div class="search-bar">
                    <div class="row">
                        <div class="col-md-4">
                            <select id="prod_date_dd" value="yd" onchange="prod_dateTimeChanged()">
                                <option value="">-</option>
                                @foreach (var r in Model.date_ranges)
                                {
                                    <option value="@r.name">@r.desc</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="From" class="from-cal" id="datetimepicker1" readonly onchange="prod_dateFromChanged()" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="To" class="from-cal" id="datetimepicker2" readonly onchange="prod_dateToChanged()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sales-navigation">
        <div class="row">
            <div class="container" id="salesContiner">
                <div id="salesReportError"></div>
                <div class="store">
                    <h2><span>SALES</span><span id="productSold2" style="float:right;"></span></h2>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="store-material col-md-12">
                    <div class="sales ">
                        <h3><span>Product Sold</span><span id="productSold" style="float:right;"></span></h3>
                    </div>
                    <div class="sales">
                        <h3><span>Cost of Product Sold</span><span id="costOfProductSold" style="float:right;"></span></h3>
                    </div>
                    <div class="sales">
                        <h3><span>Gross Profit</span><span id="sellsProfit" style="float:right;"></span></h3>
                    </div>
                </div>
                <div class="store-material col-md-12 ">
                    <div class=" sales">
                        <h2>Sales Trend</h2>
                        <canvas id="salesTend"></canvas>
                        <select id="trendUnitSelector" onchange="sales_trendChanged()">
                            <option value="dy">Daily</option>
                            <option value="wk" selected>Weekly</option>
                            <option value="mt">Monthly</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="store-material col-md-6 left" id="">
                    <div class=" sales">
                        <h2>Sales Distribution By Product</h2>
                        <canvas id="salesDist"></canvas>
                        <table id="distLegend"></table>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <div class="store-material col-md-6" id="right">
                    <div class="sales">
                        <h2>Sales Distribution By Customer</h2>
                        <canvas id="salesCustDist"></canvas>
                        <table id="distCustLegend"></table>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-separet"></div>
    <div class="footer">
        <div class="footer_bottom_content">
            <div class="text-center">
                Copyright © @DateTime.Now.Year GSM
                | Designed by <a href="http://www.intaps.com">INTAPS Consultancy plc</a>
            </div>
        </div>
    </div>

    <script src="script/jquery.min.js" type="text/javascript"></script>
    <script src="script/jquery.datetimepicker.js" type="text/javascript"></script>

    <script src="script/numeral.min.js" type="text/javascript"></script>
    <script src="script/bootstrap.min.js" type="text/javascript"></script>
    <script src="script/Chart.js"></script>
    <script src="script/callserver.js" type="text/javascript"></script>
    <script src="script/prod.js" type="text/javascript"></script>
    <script>
        updateFunction=updateSalesReport;
        var __sessionID = '@Model.sid';
        var date_ranges = [
           @foreach (var rng in Model.date_ranges)
        {
            <text>
                 {name:'@rng.name',d1:'@rng.d1',d2:'@rng.d2',desc:'@rng.desc'},
            </text>
        }];

        window.onload=prod_dateTimeChanged();
        $('#datetimepicker2').datetimepicker({
            lang: 'en',
            timepicker: false,
            format: 'M d, Y',
            formatDate: 'Y/m/d'
        });
        $('#datetimepicker1').datetimepicker({
            lang: 'en',
            timepicker: false,
            format: 'M d, Y',
            formatDate: 'Y/m/d'
        });


    </script>
</body>
</html>