﻿@using System
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>GAST Chemical Dashboard</title>
    <link type="text/css" rel="stylesheet" href="css/default.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="image/x-icon" rel="shortcut icon" href="images/ierp.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale = 1, user-scalable = no">
</head>
<body>
    
    <div class="main-body">
        <div class="row">
            <div class="container">
                <div class="text-center">
                    <h2>GAST SOLAR MECHANICS CHEMICAL and <br />CHEMICAL MANUFACTURING </h2>
                    <p>Single Production Batch Cost Detail</p>
                </div>
                <div class="col-md-12">
                    <div class="table-head table-responsive">
                        <table>
                            <tr>
                                <td></td>
                                <td>NO: <span class="batch_info_item">@Model.batchNo</span></td>
                            </tr>
                            <tr>
                                <td>Product: <span class="batch_info_item">@Model.productName</span></td>
                                <td>Date: <span class="batch_info_item">@Model.batchDate</span></td>
                            </tr>
                            <tr>
                                <td>Product Code: <span class="batch_info_item">@Model.productCode</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Bache Volume: <span class="batch_info_item">@Model.batchVolume</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Batch Type: <span class="batch_info_item">@Model.batchType</span></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="header-title">
                        <h3>Cost Summary: @Model.totalCost</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-head table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                @{
                                    if (Model.costSum != null)
                                    {
                                        foreach (var sum in @Model.costSum)
                                        {
                                            <tr>
                                                <td>@sum.desc</td>
                                                <td>@sum.cost</td>
                                            </tr>

                                        }
                                        <tr>
                                            <td align="right"><strong>Total Cost:</strong></td>
                                            <td>@Model.totalCost</td>
                                        </tr>
                                    }
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="header-title">
                        <h3>Material Cost: @Model.totalMatCost</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-head table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td>No.</td>
                                    <td>Item Code</td>
                                    <td>Description of Raw Material</td>
                                    <td>Quantity</td>
                                    <td>Unit</td>
                                    <td>Unit Cost</td>
                                    <td>Cost</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mat in Model.materialCosts)
                                {
                                    <tr>
                                        <td>@mat.no</td>
                                        <td>@mat.code</td>
                                        <td>@mat.desc</td>
                                        <td>@mat.quantity</td>
                                        <td>@mat.unit</td>
                                        <td>@mat.unitCost</td>
                                        <td>@mat.cost</td>
                                    </tr>

                                }
                                <tr>
                                    <td colspan="6" align="right"><strong>Total Material Cost:</strong></td>
                                    <td>@Model.totalMatCost</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="header-title">
                        <h3>Process Cost: @Model.totalProcessCost</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-head table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Process</td>
                                    <td>Hours</td>
                                    @foreach (var pct in Model.procCostTypes)
                                    {
                                        <td>@pct</td>

                                    }
                                    <td>Cost</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pc in Model.procCosts)
                                {
                                    <tr>
                                        <td>@pc.name</td>
                                        <td>@pc.hours</td>
                                        @foreach (var c in pc.costs)
                                        {
                                            <td>@c</td>
                                        }
                                        <td>@pc.cost</td>
                                    </tr>
                                }

                                <tr>
                                    <td colspan="@Model.nProcCostTypes + 2" align="right"><strong>Total</strong></td>
                                    <td>@Model.totalProcessCost</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="header-title">
                        <h3>Quality Control: @Model.qualityIndex</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-head table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>Parameter</td>
                                    <td>Standard</td>
                                    <td>Actual</td>
                                    <td>Diviation</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var qc in Model.qcData)
                                {
                                    <tr>
                                        <td>@qc.no</td>
                                        <td>@qc.desc</td>
                                        <td>@qc.standard</td>
                                        <td>@qc.actual</td>
                                        <td>@qc.deviation</td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-separet"></div>
    <div class="footer">
        <div class="footer_bottom_content">
            <div class="text-center">
                Copyright © @DateTime.Now.Year GSM
                | Designed by <a href="http://www.intaps.com">INTAPS Consultancy plc</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="script/external.js"></script>
    <script src="script/jquery.min.js" type="text/javascript"></script>
    <script src="script/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>