.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../../assets/bg.jpeg') no-repeat;
  background-size: cover;
  z-index: 97;

  #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    z-index: -1;
  }

  .login-card {
    width: 500px;
    height: fit-content;
    margin: 8% auto;
    padding: 30px;
    background-color: rgba(230, 230, 230, 1);
    border: 1px solid #8e8e8e;
    border-radius: 10px;
    z-index: 99;

    .login-title {
      font-size: 30px;
      margin: 20px;
      text-align: center;
    }

    .login-form {
      width: 100%;

      .input-group {
        width: 80%;
        margin: auto;

        .input {
          width: 350px;
          margin: 20px 10px;
          font-size: 15px;

          padding: 5px;
        }
      }
      .submit {
        width: 100%;
        margin: 30px 0;
        height: 40px;
        font-size: 19px;
        font-stretch: extra-expanded;
        font-weight: bolder;
        border-radius: 4px;
        border: none;
        background: #2e2e2e;
        color: #fff;
      }

      .submit:hover {
        background: #4e4e4e;
      }
    }
  }
}

.snack-error {
  * {
    background: #be1e1e !important;
  }
}