<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title ">Change Your Password</h5>
        <button type="button" class="close" (click)="closePassForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="updatePassForm" id="updatePassForm">
        <div class="modal-body has-scroll" >
            <ul class="nav">
                <li><div class="input-form">
                    <label>New Password:</label>
                    <input type="password" class="form-control" id="newPass" formControlName="newPass" [(ngModel)]="passwordModel.NewPassword">
                </div></li>
                <li><div class="input-form">
                    <label>Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPass" formControlName="confirmPass" (keyup)="checkDiff()">
                    <span class="error confirmPassord">{{newPassConfirm}}</span>
                </div></li>
            </ul>
        </div>
        <div class="modal-footer ">
            <div class="input-form align-right">
                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                <button class="btn btn-cis btn-sm" (click)="updatePass()" [disabled]="!updatePassForm.valid">Update</button>
            </div>
        </div>
    </form>
</div>