table
{
    background: #D3E4E5;
    border: 1px solid gray;
    border-collapse: collapse;
    font: normal 12px verdana, arial, helvetica, sans-serif;
    width: 100%;
}
caption
{
    border: 1px solid #5C443A;
    color: #5C443A;
    font-weight: bold;
    letter-spacing: 20px;
    padding: 6px 4px 8px 0px;
    text-align: center;
    text-transform: uppercase;
}
td, th
{
    border-width: thin;
    border-style: none solid none none;
    padding: .4em;
}
tr
{
    border: 1px dotted gray;
}
thead th, tfoot th
{
    background: #1C1411;
    color: #FFFFFF;
    padding: 3px 10px 3px 10px;
    text-align: left;
    text-transform: uppercase;
}
tbody td a
{
    color: #363636;
    font-weight: normal;
    text-decoration: none;
    outline: none;
}
tbody th, tbody td
{
    text-align: left;
    vertical-align: top;
}
tfoot td
{
    background: #5C443A;
    color: #FFFFFF;
    padding-top: 3px;
}

h1, h2, h3, h4, h5, h6
{
    color: #474747;
    font-family: "Open Sans" , "Georgia" , "Times New Roman" ,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    clip: rect(auto, auto, 0px, auto);
}
.Section_Header_3
{
    background: #5C443A;
    color: #FFFFFF;
    padding: 3px 10px 3px 10px;
    text-align: left;
    text-transform: uppercase;
}
.SubTitle
{
    color: #5C443A;
    font-size: 14pt;
    font-family: 'Arial Narrow';
    text-align: center;
    width: 100%;
}
.GroupSeparator
{
    background: #A68071;
    height: 5pt;
}
.Section_Header_1
{
    background: #D6C6BE;
    color: #000000;
    font-weight: bold;
    font-family: 'Arial Rounded MT Bold';
}
.Section_Header_2
{
    background: #000099;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Arial Rounded MT Bold';
}
.Even_Row
{
    color: #000000;
}
.Odd_Row
{
    background: #fff;
    color: #000000;
}

.Item_cmd
{
    width: 0%;
}
.IndentCell
{
    border-style: none none none none;
    border-width: thin;
    width: 0%;
}
.currencyCell
{
    text-align: right;
}

.centeredCell
{
    text-align: center;
}
.over_budget
{
    background-color: Red;
    color: Black;
}
.within_budget
{
    background-color: Green;
    color: Black;
}
.not_budgeted
{
    background-color: Gray;
    color: Black;
}
.not_using_budget
{
    background-color: Yellow;
    color: Black;
}
.error
{
    color: Red;
}
.commandLink
{
    display: inline-block;
    background-color: Blue;
    color: White;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    height: 100%;
}

table.commandTable
{
    border-spacing: 5px;
}
.commandCell
{
    vertical-align: middle;
    background-color: Blue;
    border-left: gray thin solid;
    border-right: gray thin solid;
}
.LedgerGridHeadCell
{
    background-color: black;
    color: white;
    border-bottom: #e0e0e0 thin solid;
    border-left: #e0e0e0 thin solid;
    border-top: #e0e0e0 thin solid;
    border-right: #e0e0e0 thin solid;
    vertical-align: bottom;
}
.LedgeSubTotalHeadCell
{
    color: black;
    border-bottom: black thin solid;
    border-top: black thin solid;
    vertical-align: bottom;
    font-weight: bold;
}
.LedgeDetailedItem
{
    background-color: white;
    color: black;
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
    font-style: italic;
    font-size: smaller;
}
.LedgerGridFooterCell
{
    background-color: black;
    color: white;
    border-bottom: #e0e0e0 thin solid;
    border-left: #e0e0e0 thin solid;
    border-top: #e0e0e0 thin solid;
    border-right: #e0e0e0 thin solid;
    vertical-align: bottom;
}

.LedgerGridOddRowCell
{
    background-color: #F0F0F0;
    color: black;
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
}
.LedgerGridEvenRowCell
{
    background-color: white;
    color: black;
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
}
.BorderCell
{
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
}
.CurrencyCell
{
    text-align: right;
}

.BoldTextHeaderCell
{
    background-color: #F0F0F0;
    font-weight: bold;
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
}
.BoldTextFooterCell
{
    font-weight: bold;
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
}
.accountDocumentRef
{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.accountDocumentDate
{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.accountDocumentVoucher
{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.accountDocumentSupplierName
{
    text-align: left;
}
.accountDocumentSupplierTIN
{
    text-align: left;
}
.itemTable
{
    width: 60%;
}
.labelStyle
{
    font-weight: bold;
}
.documentNote
{
    text-decoration: underline;
    font-size: medium;
}
.documentNoteLabel
{
    font-weight:bold;
    font-size: medium;
}

.dcfrMainEven
{
    border-style: solid none solid none;
    border-width: thin;
    color: #000000;
}
.dcfrMainOdd
{
    border-style: solid none solid none;
    border-width: thin;
    background: #fff;
    color: #000000;
}

.dcfrUntracableLabel
{
    color:Red
}
.dcfrDetailDesc
{
   
}
.dcfrDetailAmount
{
    text-align: right;
    vertical-align: bottom;
}
.dcfrRef
{
     font-weight: bold;
}
.dcfrDate
{
    
}
.dcfrTime
{
    font-size: small;
}
.dcfrSummaryValue
{
    text-align: right;
}
.dcfrSummaryTotal
{
    text-align: right;
}
.dcfrDocumentBorderLeft
{
    border-style: solid none solid solid;
    border-width: medium;
    border-color: #420000;
}
.dcfrDocumentBorderTop
{
    border-style: solid none none none;
    border-width: medium;
    border-color: #420000;
}
.dcfrDocumentBorderTopRight
{
    border-style: solid solid none none;
    border-width: medium;
    border-color: #420000;
}

.dcfrDocumentBorderRight
{
    border-style: none solid none none;
    border-width: medium;
    border-color: #420000;
}
.dcfrDocumentBorderBottomRight
{
    border-style: none solid solid none;
    border-width: medium;
    border-color: #420000;
}

.dcfrDocumentBorderBottm
{
    border-style: none none solid none;
    border-width: medium;
    border-color: #420000;
}
.dcfrPurchaseItemTable
{
    background:white
}
.dcfrNo
{
    background:white    
}

.dcfrSubItemNo
{
    font-weight:bold
}
.footerDiv
{
    border-width: thin;
    border-style: solid none none none;
    font-size: small;
    font-style: italic;
    text-align: right;
}