﻿
body
{
}
img
{
	width:100%;
}

h2
{
	font-family:"Century Gothic";
	font-weight:100;
	
}
p
{
	font:14px Calibri;
}
.header
{
	border-bottom: 1px solid #06C;
}
.headerTitle
{
	text-align:center;
	width:100%;
	background:#4b4c47;
	padding-left:1%;
	padding-top:2px;
	border-bottom:5px solid #80b307;
}
.headerTitle h1
{
    color:#FFF;
    display: block;
    font-family: Arial, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-variant: normal;
    height: 19px;
    letter-spacing: 0.5px;
    line-height: 19.2000007629395px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 5px;
    text-transform: uppercase;
}
.loginform
{
	width:100%;
	text-align:center;
	font: 13px 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-serif;
	
	
}
.loginform-form
{
	
   
    
}
.loginform form input
{
	padding: 9px 10px;
    color: #000;
    background: #fff;
	border-width: 1px;
	border-style: solid;
  	border-color: #DCDEE2 #E9EBED #E9EBED #DCDEE2;
	font: 13px 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-serif;
}
.input
{
	width:300px;
}
.logintable
{
	margin-top:5%;
    margin-left: auto;
    margin-right: auto;
	background: #E9EAEB;
    border: 1px solid #DFE1E6;
	border-bottom: 1px solid #D8DAE0;
	padding: 5% 5%;
}
.logintable td
{
	padding-bottom:2%;
}
.info
{
	font:15px Verdana, Geneva, sans-serif;
	border-bottom: 1px solid #DCDEE2;
	text-align:center;
}
b
{
	text-transform:uppercase;
}
.referenceNo
{
	text-align:right;
	font:14px Tahoma, Geneva, sans-serif; 
}
.requestedItems
{
	float:left;
	width:47%;
}
.requestedItemsBody
{
	float:left;
	width:47%;
	
}
.requestedItemsBody table
{
	border-bottom:1px solid #cecee9;
	border-collapse:collapse;
	width:100%;
}
.requestedItems table
{
	border-bottom:1px solid #cecee9;
	width:100%;
	border-collapse:collapse;
}
.taskList
{
	width1:100;
	margin-top:2%;
}
.taskList table
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-bottom:1px solid #cecee9;
	border-collapse:collapse;
	border:1px solid #cecee9;
}
.taskList table td
{
	font:13px Calibri;
	text-align:left;
	padding:5px 10px 5px 10px;
}
.tableHeader 
{
	text-transform:uppercase;
	background:#333333;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-size:12px;
}
.tableHeader td
{
	padding:5px 10px 5px 10px;
}
.requestedList
{
	font: 12px Calibri;
	
}
.requestedList td
{
	padding:0px 10px 0px 10px;
}
.costSummary 
{
	font: 13px Calibri;
	font-weight:bold;
	border:1px solid #cecee9;
}
.costSummary td
{
}
.history
{
	float:right;
	width:47%;
}
.commands
{
	float:left;
	margin-top:5%;
}
.commands td
{
	background:#3ca737;
	text-align:center;
	border-radius:5px;
	width:auto;
}
.commands td: hover
{
	background:#1c7818;
}
.commands td a
{
	font:13px Calibri;
	color:#FFF;
	text-decoration:none;
	text-transform:capitalize;
	padding:5px 5px 5px 5px;
	display:block;
	width:100%;
	height:100%;
}
.commands td a:hover
{
	text-decoration:underline;
	font-weight:bold;
	background:#033;
	
}
.history table
{
	width:100%;
	float:right;
	border:2px solid #cecee9;
}
.history .header
{
	text-transform:uppercase;
	background:#069;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-size:12px;
	text-align:center;
}
.history .header td
{
padding:5px 10px 5px 10px;
}
.date
{
	float:right;
	font:12px Calibri;
	color:#036;
}
.name
{
	font:13px Calibri;
	padding-left:10px;
}
.title
{
	font:13px Calibri;
	padding-left:10px;
	text-align:center;
}
.note
{
	font:13px Calibri;
	padding-left:10px;
	border-bottom: 1px solid #cecee9;
	padding-bottom:20px;
}
.description
{
	font:13px Calibri;
	padding-left:10px;
	background:#e1e1f9;
}
.backGround
{
	float:left;
	width:100%;
	font:12px Calibri;
	border:1px; solid #09C;
}
.backGround h2
{
	font-family:"Century Gothic";
	font-weight:100;
}
.itemCommand
{
	background:#3ca737;
}
.itemCommand table
{
	width:auto;
}
.itemCommand td
{
	border-right:1px solid #516a15;
	background:#3ca737;
	text-align:center;
	width:auto;
}
.itemCommand td a
{
	font:13px Calibri;
	color:#FFF;
	text-decoration:none;
	text-transform:capitalize;
	padding:10px 10px 10px 10px;
	display:block;
	width:100%;
	height:100%;
	
}
.itemCommand td a:hover
{
	text-decoration:underline;
	font-weight:bold;
	background:#033;
}
.SupInfo
{
	font:14px Calibri;
	margin-top:2%;
	float:left;
}
.orderList
{
	width:50%;
	float:left;
}

.link a
{
	font:13px Calibri;
	color:#FFF;
	text-decoration:none;
	text-transform:capitalize;
	padding:5px 5px 5px 5px;
	display:block;
	width:100%;
	height:100%;
}
.link a:hover
{
	text-decoration:underline;
	font-weight:bold;
	background:#033;
}
.link
{
	margin-top:5%;
	width:100%;
	background:#3ca737;
}
.commands1
{
	background:#3ca737;
	width:100%;
}
.commands1 table
{
	width:auto;
	border:none;
}
.commands1 td
{
	background:#3ca737;
	text-align:center;
	border-radius:5px;
	width:auto;
	border-right:1px solid #516a15;
}
.commands1 td a
{
	font:13px Calibri;
	color:#FFF;
	text-decoration:none;
	text-transform:capitalize;
	padding:5px 5px 5px 5px;
	display:block;
	width:100%;
	height:100%;
}
.commands1 td a:hover
{
	text-decoration:underline;
	font-weight:bold;
	background:#033;
	
}
.fulfillment
{
	float:left;
}
.reActivity
{
	float:left;
}
.hpDesc
{
    
	font:14px Tahoma, Geneva, sans-serif;
}
.hpStatus
{
	font-style:oblique;
	font-size:14px;
	color:#090;
}
.hpDate
{
    float:right;
	font:13px Tahoma, Geneva, sans-serif;
	color:#33F;
	margin-top:-2%;
}
.header
{
	text-align:center;
	border-bottom:2px double #009;
}
.refbody
{
	float:left;
	width:100%;
}
.DandR
{
	float:right;
	font:12px Tahoma, Geneva, sans-serif;
}
.DandR table
{
	width:auto;
}
.requestedItems2 
{
	float:left;
	width:100%;
}
.commandTable
{
	border:1px solid #03F;
	font:11px Calibri;
	width:100%;
}
.commandTable table
{
	width:auto;
}
.align
{
	float:right;
	
}
.separation
{
	border-bottom:1px solid #09F;
}

.paymentrequest
{
	border:1px solid #3CF;
}
.paymentrequest td
{
	padding:10px 10px 10px 10px;
}
.copy 
{
	font-weight:bold;
	float:right;
	
}
.Title
{
	float:left;
}
h6
{
	page-break-inside:auto;
    page-break-inside:avoid; 
	page-break-after:always;
	text-align:center;
}
.poSummary
{
    
}
.bodysepareter
{
	width:100%;
	border-bottom:5px solid #4b4c47;
	height:2px;
	float:left;
}
.related
{
	border-bottom:1px solid #666;
}
.purpose
{
	width:100%;
	background:#cc0000;
	padding-left:1%;
	margin-top:2%;
	padding-top:2px;
}
.purpose h2
{
   margin: 5px 0 5px 0;
   padding: 2px 5px 2px 4px;
   color: #FFF;
   background-color: #CC0000;
   letter-spacing: .5px;
   font-style: normal;
   font-variant: normal;
   font-size:16px;
}
.footer
{
	text-align:center;
	width:100%;
	background:#4b4c47;
	border-top:5px solid #80b307;
	text-align:center;
	float:left;
	font-size:8px;
	margin-top:2%;
}
.footer a, .footer p
{
	color:#FFF;
	
}
.powered_by
{
	text-align:center;
	width:100%;
	border-top:1px solid #666;
	margin-top:1%;
	font:12px Verdana, Geneva, sans-serif;
}