.view-task-component {
  width: 60%;
  margin: 20px auto;
  padding: 40px;

  .buttons {
    float: right;
    display: block;

    .btn {
      margin: 0 5px;
    }
  }

  .view-container {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    padding: 5px;

    .name {
      width: fit-content;
      font-size: 30px;
      text-transform: capitalize;
      display: block;
    }

    .task-type {
      width: fit-content;
      display: inline-block;
      margin: 0;
      float: right;
      color: #7e7e7e;
    }

    .description-section {
      display: block;
      width: 100%;
      margin: 20px;

      .icon {
        display: inline-block;
      }

      .info {
        display: inline-block;
        margin: 0 0 0 10px;
        max-width: 80%;

        .task-field {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .info {
      //padding: 10px;
      margin: 20px 0;

      .label {
        text-transform: capitalize;
        margin: 10px 5px;
        color: #7e7e7e;
        display: block;
      }

      .value {
        margin: 0 10px;
        font-size: 20px;
      }
    }
  }
}

.notes-container {
  .create-note-btn {
    position: fixed !important;
    bottom: 40px;
    right: 40px;
  }
}

.create-note-modal {
  width: 50%;
  height: fit-content!important;
  margin: 10% auto;
  padding: 40px;

  .title {
    text-transform: uppercase;
    margin: 20px 10px;
    font-size: 20px;
    display: block;
  }

  .input {
    margin: 20px 0;
  }

  .image-input, .doc-input {
    margin: 40px 0;
  }

  .done-btn {
    display: block;
  }
}

.asset-info {

  .label {
    text-transform: capitalize;
    margin: 10px 60px;
    color: #7e7e7e;
    display: block;
  }

  .mini-map {
    margin-top: 20px;
    width: 100%;
    display: block;

    .map {
      height: 100%;
    }
  }

  .more-asset {
    margin: 20px !important;
  }
}

.date-section {
  display: block;
  width: 100%;
  margin: 20px;

  .start-date {
    margin-left: 20px !important;
  }

  .info {
    display: inline-block;
    width: 30%;
    margin: 0 0 0 20px;

    .label {
      margin-bottom: 5px !important;
    }

    .value {
      margin-top: 5px !important;;
    }
  }
}

.incident {
  margin-left: 50px;

}

.the-container {
  display: inline-block;
  width: 100%;

  .description-section {
    width: 40% !important;
    display: inline-block !important;
    margin: 0;

    .icon {
      display: inline-block;
    }

    .info {
      width: fit-content;
    }
  }
}

.info-assignee {
  display: inline-block;
  width: 80%;
  margin: 20px 0 0 15px;

  .label {
    margin-bottom: 10px !important;
    text-transform: capitalize;
    color: #7e7e7e;
    display: block;
  }

  .value {
    margin-top: 5px !important;;
  }
}

.info-warranty {
  display: inline-block;
  width: 80%;
  margin: 20px 0 0 15px;

  .label {
    margin-bottom: 10px !important;
    text-transform: capitalize;
    color: #7e7e7e;
    display: block;
  }

  .value {
    margin-top: 5px !important;;
  }
}