table
{
    background: #D3E4E5;
    border: 1px solid #000000;
    border-collapse: collapse;
    font: normal 12px verdana, arial, helvetica, sans-serif;
    width: 100%;
    page-break-inside: auto;
}
caption
{
    border: 1px solid #5C443A;
    color: #5C443A;
    font-weight: bold;
    letter-spacing: 20px;
    padding: 6px 4px 8px 0px;
    text-align: center;
    text-transform: uppercase;
}
td, th
{
    border-width: thin;
    border-style: none solid none none;
    padding: .4em;
}
tr
{
    border: 1px dotted gray;
    page-break-inside:avoid;
    page-break-after:auto
}
thead th, tfoot th
{
    background: #FFFFFF;
    color: #000000;
    padding: 3px 10px 3px 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
thead
{
    display:table-header-group;
}
tbody td a
{
    color: #363636;
    font-weight: normal;
    text-decoration: none;
    outline: none;
}
tbody th, tbody td
{
    text-align: left;
    vertical-align: top;
}
tfoot td
{
    background: #5C443A;
    color: #FFFFFF;
    padding-top: 3px;
}

h1, h2, h3, h4, h5, h6
{
    color: #474747;
    font-family: "Open Sans" , "Georgia" , "Times New Roman" ,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    clip: rect(auto, auto, 0px, auto);
}
span h1
{
    page-break-before:always
}

.Odd_Row
{
    color: #000000;
    font-size: x-small;
    border-bottom: #e0e0e0 thin solid;
    border-left: #e0e0e0 thin solid;
    border-top: #e0e0e0 thin solid;
    border-right: #e0e0e0 thin solid;
    border-color: #000000;
    background-color: white;
}
.Even_Row
{
    background: #fff;
    color: #000000;
    font-size: x-small;
    border-bottom: #e0e0e0 thin solid;
    border-left: #e0e0e0 thin solid;
    border-top: #e0e0e0 thin solid;
    border-right: #e0e0e0 thin solid;
    border-color: #000000;
    background-color: #F0F0F0;
}
.smallHeader
{
    background-color: white;
    color: black;
    border-bottom: #e0e0e0 thin solid;
    border-left: #e0e0e0 thin solid;
    border-top: #e0e0e0 thin solid;
    border-right: #e0e0e0 thin solid;
    vertical-align: bottom;
    font-size: x-small;
    border-color: #000000;
    font-weight: bold;
}




.generateError
{
    color: Red;
}




.LedgerGridHeadCell
{
    background-color: white;
    color: #000000;
    border-bottom: #e0e0e0 thin solid;
    border-left: #e0e0e0 thin solid;
    border-top: #e0e0e0 thin solid;
    border-right: #e0e0e0 thin solid;
    vertical-align: bottom;
    font-size: small;
    font-weight: bold;
    border-color: #000000;
}


.LedgerGridFooterCell
{
    background-color: white;
    color: black;
    border-bottom: #e0e0e0 thin solid;
    border-left: #e0e0e0 thin solid;
    border-top: #e0e0e0 thin solid;
    border-right: #e0e0e0 thin solid;
    border-style: double solid solid solid;
    border-width: medium;
    border-color: #000000;

    vertical-align: bottom;
    font-size: small;
    font-weight: bold;
}
.smallFooter
{
    background-color: white;
    color: black;
    vertical-align: bottom;
    font-size: x-small;
    font-weight: bold;
    border-bottom: #e0e0e0 thin solid;
    border-left: #e0e0e0 thin solid;
    border-top: #e0e0e0 thin solid;
    border-right: #e0e0e0 thin solid;
    border-style: double solid solid solid;
    border-width: medium;
    border-color: #000000;
}
.LedgerGridOddRowCell
{
    background-color: #F0F0F0;
    color: black;
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
    font-size: small;
}
.LedgerGridEvenRowCell
{
    background-color: white;
    color: black;
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
    font-size: small;
}

.CurrencyCell
{
    text-align: right;
}
.pagebreak { page-break-before: always; }