﻿.ol-popup {
  position: relative;
  top: 200px;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: '✖';
}

.map-legend {
  margin: 20px;
  //display: inline-flex;

  .title {
    width: 100%;
  }

  .legends {
    display: inline-flex;

    .l-container {
      margin: 10px;

      .label {
        color: #7e7e7e;
        font-weight: lighter;
        display: inline;
        font-size: 18px;
      }

      .icon {
        border-radius: 10px;
        height: 20px !important;
        width: 20px !important;
        display: inline-block;
        margin-right: 5px;
      }

      .unassigned-valve {
        background: rgba(135, 0, 0, 0.6)
      }

      .assigned-valve {
        background: rgba(255, 0, 0, 1.0)
      }

      .unassigned-pipe {
        background: rgba(110, 110, 110, 1.0);
      }

      .assigned-pipe {
        background: rgba(0, 0, 255, 0.7);
      }

      .assigned-reduce {
        background: rgba(150, 245, 150, 1.0);
      }

      .unassigned-reduce {
        background: rgba(150, 185, 150, 0.6);
      }

      .assigned-reservoir {
        background: rgba(0, 0, 255, 0.7);
      }

      .unassigned-reservoir {
        background: rgba(0, 0, 255, 0.7);
      }

      .assigned-borehole {
        background: rgba(0, 0, 0, 0.6);
      }

      .unassigned-borehole {
        background: rgba(0, 0, 0, 1.0);
      }

      .assigned-house {
        background: rgba(235, 235, 20, 1.0);
      }

      .unassigned-house {
        background: rgba(165, 165, 20, 0.6);
      }

      .assigned-hydrants {
        background: rgba(235, 20, 235, 1.0);
      }

      .unassigned-hydrants {
        background: rgba(165, 20, 165, 0.6);
      }

      .assigned-endpoint {
        background: rgba(20, 20, 235, 1.0);
      }

      .unassigned-endpoint {
        background: rgba(20, 20, 165, 0.6);
      }

      .assigned-waypoint {
        background: rgba(20, 20, 20, 1);
      }

      .unassigned-waypoint {
        background: rgba(20, 20, 20, 0.3);
      }

      .selected-asset {
        background: rgba(0, 255, 255, 1.0)
      }
    }
  }
}