<div class="tab-pane active" id="userManagment">
    <!--user list-->
    <div class="col-md-12 user_page" editor="hide">
        <div class="x_panel" *ngIf="config!=null">
            <div class="x_title row">
                <div class="col-md-10 col-sm-10 col-xs-10 top_search" *ngIf="config.applicationFor=='cis' && config!=null">
                    <div class="input-form">
                        <input type="text" class="form-control" placeholder="Search for..." (input)="filterUsers($event.target.value)">
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" *ngIf="config.applicationFor=='cis'">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <button class="btn btn-cis btn-sm" id="add_user_btn" [disabled]="isRegisterShowed" (click)="addBtnClick()"><i
                                    class="fa fa-plus"></i> Add User
                            </button>
                        </li>
                    </ul>
                </div>
                <h4 *ngIf="config.applicationFor=='wsis'&& config!=null"><i class="fa fa-align-justify"></i>  WSIS User List</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content has-scroll">
                <div class="" *ngIf="config.applicationFor=='cis' && config!=null">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">Username</th>
                            <th class="column-title">Fullname</th>
                            <th class="column-title">Roles</th>
                            <th class="column-title">Phone No</th>
                            <th class="column-title">Status</th>
                            <th class="column-title">Manage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="even pointer" *ngFor="let user of users">
                            <td class=" ">{{user.userName.toLowerCase()}}</td>
                            <td class=" ">{{user.fullName}}</td>
                            <td class=" ">
                                    <span *ngFor="let role of user.roles"> {{role}}<br/></span>
                            </td>
                            <td class=" ">{{user.phoneNumber}}</td>
                            <td class=" ">{{user.status == 1 ? "Active" : "Inactive"}}</td>
                            <td class="a-right a-right ">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-default" data-toggle="tooltip" title
                                            data-original-title="View" (click)="viewUserDetails(user)"><i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-sm btn-success" [disabled]="!isRegisterShowed && isEdit" (click)="showEditForm(user)"
                                            data-toggle="tooltip" title data-original-title="Edit"><i
                                            class="fa fa-edit"></i></button>
                                    <button class="btn btn-sm btn-cis"  (click)="resetPass(user)"
                                            data-toggle="tooltip" title data-original-title="Edit"><i
                                            class="fa fa-unlock-alt"></i></button>
                                    <button class="btn btn-sm btn-warning" *ngIf="user.status==1" (click)="deactivateUser(user)"><i class="fa fa-user-times" ></i></button>
                                    <button class="btn btn-sm btn-success" *ngIf="user.status==0" (click)="activateUser(user)"><i class="fa fa-user-plus" ></i></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="" *ngIf="config.applicationFor=='wsis' && config!=null">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">No</th>
                            <th class="column-title">Username</th>
                            <th class="column-title">Fullname</th>
                            <th class="column-title">Roles</th>
                            <th class="column-title">Phone No</th>
                            <th class="column-title">Status</th>
                            <th class="column-title">Manage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of wsisUser; index as x">
                            <td>{{x+1}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{user.fullname}}</td>
                            <td> <span *ngFor="let role of user.role"> {{role}}<br/></span></td>
                            <td>--</td>
                            <td>Active</td>
                            <td>
                                <button class="btn btn-sm btn-success" (click)="showEditRole(user)">Edit Role</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="align-center" *ngIf="config.applicationFor=='cis' && config!=null">
                <ul *ngIf="totalCount > 0" class="pagination">
                    <li [ngClass]="{disabled:currentPage === 1}">
                        <a (click)="getAllUsers(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:currentPage === 1}">
                        <a (click)="getAllUsers(currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pages" [ngClass]="{active:currentPage === page}">
                        <a (click)="getAllUsers(page)"><i></i>{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:currentPage === totalPages}">
                        <a (click)="getAllUsers(currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:currentPage === totalPages}">
                        <a (click)="getAllUsers(totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end of user list-->
    <!--user edit form-->
    <div class="col-md-4 edit-user">
        <div class="x_panel">
            <app-register *ngIf="isRegisterShowed" (closeEditForm)="closeForm($event)"></app-register>
            <app-edit *ngIf="isEdit" [userModel]="selectedUser" (closeEditForm)="closeForm($event)"></app-edit>

        </div>
    </div>
    <!--end of user registration form-->

    
        <div class="modal fade " id="user_detail" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <app-user-details *ngIf="selectedUser"  [user]="selectedUser" (formClose)="closeDetailForm($event)"></app-user-details>
            </div>
        </div>
        <div class="modal fade " id="updatePass" tabindex="-1" role="dialog">
            <div class="modal-dialog">
               <app-reset-password *ngIf="selectedUser" [userModel]="selectedUser" (closeResetPassForm)="closePassForm($event)"></app-reset-password>
            </div>
        </div>
    <div class="modal fade " id="updateRole" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <app-edit-role *ngIf="selectedWSISUser" [wsisUser]="selectedWSISUser" (closeUpdateRoleForm)="closeRoleForm($event)"></app-edit-role>
        </div>
    </div>
        <ngx-spinner></ngx-spinner>
</div>
