body {
    background: #e3e3e3 !important;
}
#login{
    background-image:url("../images/bg.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow-x: hidden;
}
.logo_img{
    width:250px;
}
.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
#loginForm{
    max-width: 380px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.login-header{
    text-align: center;
}
.login-header span{
    font-size: 75pt;
    margin-top: -45px;
    color: #0073D8;
    background: #e3e3e3;
    border-radius: 50%;
    border: 5px solid #e3e3e3;
}
.form-signin {
    max-width: 380px;
    padding: 15px 25px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}

.form-signin-heading{
    text-align: center;
}

#company {
    text-align: center;
    color: indigo !important;
    font-size: 35px;
    padding-bottom:20px;
    font-family: monospace;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}


.form-signin input[type="password"] {
    margin-top: 15px;
}

.form-signin .submitButton{
    margin-top: 15px;
}
@media (max-width: 767px) {
    .mt-nav-bar {
        display: none;
    }

    .mt-tab-content {
        padding-top: 0 !important;
    }
}

    .control-label{
        font-size:15px !important;
    }

    .validation-summary-valid{
        display: none;
    }
    .validation-summary-errors{
        border: 1px solid red;
        color: red;
        border-radius: 5px;
        padding: 10px 15px;
        margin-bottom: 10px;
        background: white;
    }
    .field-validation-error{
        color: red;
        padding: 0 5px 0 5px ;
        font-size: 12px;
    }
    .child_menu{
        background: #79C3DF;
    }
    #header-menu li a{
        color: #FFFFFF;
    }
    .body-container{
        height: 100%;
        overflow: auto;

    }
    .has-scroll::-webkit-scrollbar{
        width:0.85em;
        height: 0.85em;
    }
    .has-scroll::-webkit-scrollbar-track{
        border-radius:1px;
        background:#e4d0d0;
    }
    .has-scroll::-webkit-scrollbar-thumb{
        background-color:#b5b0b0;
        border-radius:1px;
    }
    .has-scroll::-webkit-scrollbar-thumb:hover
    {
        background-color:#2A3F54;
        border-radius:5px;
    }
    .has-scroll::-webkit-scrollbar-track:hover{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius:5px;
    }

.lists{
    height: 98%;
}
.lists .x_panel{
    height: 100%;
}
.lists .x_content{
    overflow: auto;
    height: 90%;
}
.fixed_height_390 .x_content{
    overflow: auto;
    height: 90%;
}
.lists_footer{
    height: 98%;
}
.lists_footer .x_panel{
    height: 100%;
}
.lists_footer form{
    height: 90%;
}
.lists_footer .x_content{
    overflow: auto;
    height: 92%;
}
.x-footer{
    width: 100%; 
    border-top:2px solid #e4b9b9;
    padding-top: 7px;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.edit{
    display: none;
}
#editor-iframe{
    background:#FFFFFF;
    border: none;
    width: 100%;
    height: 100%;
}
.add-department{
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}
.profile_left{
    height: 100%;
}
.profile-tabs{
    height: 100%;
}
.tab-content{
    margin-right: -20px;
    height: 100%;
}
.tab-pane{
    height: 100%;
}
.tabs-right li a {
    border: 1px solid #e4b9b9;
}

#copyright{
    font-size: 8pt;
    text-align: center;
    padding: 2px 5px 7px;
}
#action:after{
    content: "";
}
.form-submit{
    margin-top: 10px;
}
.lists-header{
    height: 87%;
}

#logout_btn{
    color: black !important;
}