<!--Start header-->
<div class="header">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="header-logo" *ngIf="config!=null">
                <span *ngIf="config.applicationFor == 'cis' && config!=null">
                     <img src="/images/cis2.png"/>
                </span>
                <span *ngIf="config.applicationFor == 'wsis'">
                     <img src="/images/dams.png"/>
                </span>
                <span *ngIf="config != null">{{config.cityName}} {{config.organizationName}}</span>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 align-right">
            <div class="dropdown">
                <button type="button" class="btn btn-welcome dropdown-toggle" data-toggle="dropdown" (click)="showdropDown()">
                    <i class="fa fa-user"></i>
                    Welcome: <strong>{{username}}</strong>
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">

                    <!--<li>
                        <a href="#"><i class="fa fa-file-text"></i> report </a>
                    </li>
                    <li>
                        <a routerLink="/changepassword" id="changePassowrd" data-toggle='modal' data-target='#updateCurrentPasswordModal' data-backdrop='static'><i class="fa fa-unlock-alt"></i>Change Password</a>
                    </li>-->
                    <li>
                        <a [routerLink]="" (click)="logOut()" id="logoutButton"><i class="fa fa-sign-out"></i>Logout</a>
                    </li>
                    <li class="divider"></li>
                    


                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of header-->
<router-outlet></router-outlet>