<!--user registration form-->
        <div class="x_title row">
            <h2> Add User</h2>

            <ul class="nav navbar-right panel_toolbox">
                <li><a class="close-link" (click)="closeForm()"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <form [formGroup]="registrationForm" id="registrationForm" (submit)="register()">
            <div class="x_content has-scroll">
                <div class="input-form" >
                    <label>Full Name:</label>
                    <input type="text" class="form-control" placeholder="First Name" id="user_first_name" formControlName="fullname" [(ngModel)]="userModel.fullname">
                </div>
                <div class="input-form">
                    <label>Phone No:</label>
                    <input type="text" class="form-control" placeholder="User Phone No" id="user_phone_no" formControlName="phoneno" [(ngModel)]="userModel.phonenumber">
                </div>
                <div class="input-form">
                    <label>User Role:</label>
                    <select class="form-control" formControlName="role"  [(ngModel)]="userModel.roles" id="user_role" multiple>
                        <option *ngFor="let role of ROLES" [value]="role.id" >{{role.name}}</option>
                    </select>
                    
                </div>
                <div class="input-form">
                    <label>Username:</label>
                    <input type="text" class="form-control" placeholder="Username" id="username" formControlName="username" [(ngModel)]="userModel.username" >
                </div>
                <div class="input-form">
                    <label>Password:</label>
                    <input type="password" class="form-control" placeholder="Password" id="user_pass" formControlName="password" [(ngModel)]="userModel.password">
                </div>
                <div class="input-form">
                    <label>Confirm Password:</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" id="conf_pass" formControlName="confirmPassword">
                </div>
            </div>
        
            <div class="x_footer">
                <div class="input-form align-right">
                    <button class="btn btn-default btn-sm" type="reset">Reset</button>
                    <button class="btn btn-cis btn-sm" type="submit" [disabled]="!registrationForm.valid">Register</button>
                </div>
            </div>
        </form>
   
<!--end of user registration form-->