<div id="caseModal">
    <div>
        <div>
            <form [formGroup]="createCaseForm" id="createCaseForm">
                <div>
                    <ul class="nav">
                        <li>
                            <div class="input-form" *ngIf="config!=null">
                                <label>Case Title:</label>
                                <input type="text" *ngIf="config.language=='en'"  placeholder="Enter Case Title" class="form-control" id="case-title" formControlName="Title" [(ngModel)]="caseModel.Title" />
                                <amharic-input [placeholder]="'Enter Case Title'" *ngIf="config.language=='am'" [(txtval)]="caseModel.Title" id="case-title" formControlName="Title"></amharic-input>
                            </div>
                        </li>
                        <li>
                            <div class="input-form">
                                <label>Case Type:</label>
                                <select class="form-control" id="case-type" formControlName="CaseType" [(ngModel)]="caseModel.CaseType">
                                    <option *ngFor="let cases of caseTypes" [value]="cases.name">{{cases.name}}</option>
                                </select>
                            </div>
                        </li>
                        <!--<li *ngIf="showAutoComplete">
                            <div class="input-form">
                            <label>Forwarded To:</label>
                                <ng-autocomplete class="from-control" (selected)="userSelected($event)" [group]="group"></ng-autocomplete>
                        </div>
                        </li>-->
                        <li>
                            <div class="input-form" *ngIf="config!=null">
                                <label>Case Description:</label>
                                <textarea class="form-control" *ngIf="config.language=='en'"  rows="5" placeholder="Write a description for the case" id="case-description" formControlName="Description" [(ngModel)]="caseModel.Description"></textarea>
                                <amharic-input [multiline]="true" *ngIf="config.language=='am'" rows="5" [placeholder]="'Write a description for the case'" formControlName="Description" [(txtval)]="caseModel.Description"></amharic-input>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer ">
                    <div class="input-form align-right">
                        <button type="reset" class="btn btn-default btn-sm">Reset</button>
                        <button class="btn btn-cis btn-sm" (click)="createCase()" [disabled]="!createCaseForm.valid">Create Case</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>