<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cis9</title>
    <base href="/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/toastr.css"/>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
