.note-card-container {
  width: 60%;
  margin: 20px auto;
  padding: 30px;

  .header {
    text-transform: capitalize;
    font-size: 25px;
    margin: 0 20px 20px 20px;
  }

  .note-content {
    margin-left: 35px;
  }

  .created-by {
    float: right;
    color: #7e7e7e;
    font-size: 15px;
    margin: 5px;
  }
}