.list-container {
  .task-list-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    margin: 40px;
  }
}

.task-types {
  border-bottom: none !important;
}