<script>
   
</script>
<div class="dams-main-body">
    <div class="row">
        <app-edit-doc *ngIf="editDoc" (showViewForm)="viewDocument()" (nextImage)="nextPage()" [file]="selectedFile"
                      [workflow]="workflowId"></app-edit-doc>

        <app-view-doc *ngIf="viewDoc" [docs]="docGroup" [workflowState]="workflowState"
                      (showEditForm)="addDocument()"></app-view-doc>



        <div class="col-md-6" id="documentViewer" style="padding:auto">
            <div class="document-image-viewer">
                <div class="x_panel">
                    <!--<div *ngIf="!(selectedImage.length == 0)" class="image-container">-->
                    <div class="img-manipulater col-md-12">
                        <div class="col-md-6">
                            <span><strong>Document Type:</strong>  {{selectedDoc.type.name}}</span>
                          
                        </div>
                        <div class="col-md-6 align-right">
                            <span *ngIf="selectedImage.length > 0"><strong>Page: </strong> {{imagePage%2==0?imagePage/2+ "  Back":((imagePage+1)/2)+"  Front"}}</span>
                        </div>
                    </div>
                    <div class=" image-viewer has-scroll">
                        <div class="pdf-viewer"  id="other-viewer">
                            <iframe id="pdf-viewer" src="">

                            </iframe>

                        </div>
                        <div class="other-viewer"  id="other-viewer">
                            <div class="other-document">
                                <h1>I can't preview the file </h1>
                                <p>The File Format is : <i ></i></p>
                               
                                <button class="btn btn-cis" (click)="downloadPdf()"><i class="fa fa-download"></i> Download </button>
                                <br>
                                <iframe id="otherDocument" style="visibility: hidden" ></iframe>
                            </div>
                        </div>
                        <div class="no-image" *ngIf="noImage && docSelected" id="other-viewer">
                            <div class="other-document">
                                <h1><i class="fa fa-exclamation-circle"></i></h1>
                                <p>There is no images available</p>
                            </div>
                        </div>
                       
                        <svg id="imageViewer" width="100%" height="95%" version="1.1" class="image_viewer" style="left:0;top:0; text-align:center; background: #FFFFFF;"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                            <image id="img_viewer_img" href="" x="0" y="0" height="100" width="100" degree="0"/>
                        </svg>
                        <div class="image-footer align-center">
                            <ul class="nav image-button">
                                <li [ngClass]="{disabled:loadedIndex === 0}" ><a [routerLink]="" (click)="previous()"><i class="fa fa-backward"></i></a></li>
                                <li><a [routerLink]="" *ngIf="selectedImage.length > 0">{{page + 1}} / {{selectedImage.length}}</a></li>
                                <li [ngClass]="{disabled:loadedIndex === (selectedImage.length -1) || selectedImage.length == 0}"><a [routerLink]="" (click)="next()"><i class="fa fa-forward"></i></a></li>
                                <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="rotate('-90')"><i class="fa fa-rotate-left"></i> Left</a></li>
                                <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="rotate('90')"><i class="fa fa-rotate-right"></i> Right</a></li>
                                <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="fullScreen()"><i class="fa fa-arrows-alt"></i> Fullscreen</a></li>
                                <li><a [routerLink]="" (click)="handleEvent(loadedIndex)"  *ngIf="damsDigitizer && workflowState == 3 && selectedImage.length > 0"><i class="fa fa-trash"></i> Delete</a></li>
                                <li><a [routerLink]="" (click)="reorderImage(selectedDoc)" *ngIf="selectedImage.length > 0 && viewDoc && damsDigitizer && workflowState == 3"><i class="fa fa-list-ul"></i> Reorder</a></li>
                            </ul>
                        </div>
                        <!--<app-image [image]="selectedImage"></app-image>-->

                        <!--<ngx-image-viewer *ngIf="damsDigitizer && workflowState == 3" [src]="selectedImage"-->
                        <!--[config]="{customBtns:[{name: 'delete', icon: 'fa fa-remove'}]}"-->
                        <!--(customEvent)="handleEvent($event)">-->
                        <!--</ngx-image-viewer>-->

                        <!--<ngx-image-viewer *ngIf="(damsUser || damsSupervisor) || (workflowState != 3)"-->
                        <!--[src]="selectedImage">-->
                        <!--</ngx-image-viewer>-->

                    </div>
                    
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="full-file-info has-scroll">
                <div class="x_panel document-info" *ngIf="docSelected">
                    <div class="x_title">
                        <h4><i class="fa fa-file-text-o"></i> Document Information</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="nav">
                            <li><strong>Document Type:</strong>{{selectedDoc.type.name}}</li>
                            <li><strong>Reference: </strong> {{selectedDoc.referenceNo}}</li>
                            <li><strong>Date:</strong> {{selectedDoc.date}}</li>
                            <li class="editFileBtn align-center" id="addImgBtn"
                                *ngIf="damsDigitizer && workflowState == 3" style="display: flex;">

                                <button class="btn btn-sm btn-cis" (click)="editDocumnet(selectedDoc)"><i
                                        class="fa fa-edit"></i> Edit Document
                                </button>
                                <button class="btn btn-sm btn-warning" (click)="deleteDoc(selectedDoc)"><i
                                        class="fa fa-trash-o"></i> Delete
                                </button>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="x_panel file-info">
                    <div class="x_title">
                        <h4><i class="fa fa-folder-open-o"></i> File Information</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="nav">
                            <li  *ngIf="config != null"><strong *ngIf="config.applicationFor=='cis'">UPIN:</strong><strong *ngIf="config.applicationFor=='wsis'">Customer Code:</strong> {{selectedFile.upin}}</li>
                            <li><strong>File Code: </strong> {{selectedFile.fileCode}}</li>
                            <li><strong>File Owner:</strong> {{selectedFile.fileOwner}}</li>
                            <li><strong>Folder Code:</strong> {{selectedFile.folder}}</li>
                            <li><strong>Shelf No:</strong> {{selectedFile.shelf}}</li>
                            <li><strong>In-shelf Location:</strong> {{selectedFile.location}}</li>
                            <li><strong>Mobile No:</strong> {{selectedFile.mobileNumber}}</li>
                            <li><strong>Remark:</strong> {{selectedFile.remark}}</li>
                            <li><strong>No of Documents:</strong> {{fileStat.numDocuments}}</li>
                            <li><strong>No of Sheets:</strong> {{fileStat.numSheets}}</li>
                            <li class="editFileBtn align-center" id="addImgBtn"
                                *ngIf="damsDigitizer && workflowState == 3" style="display: flex;">
                                <button class="btn btn-sm btn-cis" (click)="requestApproval()"><i
                                        class="fa fa-paper-plane"></i> Request Approval
                                </button>
                                <button *ngIf="workItemType != 19" class="btn btn-sm btn-warning"
                                        (click)="showRejectNoteForm()"><i class="fa fa-remove"></i> Reject File
                                </button>

                            </li>
                            <li class="editFileBtn align-center" id="addImgBtn" *ngIf="damsSupervisor"
                                style="display: flex;">

                                <button class="btn btn-sm btn-cis" (click)="approveChange()"><i class="fa fa-check"></i>
                                    Approve Change
                                </button>
                                <button *ngIf="workflowState == 4 || workflowState == 2" class="btn btn-sm btn-warning"
                                        (click)="showRejectNoteForm()"><i class="fa fa-remove"></i> Reject Change
                                </button>
                            </li>
                            <li class="editFileBtn align-center" id="editFileBtn" *ngIf="damsSupervisor"
                                style="display: flex;">
                                <button class="btn btn-sm btn-danger" (click)="showCancelDialog()"><i
                                        class="fa fa-remove"></i> Cancel
                                </button>
                            </li>

                        </ul>
                    </div>
                </div>

                <ngx-smart-modal #cancelModel identifier="cancelModal" customClass=".nsm-dialog-animation-ttb" [closable]="true" [escapeAble]="false">
                    <h3 class="modal-title">Discard Workflow?</h3>
                    <div class="model-content">
                        <p>Are you sure you want to cancel this workflow?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" (click)="cancelModel.close()"  >Close</button>
                        <button class="btn btn-danger" (click)="cancelRequest()">Yes, Cancel</button>
                    </div>
                </ngx-smart-modal>
            </div>
        </div>
    </div>
    <!--<div *ngIf="selectedDoc.id != ''">-->
    <!--<app-create-case [selDoc]="selectedDoc"></app-create-case>-->
    <!--</div>-->
</div>

<ngx-smart-modal #rejectModal identifier="rejectModal" [escapeAble]="false"   customClass=".nsm-dialog-animation-ttb">
    <!--<div class="modal-title">-->
    <!--<h5>Write a reason for Rejection</h5>-->
    <!--</div>-->
    <div>
        <form [formGroup]="fileRejectForm" id="fileRejectForm">
            <div class="modal-body has-scroll">

                <div class="input-form">
                    <label>Reason for Rejection:</label>
                    <!--<textarea class="form-control" rows="4" id="" formControlName="note"
                              [(ngModel)]="rejectModel.note"></textarea>-->
                    <amharic-input [multiline]="true" rows="4" id="" formControlName="note"
                                   [(txtval)]="rejectModel.note"></amharic-input>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="input-form align-right">
                    <button type="reset" class="btn btn-default" (click)="rejectModal.close()">Cancel</button>
                    <button class="btn btn-cis btn-sm" (click)="rejectChange()" [disabled]="!fileRejectForm.valid">
                        Reject Request
                    </button>
                </div>
            </div>
        </form>
    </div>
</ngx-smart-modal>

<ngx-spinner></ngx-spinner>

<div class="modal fade " id="image_reordering" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <app-image-reorder *ngIf="reordering" (formClose)="closeReorderingPage($event)" [workflow]="workflowId" [file]="selectedFile"></app-image-reorder>
    </div>
</div>