<div>
    <form [formGroup]="fileRequestForm" id="fileRequestForm">
        
        <div>
            <div>
                <ul class="nav">
                    <li>
                        <div class="input-form">
                            <label>Description: </label>
                            <!--<textarea placeholder="Write about the file you want" class="form-control" id="file-request-desc" formControlName="Description" [(ngModel)]="fileRequestModel.description"></textarea>-->
                            <amharic-input [multiline]="true" [placeholder]="'Write about the file you want'" id="file-request-desc" formControlName="Description" [(txtval)]="fileRequestModel.description"></amharic-input>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="modal-footer ">
                <div class="input-form align-right">
                    <button class="btn btn-cis btn-sm" (click)="requestFile()" [disabled]="!fileRequestForm.valid">Request File</button>
                </div>
            </div>
        </div>
    </form>
</div>