 <!--Start dashboard body-->
 <div class="main-body">
     <div class="col-md-12">
         <ul class="nav nav-tabs tabs-left tab-header">
             <li class="active"><a routerLink="/admin/dashboard/users" routerLinkActive="active" >User Management</a></li>
             <li><a routerLink="/admin/dashboard/audit" routerLinkActive="active">Audit</a></li>
         </ul>
     </div>
     <router-outlet></router-outlet>
 </div>