﻿@using System
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Dashboard - BELCASH WSIS</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/jobstyle.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link type="image/x-icon" rel="shortcut icon" href="images/ierp.ico" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        
        
        <!--<img src="images/controls.png"/>-->
        <!-- Top Bar -->
        <section class="top_sec">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 top_lft">
                        <div class="inf_txt" style="float:left">
                            <h4>BELCASH WSIS</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 top_lft">
                        <div class="account_info">@Model.userName: <a href="loginpage?sid=@Model.sid">logout</a></div>
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <div class="spacer-20"></div>
        
        <div class="spacer-20"></div>
        <div class="container">
            <div class="row">
                <!-- About Section -->
                <section id="abt_sec" class="col-md-6">
                    <!-- Progressbars -->
                    <div class="row dashboard_sec">
                        
                        <div class="col-xs-12 dashboard_ara">
                            @Html.Raw(Model.wsisDashBoard)
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="spacer-30"></div>

                </section>
                <!-- Sidebar Section -->
                <section id="sidebar" class="col-md-6">
                    <!-- Form -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="srch_frm">
                                <h3></h3>
                                <form name="sentMessage" id="contact_Form" novalidate>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                        </div>
                                    </div>
                                    <div id="success4"></div>
                                    <!-- For success/fail messages -->
                                    <button id="buttonSync" type="button" class="btn btn-primary" onclick="runSync()">Sync</button>
                                    <div class="spacer-20"></div>
                                    <div id="syncProgress"><div id="syncProgress_bar"></div></div>
                                    <div id="syncError"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="spacer-30"></div>
                </section>
                <div class="spacer-60"></div>
            </div>
            
        </div>
                
        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
    
        <script type="text/javascript">
    $(document).ready(function () {

    });
    var syncPollTimer;
    function stopSync()
    {
        $("#syncProgress_bar").css("width", "0%");
        $("#buttonSync").prop("disabled", false);
        clearInterval(syncPollTimer);
    }
    function runSync() 
    {
        $("#syncError").text("");
        $.post("api/StartSync?sessionID=@Model.sid");
        $("#buttonSync").prop("disabled", true, function (res) {
            stopSync();
            if(res.error)
                $("#syncError").text(res.error);
            else
                $("#syncError").text("");
        });
        syncPollTimer = setInterval(function () {
            $.ajax("api/syncstatus?sessionID=@Model.sid")
                .done(function (res) {
                    if (res && res.error == null) {
                        if (res.res.running) {
                            var p = parseFloat(res.res.prog) * 100;
                            $("#syncProgress_bar").css("width", p + "%");
                        }
                        else
                            stopSync();
                    }
                    else {
                        stopSync();
                    }
                })
            .fail(function () {
                stopSync();
            })
        }, 500);
    }
        </script>

    </body>
</html>
