<div class="x_panel">
    <div class="x_title">
        <h2>Register <small>Properties</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="close-link" [routerLink]="" (click)="hideMap()"><i class="fa fa-toggle-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content has-scroll">
        <div class="">
            <div class="input-form col-md-6">
                <label>Woreda:</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="input-form col-md-6">
                <label>Block:</label>
                <input type="number" min="1" max="3" class="form-control"/>
            </div>
            <div class="input-form col-md-6">
                <label>Parcel:</label>
                <input type="number" min="1"  maxlength="3" class="form-control"/>
            </div>
            <div class="input-form col-md-6">
                <label>Building:</label>
                <input type="number" min="1" maxlength="2" class="form-control"/>
            </div>
            <div class="input-form col-md-6">
                <label>Floor:</label>
                <input type="number" min="1" maxlength="2"/>
            </div>
        </div>
    </div>
</div>