<div *ngIf="multiline; else multi_line" style="padding:0">
    <textarea #multi_line class="form-control"  [(ngModel)]="_val" ></textarea>
</div>

<ng-template #multi_line>
    <input #single_line class="form-control" [(ngModel)]="_val" type="text"/>
</ng-template>
