.task-card-container {
  width: 40% !important;
  min-height: 400px;
  display: inline-flex !important;
  margin: 20px 50px !important;
  padding: 30px;

  .card {
    width: 100%;
    height: 100%;
  }

  .info {
    margin: 20px 50px;
  }

  .created-by {
    float: right;
    font-size: 15px;
  }

  .name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    padding-left: 5px;
    margin: 10px 5px;
    display: inline-flex;
  }

  .state {
    font-size: 17px;
    color: #7e7e7e;
    //float: right;
    display: block;
  }

  .label {
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  .task-field {
    display: block;
    font-size: 18px;
    margin: 5px 0;
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .section {
    padding: 50px 30px;
  }

  .pending-btns {
    width: fit-content;
    display: inline-block !important;
  }

  .date-section {
    display: block;
    width: 100%;
    margin: 20px;

    .info {
      display: inline-block;
      width: 30%;
      margin: 0 0 0 30px;

      .label {
        margin-bottom: 5px !important;
      }

      .value {
        margin-top: 5px !important;;
      }
    }
  }

  .description-section {
    display: block;
    width: 100%;
    margin: 20px;

    .icon {
      display: inline-block;
    }

    .info {
      display: inline-block;
      margin: 0 0 0 30px;
      max-width: 80%;

      .task-field {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.notifications-btn,
.employee-btn,
.pending-btn {
  display: inline-block !important;
}

.display-inline {
  display: inline-block;
}

a {
  text-decoration: none;
}

.edit-assignee-modal {
  width: 100% !important;
  margin: auto;

  .MuiPaper-root-154 {
    width: 60%;
    max-width: 100%;
    padding: 60px;
  }
}

.selection-container {
  flex-wrap: wrap-reverse;
}

.edit-assignee-container {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: flex-start !important;

  .section-1 {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }

  .section-2 {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }
}