/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- 1. Global Styles 
    1.1 Padding Margin
    1.2 Spacers
    1.3 Form Styles

- 2. Top Bar Section

- 3. Navigation

- 4. Banner
    4.1 Infobox

- 5. Breadcrumb

- 6. Contact Form

- 7. Sidebar

- 8. Search & Slide Section

- 9. Featured Properties Section

- 10. Talent Agents

- 11. Latest News

- 12. Subscribe

- 13. Clients

- 14. Footer section

- 15. Blog Section

- 16. Agents Page

- 17. Property Details Page

- 18. Testimonial Sec

- 19. About Page

- 20. Services Page

- 21. Pricing Page

- 22. 404 Page

- 23. Responsive Style

*/

/* 1. Global Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: 'Montserrat', sans-serif;
    background: #f3f3f3;
}

a:hover,
a:focus {
    text-decoration: none;
}

Iframe {width: 100%; border: none;}

/* 1.1 Padding Margin 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.p0 {
    padding: 0px !important;
}

.p5 {
    padding: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.p15 {
    padding: 15px !important;
}

.p20 {
    padding: 20px !important;
}

.p25 {
    padding: 25px !important;
}

.p30 {
    padding: 30px !important;
}

.p35 {
    padding: 35px !important;
}

.p40 {
    padding: 40px !important;
}

.p45 {
    padding: 45px !important;
}

.p50 {
    padding: 50px !important;
}

.m5tn {
    margin-top: -5px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.m0 {
    margin: 0px !important;
}

.m5 {
    margin: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.m15 {
    margin: 15px !important;
}

.m20 {
    margin: 20px !important;
}

.m25 {
    margin: 25px !important;
}

.m30 {
    margin: 30px !important;
}

.m35 {
    margin: 35px !important;
}

.m40 {
    margin: 40px !important;
}

.m45 {
    margin: 45px !important;
}

.m50 {
    margin: 50px !important;
}

/* 1.2 Spacer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.spacer-5,
.spacer-10,
.spacer-20,
.spacer-30,
.spacer-40,
.spacer-50,
.spacer-60,
.spacer-70,
.spacer-80,
.spacer-90,
.spacer-100 {
    display: block;
    clear: both;
    overflow: hidden;
}

.spacer-5 {
    height: 5px
}

.spacer-10 {
    height: 10px
}

.spacer-20 {
    height: 20px
}

.spacer-30 {
    height: 30px
}

.spacer-40 {
    height: 40px
}

.spacer-50 {
    height: 50px
}

.spacer-60 {
    height: 60px
}

.spacer-70 {
    height: 70px
}

.spacer-80 {
    height: 80px
}

.spacer-90 {
    height: 90px
}

.spacer-100 {
    height: 100px
}

/* 1.3 Form Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button.btn-primary {
    background: #ef7351 !important;
    transition: 0.4s ease all;
}

button.btn-primary:hover {
    background: #DD6443 !important;
}

.form-control::-webkit-input-placeholder {
    color: #989b9c;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    
    color: #989b9c;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #989b9c;
}

.form-control:-ms-input-placeholder {
    color: #989b9c;
}

select.form-control option {
    color: #333;
}

select.form-control {
    color: #989b9c;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: url('../images/drop.jpg') no-repeat top right;
}

/* 2. Top Bar Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section.top_sec {
    background: #023956;
    border-top: 4px solid #ef7351;
}

section.top_sec .col-md-6 div {
    display: inline-block;
}

section.top_sec .col-md-6.top_rgt {
    text-align: right;
}

.soc_ico ul {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    border-right: 1px solid #356178;
}

.soc_ico ul li {
    display: inline-block;
    margin-right: 12px;
}

.soc_ico ul li:last-child {
    margin-right: 20px;
}

.soc_ico ul li a {
    font-size: 12px;
    color: #c9ced1;
    line-height: 44px;
    transition: 0.5s ease all;
}

.soc_ico ul li a:hover {
    color: #fff;
}

.inf_txt p {
    font-size: 12px;
    color: #c9ced1;
    line-height: 44px;
    padding-left: 20px;
    margin-bottom: 0;
}

.sig_in p,
.sig_in a {
    font-size: 12px;
    color: #c9ced1;
    padding: 0 5px;
    transition: 0.5s ease all;
    margin-bottom: 0;
}

.sig_in a:hover {
    text-decoration: none;
    color: #fff;
}

h3.subm_btn {
    font-size: 13px;
    color: #fff;
    padding: 0 15px;
    margin: 0;
    margin-left: 15px;
    line-height: 44px;
    background: #ef7351;
    text-transform: uppercase;
}

h3.subm_btn a {
    color: #fff;
}

h3.subm_btn a:hover {
    color: #9B4100;
    text-decoration: none;
}

h3.subm_btn i {
    padding-right: 10px;
}

div#login_box .modal-dialog,
div#prop_box .modal-dialog,
div#reg_box .modal-dialog {
    width: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease all;
    max-width: 96%;
}

div#prop_box .modal-dialog {
    width: 550px;
}

.modal-content {
    border-radius: 0;
}

.modal-content .modal-body {
    padding: 30px;
}

button.close {
    opacity: 1;
}

div#login_box h2.frm_titl,
div#prop_box h2.frm_titl,
div#reg_box h2.frm_titl {
    font-size: 20px;
    margin: 0 0 30px;
    line-height: normal;
}

.log_form .form-control {
    background: #ebebeb;
    border: none;
    box-shadow: none;
    color: #777;
}

.log_form .control-group.form-group {
    margin-bottom: 0;
}

.log_form .controls {
    margin-bottom: 15px;
}

.log_form textarea.form-control {
    height: 120px;
}

.log_form .form-group .controls.col-md-6 {
    padding: 0;
    padding-left: 15px;
}

.log_form .checkbox {
    margin-bottom: 20px;
    padding: 0;
}

.log_form .forg_pass {
    margin: 10px 0 20px;
    padding: 0;
}

.log_form .checkbox label {
    color: #a5a5a5;
    font-size: 12px;
}

.log_form .forg_pass a {
    font-size: 12px;
    text-decoration: none;
    color: #a5a5a5;
}

.log_form .forg_pass a:hover {
    color: #ef7351;
}

.log_form button.btn.btn-primary {
    border-radius: 0;
    height: 42px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
    background: #ef7351;
    border: 0;
    text-transform: uppercase;
    width: 100%;
}


/* 7. Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#sidebar h3.main_titl.text-left {
    border: 0;
}

section#sidebar .titl_sec {
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;
}

.titl_sec .col-lg-12 {
    padding: 0;
}

section#sidebar .cont_info {
    background: #fff;
    padding: 25px;
    padding-top: 35px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.icon_box {
    line-height: 36px;
    display: inline-block;
    font-size: 12px;
    padding: 0 15px;
    background: #fafafa;
    border: 1px solid #e9e9e9;
    color: #ef7351;
}

p.infos {
    font-size: 12px;
    line-height: 36px;
    display: inline-block;
    padding-left: 15px;
    margin: 0;
    color: #989b9c;
}

p.infos a {
    color: #989b9c;
}

p.infos a:hover {
    color: #ef7351;
}

.info_sec {
    padding: 20px 0;
    border-bottom: 1px solid #edf0f2;
}

.info_sec.first {
    padding-top: 0;
}

.info_sec:after {
    content: "";
    display: block;
    clear: both;
}

.categ_info {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.categ_info .info_sec {
    padding: 15px 0;
}

.categ_info .info_sec.first {
    padding-top: 0;
}

.categ_info .info_sec p {
    padding-left: 10px;
    line-height: 1;
}

.categ_info .info_sec i {
    line-height: 1;
    color: #989b9c;
}

.info_sec .col-md-6 {
    padding: 0;
}

.categ_info a {
    text-decoration: none;
}

.categ_info a:hover p,
.categ_info a:hover i {
    color: #ef7351;
}

.side_feat {
    background: #fff;
    padding: 25px 25px 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.side_feat .panel.panel-default:after {
    content: "";
    display: block;
    clear: both;
}

.side_feat .panel-image {
    padding: 0;
}

.side_feat .panel-body.col-md-9 {
    padding: 0;
    padding-left: 20px;
}

.side_feat h3.sec_titl {
    font-size: 12px;
    line-height: 20px;
    margin: 5px 0 10px;
    text-transform: none;
}

.side_feat .panel.panel-default {
    padding-bottom: 25px;
}

.tags_sec {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.tags_box {
    background: #f1f3f5;
    display: inline-block;
    padding: 10px 15px;
    box-shadow: 0px 1px 3px rgba( 0, 0, 0, 0.2);
    margin: 0 0px 10px 10px;
}

.tags_box a {
    font-size: 12px;
    color: #989b9c;
    text-decoration: none;
}

.tags_box.first {
    margin-left: 0;
}

.tags_box:hover {
    background: #ef7351;
}

.tags_box:hover a {
    color: #fff;
}

/* 8. Search & Slide Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.srch_frm {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.srch_frm h3 {
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
    color: #1f2223;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.srch_frm label {
    font-weight: normal;
    color: #1f2223;
    font-size: 13px;
}

.form-control {
    height: 42px;
    font-size: 12px;
    border: 1px solid #d1d7da;
    border-radius: 0;
}

.form-group .controls.col-md-6 {
    padding: 0;
    padding-left: 30px;
}

.form-group .controls.col-md-6.first {
    padding: 0;
}

.srch_frm button.btn.btn-primary {
    border-radius: 0;
    height: 42px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
    background: #ef7351;
    border: 0;
    text-transform: uppercase;
    margin-top: 5px;
}

.col-md-8.slide_sec .silde_img {
    border: 6px solid #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    position: relative;
}

.slide-info {
    position: absolute;
    width: 350px;
    right: 30px;
    bottom: 30px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.85);
}

.slide-info p.sli_price {
    color: #ef7351;
}

.slide-info p.sli_titl {
    color: #fff;
}

.slide-info p.sli_desc {
    color: #959595;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
}

.slide-info p {
    line-height: normal;
}

.controls.col-md-3.first {
    padding-left: 0;
}

.controls.col-md-3 {
    padding-left: 30px;
    padding-right: 0;
}

.control-group.form-group.col-md-11 {
    padding: 0;
    padding-right: 30px;
}

.sub_btn.col-md-1 {
    padding: 0;
    margin-top: 18px;
}

.clos_box a {
    position: absolute;
    font-size: 10px;
    color: #444;
    padding: 0 7px;
    background: #fff;
    top: 0;
    right: 0;
    line-height: 16px;
    text-decoration: none;
}

/* 9. Featured Properties Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.titl_sec {
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 0 25px;
    margin: 0 15px;
    margin-bottom: 30px;
}

.titl_sec .col-lg-6 {
    padding: 0;
}

.titl_sec h3 {
    font-size: 16px;
    line-height: 60px;
    margin: 0;
    font-weight: bold;
    color: #1f2223;
    text-transform: uppercase;
}

.titl_sec h3.link_titl {
    font-weight: normal;
    font-size: 12px;
}

.titl_sec h3.main_titl {
    display: inline-block;
    border-bottom: 2px solid #ef7351;
}

.titl_sec h3.link_titl a {
    color: #0e4f71;
    text-decoration: none;
}

.titl_sec h3.link_titl a:hover {
    color: #ef7351;
}

.panel.panel-default {
    position: relative;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.panel-image {
    position: relative;
    border-bottom: 2px solid transparent;
}

.sal_labl {
    position: absolute;
    font-size: 12px;
    color: #fff;
    padding: 0 15px;
    background: #ef7351;
    top: 0;
    right: 0;
    line-height: 30px;
}

a.btn.btn_trans {
    font-size: 13px;
    color: #fff;
    min-width: 110px;
    background: transparent;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 0;
    line-height: 40px;
    padding: 0 15px;
}


.panel-body {
    padding: 25px;
}

h3.sec_titl {
    font-size: 14px;
    text-transform: uppercase;
    color: #0e4f71;
    margin-bottom: 20px;
}
.panel_bottom {
    margin: 10px -25px 0;
    padding: 0 0 0 25px;
    border-top: 1px solid #d1d7da;
}

.panel_bottom .col-md-6 {
    padding: 0;
}

.panel_bottom p {
    margin-bottom: 0;
}

.panel_bottom p.price {
    font-size: 13px;
    color: #ef7351;
    font-weight: bold;
    line-height: 35px;
}

/* About Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#abt_sec .row {
    margin: 0;
}

section#abt_sec .panel-default {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

section#abt_sec h3.sec_titl {
    font-size: 18px;
    font-weight: bold;
}

section#abt_sec .titl_sec {
    margin: 0 0 30px;
}

.dashboard_sec .dashboard_ara .prog_sec p.labl {
    font-size: 12px;
    color: #1f2223;
    line-height: 1;
    margin-bottom: 12px;
}
@keyframes grower {
    0% {
        width: 0%;
    }
}

@-moz-keyframes grower {
    0% {
        width: 0%;
    }
}

@-webkit-keyframes grower {
    0% {
        width: 0%;
    }
}

@-o-keyframes grower {
    0% {
        width: 0%;
    }
}
.dashboard_sec .dashboard_ara,
.dashboard_sec .fun_fac,
.dashboard_sec .serv_col {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.dashboard_sec .dashboard_ara p {
    color: #777;
    line-height: 21px;
    font-size: 13px;
}
.dashboard_sec .serv_col .col-md-4 {
    padding: 20px;
    border: 1px solid #eee;
    width: 30%;
    margin-left: 4.5%;
}

.dashboard_sec .serv_col .col-md-4:first-child {
    margin-left: 0;
}

.dashboard_sec .serv_col .nor_ico {
    font-size: 24px;
    color: #777;
}

.dashboard_sec .serv_col h3.fun_num {
    font-size: 14px;
}

.dashboard_sec .serv_col h3.fun_num:hover {
    color: #ef7351;
} 

.dashboard_sec .serv_col p.desc {
    font-size: 12px;
    color: #777;
    line-height: 1.75;
    text-transform: capitalize;
}

.dashboard_sec .serv_col .col-md-4:hover .nor_ico {
    color: #ef7351;
}
/* 404 Page––––––––––––––––––––––––––––––––––––– */

section#wrng_pg .col-xs-12 {
    background: #fff;
    padding: 40px 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

h2.lrg_titl {
    font-size: 160px;
    text-shadow: -2px 4px 0px #992201;
    margin: 0 0 50px;
    color: #ef7351;
}

h3.sub_titl {
    color: #EF7351;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

section#wrng_pg p.desc {
    font-size: 14px;
    margin-bottom: 30px;
}

section#wrng_pg .btns a.orn_btn {
    font-size: 14px;
    padding: 0 40px;
    line-height: 50px;
    margin-bottom: 40px;
}
.inf_txt{
    color: #ffffff;
}
/* 23. Responsive Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 991px) {
    section.top_sec .col-md-6 {
        text-align: center !important;
    }
    .form-group .controls.col-md-6 {
        padding-left: 0;
        padding-top: 15px;
    }
    .form-control {
        margin-bottom: 10px;
    }
    .srch_frm .controls.col-md-3 {
        padding: 0;
    }
    .control-group.form-group.col-md-11 {
        padding: 0;
    }
    section#feat_propty img.img-hover {
        width: 100%;
    }
    section#feat_propty .col-md-4 {
        margin-top: 30px;
    }
    section#feat_propty .panel_bottom .col-md-6 {
        width: 50%;
        float: left;
    }
    section#feat_propty .col-md-4:first-child {
        margin-top: 0;
    }
    .panel_bottom p.readmore {
        width: 80%;
    }
    .container > .navbar-header {
        float: none;
        text-align: center;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0;
        float: none;
        text-align: center;
        display: inline-block;
    }
    .navbar-brand > img {
        display: block;
        margin: 0px auto;
    }
    ul.nav.navbar-nav.navbar-right {
        float: none !important;
        display: inline-block;
        margin-top: 0;
    }
    .container > .navbar-collapse {
        text-align: center;
        overflow: inherit;
    }
    .form-group .controls.col-md-6 {
        padding-left: 0;
        padding-top: 15px;
    }
    .log_form .form-group .controls.col-md-6 {
        padding: 0;
    }
    section#feat_propty img.img-hover {
        width: 100%;
    }
    section#feat_propty .col-md-4 {
        margin-top: 30px;
    }
    section#feat_propty .panel_bottom .col-md-6 {
        width: 50%;
        float: left;
    }
    section#feat_propty .col-md-4:first-child {
        margin-top: 0;
    }
    .panel_bottom p.readmore {
        width: 80%;
    }
    section#talen_agent .panel-image img.img-hover {
        width: 100%;
    }
    section#talen_agent .col-md-3 {
        margin-top: 30px;
    }
    section#talen_agent .col-md-3:first-child {
        margin-top: 0;
    }
    section#lates_news .panel-image img.img-hover {
        width: 100%;
    }
    section#lates_news .col-md-4 {
        margin-top: 30px;
    }
    section#lates_news .col-md-4:first-child {
        margin-top: 0;
    }
    .text-right.subs_info {
        text-align: center;
        margin-bottom: 15px;
    }
    .text-left.subs_form {
        text-align: center;
    }
    .subs_form .form-control {
        float: none;
        display: inline-block;
    }
    .subs_form .form-group {
        margin-bottom: 0;
    }
    .footer_top .col-md-3 {
        margin-top: 40px;
    }
    .footer_top .col-md-3.abt_sec {
        margin-top: 0;
    }
    .pg_links .col-md-6 {
        width: 50%;
        float: left;
    }
    section#prop_detal .agen_info img {
        width: 100%;
    }
    section#sidebar {
        margin-top: 30px;
    }
    .info_sec .col-md-6 {
        width: 30%;
        float: left;
    }
    .panel-image.col-md-3 {
        width: 25%;
        float: left;
    }
    .side_feat .panel-body.col-md-9 {
        width: 75%;
        float: left;
    }
    .panel-image.col-md-3 img {
        width: 100%;
    }
    section#pricg_sec .col-xs-3 {
        width: 50%;
        margin-bottom: 30px;
    }
    .log_form .checkbox,
    .log_form .forg_pass {
        width: 50%;
        float: left;
    }
    
    div#prop_box .modal-dialog {
    position: relative;
    top: 0;
    transform: translate(-50%,0%);
    }
}

@media only screen and (max-width: 767px) {
    ul.nav.navbar-nav.navbar-right {
        display: block;
        padding: 0;
    }
    ul.nav.navbar-nav.navbar-right li {
        padding: 0;
        border-bottom: 2px solid #dedede;
    }
    ul.nav.navbar-nav.navbar-right li:hover {
        border-bottom-color: transparent;
    }
    .navbar-nav > li > a {
        border-color: transparent;
    }
    .navbar > .container .navbar-brand {
        float: left;
    }
    .navbar-nav > li > a {
        display: inline-block;
        padding: 22px;
    }
    .footer_copy_right .col-sm-6 {
        text-align: center;
        padding: 30px 0;
    }
    .footer_copy_right p {
        line-height: normal;
    }
    .footer_copy_right .col-sm-6.text-left {
        padding-bottom: 0;
    }
    .pg_links .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-sm-8 {
        width: 60%;
        float: left;
    }
    .agen_desc .col-sm-4 {
        width: 40%;
        float: left;
    }
    .panel-body {
        padding: 25px 15px;
    }
    .agen_info2,
    .srch_frm,
    .categ_info,
    .side_feat,
    .comm_sec,
    .cont_frm,
    .tags_sec {
        padding: 25px 15px;
    }
    .dashboard_sec .dashboard_ara,
    .dashboard_sec .fun_fac,
    .dashboard_sec .serv_col {
        padding: 25px 15px;
    }
    section#agent_sec .row {
        margin: 0;
    }
    .agen_info .col-md-8 {
        padding: 0;
    }
    .agen_info .panel_bottom {
        margin: 10px -15px 0;
    }
    section#agent_sec .row.agen_desc .col-md-8 {
        width: 60%;
        float: left;
    }
    section#agent_sec .row.agen_desc .col-md-4 {
        float: left;
        width: 40%;
    }
    section#agent_sec .row.agen_desc .col-md-4 .soc_icon {
        text-align: right;
    }
    .dashboard_sec .dashboard_ara .prog_sec {
        padding: 0;
    }
    .dashboard_sec .dashboard_ara .col-sm-7 {
        margin-top: 30px;
    }
    .dashboard_sec .fun_fac .col-xs-3 {
        width: 50%;
        margin-bottom: 30px;
    }
    section#serv_pg .dashboard_sec .serv_col .col-xs-3 {
        width: 50%;
        margin-bottom: 30px;
    }
    section#serv_pg .dashboard_sec .serv_col .spacer-50 {
        height: 20px;
    }
    section#serv_pg .dashboard_sec .serv_col,
    .dashboard_sec .serv_btm {
        padding: 45px 25px 25px;
    }
    .dashboard_sec .serv_btm .col-xs-4 {
        width: 50%;
        margin-bottom: 30px;
    }
    .dashboard_sec .serv_btm .clearfix {
        display: none;
    }
    .dashboard_sec .serv_btm .side_ico {
        float: none;
        display: block;
        margin: 0 auto 20px;
    }
    .dashboard_sec .serv_btm .ico_desc {
        width: 100%;
        text-align: center;
    }
    .call_sec {
        width: 100%;
        padding: 60px 30px;
    }
    .navbar-nav > li > ul.dropdown-menu {
        position: absolute;
        display: block;
        width: 100%;
        float: none;
        background-color: #ddd;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease all;
        border: none;
    }
    .navbar-nav > li:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        position: relative;
    }
    .navbar-nav > li > ul.dropdown-menu a {
        text-align: center;
        line-height: 1;
        padding: 22px 15px;
    }
}

@media only screen and (max-width: 600px) {
    .bannr_sec h1.main_titl {
        font-size: 30px;
    }
    .bannr_sec h4.sub_titl {
        font-size: 15px;
    }
    section#pricg_sec .col-xs-3 {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .bannr_sec h1.main_titl {
        font-size: 26px;
    }
    .bannr_sec h4.sub_titl {
        font-size: 14px;
    }
    .slide-info {
        position: relative;
        width: 100%;
        right: 0;
        bottom: -6px;
        transform: translateX(-50%);
        left: 50%;
    }
    .flex-direction-nav a {
        position: relative;
        float: left;
        background: #e5e5e5;
    }
    .flex-direction-nav .flex-next {
        left: 8px;
    }
    ul.flex-direction-nav {
        margin: 10px 0 5px;
    }
    ul.flex-direction-nav:after {
        content: "";
        display: block;
        clear: both;
    }
    .titl_sec .col-xs-6 {
        width: 100%;
    }
    .titl_sec h3.link_titl,
    .titl_sec h3.main_titl {
        display: inline-block;
    }
    .titl_sec h3.main_titl {
        text-align: center;
    }
    .panel_bottom p.readmore {
        width: 67%;
    }
    .row.testim_sec {
        padding: 20px;
    }
    .pag_titl_sec h1.pag_titl {
        font-size: 26px;
    }
    .pag_titl_sec h4.sub_titl {
        font-size: 14px;
    }
    .pg_links .col-md-6 {
        width: 100%;
        text-align: center;
    }
    section#prop_detal .prop_feat {
        padding-left: 10px;
    }
    .prop_feat p,
    .bannr_sec2 .prop_feat p {
        margin: 0;
        width: 50%;
        line-height: 35px;
        font-size: 12px;
    }
    section#prop_detal .prop_feat p {
        font-size: 10px;
    }
    .info_sec .col-md-6 {
        width: 50%;
    }
    section#agent_sec .row.agen_desc .col-md-4 .soc_icon {
        text-align: center;
    }
    .agen_info img {
        width: 100%;
        max-width: 480px;
    }
    .agen_feat p {
        line-height: 30px;
    }
    .side_feat .prop_feat p {
        width: 100%;
    }
    .categ_info .info_sec p {
        padding-left: 5px;
        line-height: 1;
        font-size: 11px;
    }
    .footer_copy_right p {
        font-size: 11px;
    }
    .row.prlist_sec .col-md-6 {
        margin-bottom: 30px;
    }
    .row.prlist_sec .spacer-30 {
        height: 0;
    }
    .row.prlist_sec .panel_bottom {
        margin: 10px -15px 0;
        padding: 0 0 0 15px;
    }
    .row.prlist_sec .panel_bottom .col-md-6 {
        margin: 0;
        width: 50%;
        float: left;
    }
    .blog_feat p {
        margin-left: 0;
        line-height: 30px;
        margin-right: 15px;
    }
    .blog_feat p span {
        margin-left: 10px;
    }
    .comm_sec .col-md-10 {
        padding-left: 0;
    }
    .comm_sec .col-md-8 {
        padding: 0;
    }
    .row.commen_frm .control-group.form-group {
        padding-left: 0;
    }
    .cont_frm .controls.last {
        margin-bottom: 25px;
    }
    .dashboard_sec .fun_fac .col-xs-3 {
        width: 100%;
    }
    .dashboard_sec .serv_col .col-xs-4 {
        width: 100%;
        margin-bottom: 30px;
    }
    section#serv_pg .dashboard_sec .serv_col .col-xs-3,
    .dashboard_sec .serv_btm .col-xs-4 {
        width: 100%;
    }
    section.top_sec .submit_prop h3.subm_btn {
        margin-top: 10px;
        margin-left: 0;
    }
    section.top_sec .sig_in {
        margin-right: 15px;
    }
    .modal-content .modal-body {
        padding: 20px;
    }
    .log_form .checkbox {
        width: 45%;
        float: left;
    }
    .log_form .forg_pass {
        width: 55%;
        float: left;
    }
}