<!--Start of the side menu-->
<div class="sideMenu-md" id="sideMenu">
    <div class=" tab-pane active menu_section" id="menu_section">
        <ul class="nav side-menu">
            <li class="active"><a style="display: flex" routerLink="/dashboard/pendingTask" routerLinkActive="active"><i class="fa fa-dashboard"></i> <span class="a-tag">Dashboard</span> </a></li>
            <li><a style="display: flex" routerLink="/dashboard/propertyRegistration" routerLinkActive="active"><i class="fa fa-building" aria-hidden="true"></i> <span class="a-tag">Register Property</span> </a> </li>
            <li><a style="display: flex"><i class="fa fa-exchange"></i> <span class="a-tag">Register Transaction</span> </a></li>
            <li><a style="display: flex"><i class="fa fa-binoculars" aria-hidden="true"></i> <span class="a-tag">Data Browser</span></a></li>
            <li><a style="display: flex"><i class="fa fa-gears"></i> <span class="a-tag">Reports </span><span class="fa fa-chevron-down"></span></a></li>
        </ul>
        <div class="menu_collapse_md" id="menu_collapse">
            <a [routerLink]="" (click)="collapseMenu()" class=""><span class="fa fa-bars"></span> <span class="a-tag">Collapse Menu</span></a>
        </div>

    </div>
</div>
<!--end of the side menu-->