<div class="dams-main-body">
    <div class="row">
        <div class="col-md-3 document_type">
            <div class="x_panel">
                <div class="list_of_documets">
                    <ul class="nav">
                        <li *ngFor="let docType of docGroup" class="parent">
                            <a style="display: flex" [routerLink]="" (click)="documentNav($event)"><i class="fa fa-folder-o"></i>{{docType.type}} </a>
                            <ul class="nav child_menu">
                                <li class="" *ngFor="let doc of docType.docs">
                                    <a style="display: flex" [routerLink]="" (click)="showImg(doc)" (click)="activeDoc($event)"><i class="fa fa-file-text-o"></i>{{doc.referenceNo}} <span class=""></span> </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ng-template #nocontent>
                        <div class="align-center empty-msg">
                            <i class="fa fa-exclamation"></i>
                            <h4>No Document Attached</h4>
                        </div>
                    </ng-template>

                </div>
                <div class="document_type_footer align-center">

                </div>
            </div>
        </div>
        <div class="col-md-6" id="documentViewer">
            <div class="document-image-viewer">
                <div class="x_panel">
                    <div  class="image-container">
                        <div class="img-manipulater col-md-12">
                            <div class="col-md-6">
                                <span><strong>Document Type:</strong>  {{selectedDoc.type.name}}</span>

                            </div>
                            <div class="col-md-6 align-right">
                                <span *ngIf="selectedImage.length > 0"><strong>Page: </strong> {{imagePage%2==0?imagePage/2+ "  Back":((imagePage+1)/2)+"  Front"}}</span>
                            </div>
                        </div>
                        <div class=" image-viewer has-scroll">
                            <div class="pdf-viewer"  id="other-viewer">
                                <iframe id="pdf-viewer" src="">

                                </iframe>

                            </div>
                            <div class="other-viewer"  id="other-viewer">
                                <div class="other-document">
                                    <h1>I can't preview the file </h1>
                                    <p>The File Format is : <i ></i></p>

                                    <button class="btn btn-cis" (click)="downloadPdf()"><i class="fa fa-download"></i> Download </button>
                                    <br>
                                    <iframe id="otherDocument" style="visibility: hidden" ></iframe>
                                </div>
                            </div>
                            <div class="no-image" *ngIf="noImage && docSelected" id="other-viewer">
                                <div class="other-document">
                                    <h1><i class="fa fa-exclamation-circle"></i></h1>
                                    <p>There is no images available</p>
                                </div>
                            </div>
                            <svg id="imageViewer" width="100%" height="95%" version="1.1" style="left:0;top:0"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <image id="img_viewer_img" href="" x="0" y="0" height="100" width="100" degree="0"/>
                            </svg>


                            <div class="image-footer align-center">
                                <ul class="nav">
                                    <li [ngClass]="{disabled:loadedIndex === 0}" ><a [routerLink]="" (click)="previous()" ><i class="fa fa-backward"></i></a></li>
                                    <li><p *ngIf="selectedImage.length > 0">{{page + 1}} / {{selectedImage.length}}</p></li>
                                    <li [ngClass]="{disabled:loadedIndex === (selectedImage.length -1)||selectedImage.length == 0}"><a [routerLink]="" (click)="next()" ><i class="fa fa-forward"></i></a></li>
                                    <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="rotate('-90')"><i class="fa fa-rotate-left"></i> Left</a></li>
                                    <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="rotate('90')"><i class="fa fa-rotate-right"></i> Right</a></li>
                                    <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="fullScreen()"><i class="fa fa-arrows-alt"></i> Fullscreen</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="full-file-info has-scroll">
                <div class="x_panel document-info" *ngIf="docSelected">
                    <div class="x_title">
                        <h4><i class="fa fa-file-text-o"></i> Document Information</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="nav">
                            <li><strong>Document Type:</strong>{{selectedDoc.type.name}}</li>
                            <li><strong>Reference: </strong> {{selectedDoc.referenceNo}}</li>
                            <li><strong>Date:</strong> {{selectedDoc.date}}</li>
                            <li class="editFileBtn align-center" id="editFileBtn" *ngIf="damsUser">
                                <button class="btn btn-sm btn-cis" (click)="showCreateCaseDoc(selectedDoc)"><i class="fa fa-file-text-o"></i> Create Case</button>
                            </li>

                        </ul>
                    </div>
                    <div class="x_title" *ngIf="cases.length >0">
                        <h4><i class="fa fa-file-text-o"></i> Related Cases</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" *ngIf="cases.length >0">
                        <ul class="nav">
                            <li *ngFor="let docCase of cases"><a [routerLink]="" (click)="openCaseDetails(docCase)"><strong>Case Title:</strong>{{docCase.title}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="x_panel file-info">
                    <div class="x_title">
                        <h4><i class="fa fa-folder-open-o"></i> File Information</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="nav">
                            <li *ngIf="config!=null"><strong *ngIf="config.applicationFor=='cis'">UPIN:</strong> <strong *ngIf="config.applicationFor=='wsis'">Customer Code:</strong> {{selectedFile.upin}}</li>
                            <li><strong>File Code: </strong> {{selectedFile.fileCode}}</li>
                            <li><strong>File Owner:</strong> {{selectedFile.fileOwner}}</li>
                            <li><strong>Folder Code:</strong> {{selectedFile.folder}}</li>
                            <li><strong>Shelf No:</strong> {{selectedFile.shelf}}</li>
                            <li><strong>Inshelf Location:</strong> {{selectedFile.location}}</li>
                            <li><strong>Mobile No:</strong> {{selectedFile.mobileNumber}}</li>
                            <li><strong>Remark:</strong> {{selectedFile.remark}}</li>
                            <li><strong>No of Documents:</strong> {{fileStat.numDocuments}}</li>
                            <li><strong>No of Sheets:</strong> {{fileStat.numSheets}}</li>
                            <li id="addDocBtn">
                                <a [routerLink]="" class="" (click)="requestPhysicalFile()">
                                    <i class="fa fa-check"></i>
                                    Request Physical File
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div *ngIf="selectedDoc.id != ''">
                    <div class="x_panel file-info">
                        <div class="x_title">
                            <h4><i class="fa fa-folder-open-o"></i> Create Case</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <app-create-case [selDoc]="selectedDoc"></app-create-case>
                        </div>
                    </div>
                </div>
                <!-- <div class="x_panel file-request">
                     <div class="x_title">
                         <h4><i class="fa fa-paper-plane-o"></i> Request Physical File</h4>
                         <div class="clearfix"></div>
                     </div>
                     <div class="x_content">
                         <form [formGroup]="requestFileForm" id="requestFile">
                             <ul class="nav">
                                 <li><div class="input-form">
                                     <textarea class="form-control" rows="4" placeholder="write your remark here" formControlName="description" [(ngModel)]="requestedFileModel.description"></textarea>
                                 </div></li>
                                 <li class="editFileBtn align-center" id="editFileBtn">
                                     <button class="btn btn-cis btn-sm" (click)="requestFile()" [disabled]="!requestFileForm.valid"><i class="fa fa-paper-plane"></i> Request Physical File</button>
                                 </li>
                             </ul>
                         </form>
                     </div>
                 </div>-->
            </div>
        </div>
        <ngx-smart-modal #docCaseModal identifier="docCaseModal" [closable]="true" [escapeAble]="false">
            <app-create-case (formClosed)="closeModal()" [selDoc]="selectedDoc"></app-create-case>
        </ngx-smart-modal>    
    </div>
    <!--<div *ngIf="selectedDoc.id != ''">-->
    <!--<app-create-case [selDoc]="selectedDoc"></app-create-case>-->
    <!--</div>-->
</div>
