.form-card-container {
  width: 70%;
  margin: auto;
  padding: 15px;
  margin-top: 7vh;
  max-height: 86vh;
  overflow-y: auto;
}

.asset-record-container {
}

.add-btn {
  margin: 10px;
  background-color: blue;
  padding: 5px 15px 5px 15px;
  color: white;
  font-size: 15px;
  border: none;
}

.reading-container {
  width: 95%;
  margin: auto;
  height: 90vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
  max-height: 95vh;
  overflow: auto;
}

.openlayers-map {
  height: 100% !important;
}
