.info-container {
  width: 95%;
  margin: 20px auto;
  padding: 40px;


  .text-info {
    align-items: flex-start;
    display: flex;

    .align-info {
      width: 40%;
      overflow: hidden;
      display: inline-block;

      .name {
        .value {
          font-size: 35px;
          text-transform: uppercase;
        }
        margin: 20px;
      }

      .info {
        margin: 20px 0;

        .label {
          text-transform: capitalize;
          margin: 0 5px;
          color: #7e7e7e;
          display: block;
        }

        .value {
          margin: 0 10px;
          font-size: 20px;
        }
      }

      .asset-info {
        display: inline;
        margin-left: 20px;

        .info-title {
          font-size: 20px;
        }

        .asset-info-list {
          margin: 20px 0;

          .attribute {
            text-transform: capitalize;
            margin: 0 5px;
            color: #7e7e7e;
            display: block;
          }

          .value {
            margin: 0 10px;
            font-size: 20px;
          }
        }
      }
    }

    .mini-map {
      margin-top: 20px;
      width: 60%;
      height: 400px !important;
      display: inline-block;

      .map {
        height: 400px;
      }
    }
  }

  .images {
    width: 100%;
    margin: auto;
    display: block;

    img {
      width: 80%;
    }
  }
}