<div class="col-md-3 add_document_attr">
    <div class="x_panel">
        <form [formGroup]="docAttributeForm">
            <div class="list_of_documets has-scroll">
                <div class="imageAttr">
                    <div class="x_title">
                        <h4><i class="fa fa-file-text-o"></i> Document Attribute</h4>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <ul class="nav">

                            <li>
                                <div class="input-form">
                                    <span>Document Type:</span>
                                    <select class="form-control" formControlName="type" [(ngModel)]="documentModel.type"><
                                        <option *ngFor="let docType of documentTypes" [value]="docType.name">{{docType.name}}</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>Document Refernece:</span>
                                    <input type="text" class="form-control" placeholder="Documet Reference" formControlName="referenceNo" [(ngModel)]="documentModel.referenceNo"/>
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>Number of Sheets:</span>
                                    <input type="number" class="form-control" placeholder="Sheets" formControlName="sheets" [(ngModel)]="documentModel.sheets"/>
                                </div>
                            </li>
                            <!--<li>-->
                            <!--<div class="input-form">-->
                            <!--<span>Document Date:</span>-->
                            <!--<input type="date" [(ngModel)]="documentModel.date" formControlName="date" class="form-control"/>-->
                            <!--</div>-->
                            <!--</li>-->
                            <li>
                                <div class="input-form">
                                    <span>Document Date:</span>
                                    <input type="text" class="form-control" id="doc_date" [(ngModel)]="documentModel.date" formControlName="date"/>
                                </div>
                            </li>
                            <li class="to-do">
                                <table class="">
                                    <tr>
                                        <td>Document Format:</td>
                                        <td><input type="radio" checked class="mat-radio-inner-circle" id="images" name="docFormat"   value="1" (click)="navFormatForm()"/>  <label for="images">Images</label></td>
                                        <td><input type="radio"  class="mat-radio-inner-circle" id="other" name="docFormat"    value="2" (click)="navFormatForm()"/> <label for="other">Other</label></td>
                                    </tr>
                                </table>
                            </li>
                            <li id="addImgBtn" *ngIf="isImages==true">
                                <div class="input-form">
                                    <span>Document Image:</span>
                                    <div class="input-group" style="display: flex">

                                        <button [disabled]="documentModel.sheets < 1" class="btn btn-sm btn-cis" id="addFrontImgTrigger" (click)="addFrontImgTrigger()">Add Front Image</button>
                                        <input  type="file" class="uploadimg" placeholder="Upload Image" id="uploadFrontImg" (change)="handleFileUpload($event)" style="display: none"/>
                                        <button [disabled]="documentModel.sheets < 1" class="btn btn-sm btn-cis" id="addBackImgTrigger" (click)="addBackImgTrigger()">Add Back Image</button>
                                        <input  type="file" class="uploadimg" placeholder="Upload Image" id="uploadBackImg" (change)="handleFileUpload($event)" style="display: none"/>
                                    </div>
                                </div>
                            </li>
                            <li  class="" *ngIf="isOthers==true && selectedImage.length > 0">
                                <div class="input-group">
                                    <div  class="form-control">
                                        <span>
                                            <i class="fa fa-paperclip"></i>  {{documentModel.images[0].description}}
                                        </span>
                                    </div>
                                    <span class="input-group-btn">
                                              <button class="btn btn-success" (click)="changeDoc()">Change</button>
                                          </span>
                                </div>

                            </li>
                            <li  class="align-center" id="addDocBtn" *ngIf="isOthers==true && selectedImage.length == 0">

                                <a [routerLink]=""  (click)="addOtherDocTrigger()">Upload Document</a>
                                <input  type="file" class="uploadimg" placeholder="Upload Image" id="uploadOtherdoc" (change)="handleOtherFileUpload($event)" style="display: none"/>

                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="document_type_footer align-center">
                <ul class="nav">
                    <li class="align-center addDocBtn" id="addImgBtn" style="display: flex">
                        <button class="btn btn-sm btn-cis" (click)="registerDocument()" [disabled]="!docAttributeForm.valid"><i class="fa fa-floppy-o"></i> Save Document </button>
                        <button class="btn btn-warning btn-sm" (click)="cancelEdit()"><i class="fa fa-remove"></i> Cancel</button>

                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>