<div class="dams-main-body">
    <div class="row">
        <app-edit-single-doc (nextImage)="nextPage()"  [workflow]="" ></app-edit-single-doc>
        <div class="col-md-7" id="documentViewer">
            <div class="document-image-viewer">
                <div class="x_panel">
                            <!--<app-image [image]="selectedImage"></app-image>-->
                            <div class="img-manipulater col-md-12">
                                <div class="col-md-6">
                                    <span><strong>Document Type:</strong>  {{selectedDoc.type.name}}</span>
                                    <span *ngIf="selectedImage.length > 0"><strong>{{(page + 1) % 2 != 0 ? "Front" : "Back"}}</strong></span>
                                </div>
                            </div>
                            <div class=" image-viewer has-scroll">
                                <div class="pdf-viewer"  id="other-viewer">
                                    <iframe id="pdf-viewer" src="">

                                    </iframe>

                                </div>
                                <div class="other-viewer"  id="other-viewer">
                                    <div class="other-document">
                                        <h1>I can't preview the file </h1>
                                        <p>The File Format is : <i ></i></p>

                                        <button class="btn btn-cis" (click)="downloadPdf()"><i class="fa fa-download"></i> Download </button>
                                        <br>
                                        <iframe id="otherDocument" style="visibility: hidden" ></iframe>
                                    </div>
                                </div>
                                <div class="no-image" *ngIf="noImage && docSelected" id="other-viewer">
                                    <div class="other-document">
                                        <h1><i class="fa fa-exclamation-circle"></i></h1>
                                        <p>There is no images available</p>
                                    </div>
                                </div>

                                <svg id="imageViewer" width="100%" height="95%" version="1.1" style="left:0;top:0; text-align:center; background: #FFFFFF;"
                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                    <image id="img_viewer_img" href="" x="0" y="0" height="100" width="100" degree="0"/>
                                </svg>
                                <div class="image-footer align-center">
                                    <ul class="nav">
                                        <li [ngClass]="{disabled:loadedIndex === 0}"><a [routerLink]="" (click)="previous()" ><i class="fa fa-backward"></i></a></li>
                                        <li><p *ngIf="selectedImage.length > 0">{{page + 1}} / {{selectedImage.length}}</p></li>
                                        <li [ngClass]="{disabled:loadedIndex === (selectedImage.length -1)}"><a [routerLink]="" (click)="next()"><i class="fa fa-forward"></i></a></li>
                                        <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="rotate('-90')"><i class="fa fa-rotate-left"></i> Left</a></li>
                                        <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="rotate('90')"><i class="fa fa-rotate-right"></i> Right</a></li>
                                        <li [ngClass]="{disabled:selectedImage.length == 0}"><a [routerLink]="" (click)="fullScreen()"><i class="fa fa-arrows-alt"></i> Fullscreen</a></li>

                                        <li><a [routerLink]="" (click)="handleEvent(loadedIndex)"  *ngIf="selectedImage.length > 0"><i class="fa fa-trash"></i> Delete</a></li>
                                    </ul>
                                </div>
                            <!--<ngx-image-viewer [src]="selectedImage" [config]="{customBtns:[{name: 'delete', icon: 'fa fa-remove'}]}" (customEvent)="handleEvent($event)" >-->
                            <!--</ngx-image-viewer>-->


                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
