<div class="etdc_popup_Container" style="display:none" tabindex="0">
    <div class="etdc_Container row" tabindex="0">
            <div class='etdc_eth_container col-md-6'>
                <table cellspacing='1' class='calTable'>
                    <tr>
                        <td colspan='5' class='etdc_month_selector_container align-center'><i class='etdc_month_selector fa fa-arrow-left pull-left'></i><span class='filterCalendarMonthLabel'>JANUARY 2015</span><i class='etdc_month_selector fa fa-arrow-right pull-right'></i></td>
                        <td colspan="2"><span class="etdc_yearl_label"><select class="etdc_year_selector" id="etdc_year_et"></select></span></td>
                    </tr>
                    <tr><td class='etdc_dwn'>እ</td><td class='etdc_dwn'>ሰ</td><td class='etdc_dwn'>ማ</td><td class='etdc_dwn'>ሮ</td><td class='etdc_dwn'>ሀ</td><td class='etdc_dwn'>አ</td><td class='etdc_dwn'>ቅ</td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                </table>
            </div>
            <div class='etdc_grig_container col-md-6'>
                <table cellspacing='1' class='calTable'>
                    <tr>
                        <td colspan='5' class='etdc_month_selector_container align-center'><i class='etdc_month_selector fa fa-arrow-left  pull-left'></i><span class='filterCalendarMonthLabel'>JANUARY 2015</span><i class='etdc_month_selector fa fa-arrow-right pull-right'></i></td>
                        <td colspan="2"><span class="etdc_yearl_label"><select class="etdc_year_selector" id="etdc_year_gr"></select></span></td>
                    </tr>
                    <tr><td class='etdc_dwn'>S</td><td class='etdc_dwn'>M</td><td class='etdc_dwn'>T</td><td class='etdc_dwn'>W</td><td class='etdc_dwn'>T</td><td class='etdc_dwn'>F</td><td class='etdc_dwn'>S</td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                    <tr><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td><td class='etdc_day'></td></tr>
                </table>
            </div>
            <div class="etdc_commands col-md-12 btn-group">
                <button class="etdc_clear_command btn btn-default" type="button" ><i class="fa fa-calendar-times-o"></i></button>
                
                <button class="etdc_today_command btn btn-default" type="button" ><i class="fa fa-calendar"></i></button>
            </div>
    </div>
</div>