<div class="dams-main-body">
    <div class="row">
        <div class="col-md-3">
            <div class="full-file-info has-scroll">
            <div class="x_panel" *ngIf="docSelected">

                    <div class="x_title">

                        <h4><i class="fa fa-file-text-o"></i> Document Information</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="document-info case-document">
                            <ul class="nav">
                                <li><strong>Document Type:</strong>{{selectedCase.caseModel.document.type.name}}</li>
                                <li><strong>Reference: </strong>{{selectedCase.caseModel.document.referenceNo}}</li>
                                <li><strong>Date:</strong>{{ethDate}}</li>
                            </ul>
                        </div>
                    </div>
            </div>
                <div class="x_panel file-info">
                    <div class="x_title">
                        <h4><i class="fa fa-folder-open-o"></i> File Information</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="nav">
                            <li *ngIf="config!=null"><strong *ngIf="config.applicationFor=='cis'">UPIN:</strong> <strong *ngIf="config.applicationFor=='wsis'">Customer Code:</strong> {{selectedFile.upin}}</li>
                            <li><strong>File Code: </strong> {{selectedFile.fileCode}}</li>
                            <li><strong>File Owner:</strong> {{selectedFile.fileOwner}}</li>
                            <li><strong>Folder Code:</strong> {{selectedFile.folder}}</li>
                            <li><strong>Shelf No:</strong> {{selectedFile.shelf}}</li>
                            <li><strong>Inshelf Location:</strong> {{selectedFile.location}}</li>
                            <li><strong>Mobile No:</strong> {{selectedFile.mobileNumber}}</li>
                            <li><strong>Remark:</strong> {{selectedFile.remark}}</li>
                            <li class="editFileBtn align-center" id="editFileBtn">
                                <button class="btn btn-sm btn-cis" (click)="openFile()">Open File</button>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="x_panel">
                    <div class="x_title">
                        <h4><i class="fa fa-file-text-o"></i> Case Information</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="document-info case-document">
                            <ul class="nav">
                                <li><strong>Case Title:</strong>{{selectedCase.caseModel.title}}</li>
                                <li><strong>Case No:</strong>{{selectedCase.caseModel.caseNumber}}</li>
                                <li><strong>Case Type:</strong>{{selectedCase.caseModel.caseType}}</li>
                                <li><strong>Case Description:</strong>{{selectedCase.caseModel.description}}</li>
                                <li><strong>Date:</strong>{{selectedCase.caseModel.date}}</li>
                                <li><strong>Created By:</strong>{{selectedCase.caseModel.createdBy}}</li>
                            </ul>
                        </div>
                    </div>
                <div class="x-footer" *ngIf="workflowState == 8">
                    <ul class="nav">
                        <li id="editFileBtn" *ngIf="loggedinUser==assignedUser">
                            <button class="btn btn-sm btn-warning" (click)="closeCase()">Close Case</button>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="documentViewer">
            <div class="document-image-viewer">
                <div class="x_panel">
                    <div   class="image-container">
                        <div class="img-manipulater col-md-12" *ngIf="docSelected">
                            <div class="col-md-6">
                                <span><strong>Document Type:</strong>{{selectedCase.caseModel.document.type.name}}</span>
                            </div>
                            <div class="col-md-6 align-right">
                                <span *ngIf="images.length > 0"><strong>Page: </strong> {{imagePage%2==0?imagePage/2+ "  Back":((imagePage+1)/2)+"  Front"}}</span>
                            </div>
                            
                        </div>
                        <div class=" image-viewer has-scroll">
                            <!--<ngx-image-viewer [src]="images">-->
                            <!--</ngx-image-viewer>-->
                            <div class="pdf-viewer"  id="other-viewer">
                                <iframe id="pdf-viewer" src="">

                                </iframe>

                            </div>
                            <div class="other-viewer"  id="other-viewer">
                                <div class="other-document">
                                    <h1>I can't preview the file </h1>
                                    <p>The File Format is : <i ></i></p>

                                    <button class="btn btn-cis" (click)="downloadPdf()"><i class="fa fa-download"></i> Download </button>
                                    <br>
                                    <iframe id="otherDocument" style="visibility: hidden" ></iframe>
                                </div>
                            </div>
                            
                            <svg id="imageViewer" width="100%" height="95%" version="1.1" style="left:0;top:0"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <image id="img_viewer_img" href="" x="0" y="0" height="100" width="100" degree="0"/>
                            </svg>


                            <div class="image-footer align-center">
                                <ul class="nav">
                                    <li [ngClass]="{disabled:loadedIndex === (images.length -1)}"><a [routerLink]="" (click)="previous()" ><i class="fa fa-backward"></i></a></li>
                                    <li><p *ngIf="images.length > 0">{{page + 1}} / {{images.length}}</p></li>
                                    <li [ngClass]="{disabled:loadedIndex === (images.length -1)}"><a [routerLink]="" (click)="next()" ><i class="fa fa-forward"></i></a></li>
                                    <li [ngClass]="{disabled:images.length == 0}"><a [routerLink]="" (click)="rotate('-90')"><i class="fa fa-rotate-left"></i> Left</a></li>
                                    <li [ngClass]="{disabled:images.length == 0}"><a [routerLink]="" (click)="rotate('90')"><i class="fa fa-rotate-right"></i> Right</a></li>
                                    <li [ngClass]="{disabled:images.length == 0}"><a [routerLink]="" (click)="fullScreen()"><i class="fa fa-arrows-alt"></i> Fullscreen</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="full-file-info has-scroll">
                <div class="x_panel"  *ngIf="workflowState == 8 && loggedinUser==assignedUser">
                    <div class="x_title">
                        <h4><i class="fa fa-edit"></i>Case Forward</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form [formGroup]="forwardCaseForm" id="forwardCaseForm">
                            <ul class="nav">
                                <li>
                                    <div class="input-form">
                                        <label>Forward To:</label>
                                        <ng-autocomplete *ngIf="showAutoComplete" (selected)="userSelected($event)"  [group]="group"></ng-autocomplete>
                                    </div>

                                </li>
                                <li>
                                    <div class="input-form"  *ngIf="config!=null">
                                        <label>Comment:</label>
                                        <textarea rows="4" *ngIf="config.language=='en'" class="form-control" formControlName="Description" [(ngModel)]="forwardCaseModel.comment"></textarea>
                                        <amharic-input [multiline]="true" [placeholder]="'Enter comment'" *ngIf="config.language=='am'" rows="4"  formControlName="Description" [(txtval)]="forwardCaseModel.comment"></amharic-input>
                                    </div>
                                </li>

                                <li class="editFileBtn align-center" id="editFileBtn">
                                    <button class="btn btn-sm btn-cis" (click)="forwardCase()" [disabled]="!(forwardCaseForm.valid && forwardCaseModel.assignee!='')"><i class="fa fa-paper-plane"></i> Forward Case</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="x_panel document-info" *ngIf="selectedCase.notes.length>0">
                    <div class="x_title">
                        <h4><i class="fa fa-file-text-o"></i> Case Notes</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" id="">
                        <ul class="nav note">
                            
                            <li *ngFor="let caseNote of selectedCase.notes">
                                <a>
                                    <div class="align-left"><strong>From: </strong>{{caseNote.username}}</div>
                                    <div class="align-right"><strong>To: </strong>{{caseNote.forwardTo}}</div>
                                    <div class="align-left"><p><strong><i class="fa fa-file-text-o"></i>  </strong>{{caseNote.note}}</p></div>
                                    
                                    <div class="col-md-12 align-right"> <span><i class="fa fa-calendar"></i> {{caseNote.date}}</span></div>
                                </a>
                            </li>
                            <li id="editFileBtn" class="align-center"><button class="btn btn-sm btn-cis"  (click)="print()"><i class="fa fa-print"></i> Print Case Detail</button></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="printable-page" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body" id="printable">
           <h3>Document Detail</h3>
            <table class="table">
                
                <tr>    <td><strong>Document Type:</strong>{{selectedCase.caseModel.document.type.name}}</td></tr>
                <tr>   <td><strong>Reference: </strong>{{selectedCase.caseModel.document.referenceNo}}</td></tr>
                <tr>   <td><strong>Date:</strong>{{ethDate}}</td>
                </tr>
            </table>
            <h3>Case Detail</h3>
            <table class="table">
                <tr> <td><strong>Case Title: </strong> {{selectedCase.caseModel.title}}</td></tr>
                <tr>  <td><strong>Case No:</strong>{{selectedCase.caseModel.caseNumber}}</td></tr>
                <tr>  <td><strong>Case Type:</strong>{{selectedCase.caseModel.caseType}}</td></tr>
                <tr>  <td><strong>Case Description:</strong>{{selectedCase.caseModel.description}}</td></tr>
                <tr>  <td><strong>Date:</strong>{{selectedCase.caseModel.date}}</td></tr>
                <tr>  <td><strong>Created By:</strong>{{selectedCase.caseModel.createdBy}}</td>
                </tr>
            </table>
            <h3>Case Note</h3>
            <table class="table table-boreder">
                
                <tr><td>From</td><td>To</td><td>Note</td><td>Date</td></tr>
                <tr *ngFor="let caseNote of selectedCase.notes">
                    <td> {{caseNote.username}}</td><td>{{caseNote.forwardTo}}</td><td>{{caseNote.note}}</td><td>{{caseNote.date}}</td>
                </tr>
            </table>
           
        </div>
    </div>
</div>