<!--Start dashboard body-->
<div class="dashboard-main-body-md" id="dashboard-main-body">
    <div class="col-md-6 dashboard-panel">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-6 dashboard-map">
        <div class="x_panel align-center">

            <h1>MAP</h1>
        </div>
    </div>
    <div class="col-md-1 dashboard-map-sm">
        <div class="x_panel">
            <div class="x_title align-center">
                <ul class="nav panel_toolbox ">
                    <li><a class="close-link" [routerLink]="" (click)="showMap()"><i class="fa fa-toggle-left"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content has-scroll">
                <div class="">
                    <h1><i class="fa fa-map-marker"></i> Map Content...</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of dashboard body-->