<div class="dams-main-body">
    <div class="row">
        <div class="col-md-3 document_image">
            <div class="x_panel">

                <div class="x_title">
                    <h4><i class="fa fa-search"></i> Advanced Search</h4>
                    <div class="clearfix"></div>
                </div>
                <form [formGroup]="searchCaseForm" id="searchForm">
                    <div class="search-panel has-scroll">
                      
                        <ul class="nav"  id="fileSearchContent">
                            <li>
                                <div class="input-form">
                                    <span>Case Number:</span>
                                    <input type="number" class="form-control" id="owner-txt" formControlName="caseNo" [(ngModel)]="searchCaseModel.caseNo"/>
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>Case Status:</span>
                                    <select class="form-control" id="code-txt" formControlName="caseStatus" [(ngModel)]="searchCaseModel.caseStatus">
                                        <option value="8">Open</option>
                                        <option value="6">Closed</option>
                                        <option value="7">Cancelled</option>
                                    </select>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>Case Created Date:</span>
                                    <input type="text" class="form-control" id="folder-txt" formControlName="caseDate" [(ngModel)]="searchCaseModel.caseDate"/>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="document_type_footer align-center">
                        <ul class="nav">
                            <li class="align-center" id="addDocBtn">
                                <a class="" [routerLink]="" (click)="onSearchClicked()"><i class="fa fa-search"></i> Search</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 search-resualt">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Search Result</h4>
                </div>
                <div class="x_content">
                    <div class="align-center on-search" style="display: none">
                        <h1> Wait a moment...</h1>
                    </div>
                    <div class="align-center no-parameter" style="display: none;">
                       
                    </div>
                    <div class="fileResualt" *ngIf="searchCaseResult?.length > 0">
                        <table class="table table-stripe">
                            <thead>
                            <tr>
                                <th>Case Type</th>
                                <th>Case Number</th>
                                <th>Case Date</th>
                                <th>Title</th>
                                <th>Created By</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="search_action">
                            <tr *ngFor="let searchCase of searchCaseResult">

                                <td>{{searchCase.caseType}}</td>
                                <td>{{searchCase.caseNumber}}</td>
                                <td>{{searchCase.date}}</td>
                                <td>{{searchCase.title}}</td>
                                <td>{{searchCase.createdBy}}</td>
                                <td class="align-right">
                                    <button class="btn btn-cis" (click)="showCase(searchCase)"><i class="fa fa-eye"></i> View</button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div  class="x_footer">
                    <div class="align-center">
                        <ul class="pagination">
                            <li>
                                <a></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ngx-spinner>
    </ngx-spinner>
</div>