.teamContainer {
  top: 0px;
  max-height: 100vh;
}

.teamHeader {
  min-height: 7vh;
  height: 7vh;
  text-align: center;
  background-color: lightgray;
  padding: 7px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
}
.teamListContainer {
  height: 93vh;
  max-height: 90vh;
  overflow-y: auto;
}

.messageContainer {
  height: 93vh;
  border: 2px solid #eee;
}

.messages {
  height: 76vh;
  max-height: 76vh;
  overflow-y: auto;
}

.massageFrom {
  height: 13vh;
  max-height: 13vh;
  margin-top: 2%;
}
.messageBox {
  width: 100%;
  margin: 0px;
}

.fileInput {
  width: 100%;
  height: 100%;
}

.sendButton {
  height: 100%;
  width: 100%;
  text-align: center;
}

.fileInput:hover {
  cursor: pointer;
}

.messageComponent {
  background-color: #eee;
  padding: 15px;
  border-radius: 5px;
  width: 90%;
  margin: 2px;
}

.messageContent {
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

.messageFromUser {
  border-radius: 5px;
}
.messageFromOther {
  border-bottom-left-radius: 0px;
}

.threadComponent {
  width: 100%;
  border-radius: 0px;
  background-color: red;
  border: none;
  padding: 10px;
  margin: 0px;
}
.threadComponent :hover {
  cursor: pointer;
  background-color: #555;
  color: #fff;
}

.threadComponent :focus {
  background-color: #ddd;
}

.memberContainer {
  height: 93vh;
  max-height: 100vh;
  overflow-y: auto;
}
