@charset "UTF-8";
@import url('font-awesome.min.css');
@import url('font-awesome-animation.css');

body{
    color: #73879C;
    background: #F7F7F7;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.471;
}
img{
    max-width: 100%;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
    font-weight: 400;
}
a {
    color: #5A738E;
}
*, :after, :before {
    box-sizing: border-box;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.btn-cis{
    color: #fff;
    background-color: #73879C;
    border-color: #ccc;
}
.btn-cis.focus,.btn-cis:focus{
    color:#fff;
    background-color:#40556a;
    border-color:#40556a
}
.btn-cis:hover{
    color:#fff;
    background-color:#40556a;
    border-color:#40556a
}
.login_wrapper {
    right: 0;
    margin: 1% auto 0;
    max-width: 350px;
    position: relative;
}
.login_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
}
.login_content form {
    margin: 20px 0;
    position: relative;
    padding: 0 20px;
}
.login_content .login-icon i{
    font-size: 70pt;
    font-weight:lighter;
    border:1px solid #73879C;
    border-radius: 50%;
    padding: 10px 20px;
    -webkit-text-stroke: 7px #F7F7F7;
    color: #73879C;
}
.login_content h1 {
    font: 400 25px Helvetica,Arial,sans-serif;
    letter-spacing: -.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}
.login_content .header_title h1:after {
    background: #73879C;
    background: linear-gradient(left,#7e7e7e 0,#fff 100%);
    right: 0;
}
.login_content .header_title  h1:before {
    background: #73879C;
    background: linear-gradient(right,#7e7e7e 0,#fff 100%);
    left: 0;
}
.login_content .header_title h1:after, .login_content .header_title  h1:before {
    content: "";
    height: 5px;
    position: absolute;
    top: 30%;
    width: 7%;
}
.login_content .input-group{
    margin: 0 0 20px;
}
.login_content #addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight:lighter;
    line-height: 1;
    color: #fff;

    background-color: #73879C;
    border: 1px solid #73879C;
}
.login_content .btn-cis:hover, .login_content a{
    text-decoration: none;
}
.login_content div .reset_pass {
    margin-top: 13px!important;
    margin-right: 39px;
    float: left;
}
.clearfix:after, form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px;
}

.header{
    background: #022c58;
    height: 45px;
    width: 100%;
    display:block;
    vertical-align: middle;
    padding:0 5%;
    position: fixed;
    z-index: 3;

}
.header .header-logo{
    padding: 2.5px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header .header-logo span{

}
.header .btn-welcome{
    background: #03386f;
    color: #fff;
    border-radius: 0;
    padding: 11px;
}
.main-body{
    position: absolute;
    top:50px;
    left: 0;
    right: 0;
    bottom: 0;
}
.dashboard-main-body-md{
    position: absolute;
    top:50px;
    left: 200px;
    right: 0;
    bottom: 0;
}
.x_panel{
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
    margin-bottom: 10px;

}
.x_title{
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}
.x_footer{
    border-top: 2px solid #E6E9ED;
    padding: 15px 1px 6px;
    margin: 10px 0;
}
.has-scroll::-webkit-scrollbar{
    width:0.65em;
    height: 0.65em;
}
.has-scroll::-webkit-scrollbar-track{
    border-radius:1px;
    background:rgba(64,85,106,0.1);
}
.has-scroll::-webkit-scrollbar-thumb{
    background-color:rgba(64,85,106,0.3);
    border-radius:1px;
}
.has-scroll::-webkit-scrollbar-thumb:hover
{
    background-color:#73879C;
    border-radius:3px;
}
.has-scroll::-webkit-scrollbar-track:hover{
    -webkit-box-shadow: inset 0 0 6px rgba(64,85,106,0.2);
    border-radius:1px;
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
}
.panel_toolbox {
    float: right;
    min-width: 70px;
}
.sideMenu-mdbar-right {
    margin-right: 0;
}
.panel_toolbox>li {
    float: right;
    cursor: pointer;
}
.sideMenu-md>li {
    position: relative;
    display: block;
}
.tab-content{
    height: 98%;
}
#userManagment, #audit{
    height: 95%;
}
#userManagment .navbar-right {
     margin-right: 0; 
}
#audit .x_panel, #audit .auditManagement{
    height: 98%;
}
#audit .x_content{
    height: 90%;
}
#audit .audit_search_result{
    height: 100%;
    overflow: auto;
}
.user_page{
    height: 97%;
}
.user_page .x_title .span{
    display: none;
}
.user_page .x_title .top_search{
    display: block;
}
.user_page .x_panel{
    height: 100%;
}
.user_page .btn-title{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.user_page .x_content{
    height: 80%;
    overflow: auto;
}
.edit-user{
    height: 97%;
    display: none;
}
.edit-user .x_panel{
    height: 100%;
}
.edit-user .x_panel form{
    height: 90%;
}
.edit-user .x_content{
    height: 87%;
    overflow: auto;
}
.dashboard-panel{
    height: 98%;
}
.dashboard-panel .x_panel{
    height: 100%;
}
.dashboard-panel .x_content{
    height: 90%;
    overflow: auto;
}
.dashboard-map{
    height: 98%
}
.dashboard-map .x_panel{
    height: 100%;
}
.edit-user input[type=text], .audit_search input[type=text], .edit-user select, .audit_search select, .edit-user input[type=password]{
    margin-bottom: 15px;
}
tbody .btn-group{
    display: flex;
}
.sideMenu-md{
    position: fixed;
    top:45px;
    left: 0;
    width: 200px;
    bottom: 0;
    background: #EDEDED;
    border-right: 1px solid #D9DEE4;
    z-index: 3;
}
.side-menu{
    padding: 7px 0 0 0;
}
.sideMenu-md .side-menu>li.active, .sideMenu-md .side-menu>li.current-page {
    border-right: 2px solid #1ABB9C;
    border-top: 1px solid #D9DEE4;

}
.side-menu>li>a{
    padding:15px 10px 15px;
}
.sideMenu-md .side-menu>li {
    cursor: pointer;
}
.sideMenu-md .side-menu>li.active>a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#022c58,#022c58),#022c58;
    color: #fff;
}
.sideMenu-md .side-menu>li>a:hover, .sideMenu-md li>a:focus {
    text-decoration: none;
    background: #73879C;
}
.sideMenu-md .side-menu>li>a:hover {
    color: #F2F5F7!important;
}
.sideMenu-md li>a:focus, .sideMenu-md li>a:hover {
    background-color: transparent;
}

.sideMenu-md .child_menu>li>a, .sideMenu-md .side-menu>li>a {
    color: #73879C;
    font-weight: 500;
}
.sideMenu-md li>a:focus, .sideMenu-md li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.sideMenu-md .side-menu .a-tag {
    display: block;
}
.side-menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
}
.side-menu .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
}
.sideMenu-md .child_menu {
    display: none;
}
.sideMenu-md .child_menu li {
    padding-left: 36px;
}
.sideMenu-md .child_menu>li>a {
    color: #73879C;
    font-size: 12px;
    padding: 9px;
}
.child_menu li{
    border-bottom:1px solid #ddd;
}
.child_menu li.active, .child_menu>li:hover, .child_menu>li.active>a, .child_menu>li>a:hover{
    background:#ddd;
}
.child_menu li:before {
    background: #73879C;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}
.child_menu li:after {
    border-left: 1px solid #73879C;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}
.search_section{
    padding: 10px;
    height: 95%;
    overflow: auto;
}
.search_section .input-form{
    margin-bottom: 10px;

}
.menu_collapse_md{
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding:10px;
    border-top:1px solid #eee;
    border-right:1px solid #eee;
}
.menu_collapse_md a{
    background: #fff;
    padding:10px;
}
.dashboard-main-body-sm{
    position: absolute;
    top:50px;
    left: 60px;
    right: 0;
    bottom: 0;
}
.sideMenu-sm{
    position: fixed;
    top:45px;
    left: 0;
    width: 60px;
    bottom: 0;
    background: #EDEDED;
    border-right: 1px solid #D9DEE4;
    z-index: 3;
}
.sideMenu-sm .side-menu>li.active-sm, .sideMenu-sm .side-menu>li.current-page {
    border-right: 2px solid #1ABB9C;
    border-top: 1px solid #D9DEE4;

}
.sideMenu-sm .side-menu>li {
    cursor: pointer;
}
.sideMenu-sm .side-menu>li.active-sm>a, .sideMenu-sm .side-menu>li.active>a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#022c58,#022c58),#022c58;
    color: #fff;
}
.sideMenu-sm .side-menu>li>a:hover, .sideMenu-sm li>a:focus {
    text-decoration: none;
    background: #73879C;
}
.sideMenu-sm .side-menu>li>a:hover {
    color: #F2F5F7!important;
}
.sideMenu-sm li>a:focus, .sideMenu-ms li>a:hover {
    background-color: transparent;
}

.sideMenu-ms .child_menu>li>a, .sideMenu-ms .side-menu>li>a {
    color: #73879C;
    font-weight: 500;
}
.sideMenu-ms li>a:focus, .sideMenu-ms li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.a-tag-sm {
    display: none;
}
.sideMenu-sm .child_menu {
    display: none;
}
.sideMenu-sm .child_menu li {
    padding-left: 36px;
}
.sideMenu-sm .child_menu>li>a {
    color: #73879C;
    font-size: 12px;
    padding: 9px;
}
.fa-toggle-right,.fa-toggle-left{
    font-size: 15pt;
}
.dashboard-map-sm{
    height: 98%;
    display: none;
}
.dashboard-map-sm .panel_toolbox li{
    padding-left: 10px;
}
.dashboard-map-sm h1{
    transform: rotate(90deg);
    width:1.53em;
    margin-top:10%;
    margin-left: 10%;
}
.dashboard-map-sm .x_panel{
    height: 100%;
    
}
.dashboard-map-sm .x_content{
    height: 80%;
    white-space: nowrap;
    padding: 10% 10%;
}
/* DAMS */

.dams-header{
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    height: 45px;
    width: 100%;
    display:block;
    vertical-align: middle;
    padding:0 5% 0 0;
    position: fixed;
    z-index: 3;
    color:#fff;

}
.dams-header .header-logo{

    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dams-header .header-logo img{
    background: #0a77ea;
    padding: 2.5px;
}
.dams-header .btn-welcome{
    background: #354d65;
    color: #fff;
    border-radius: 0;
    padding: 12px;
    height: 100%;
}
.dams-header .btn-welcome:hover, .dams-header .btn-welcome:focus, .dams-header .btn-welcome:active{
    background: #1b6d85;
}
.dams-side-menu{
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    position: fixed;
    width: 45px;
    top:45px;
    bottom: 0px;
    left:0px;
    display:block;
    z-index: 3;
}
.dams-side-menu ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.dams-side-menu ul li a{
    color: #fff;
}
.dams-side-menu ul li{
    padding: 5px 0;
    margin-bottom: 10px;
}
.dams-side-menu ul li a i{
    font-size:16pt;
}

.dams-side-menu ul li a span{
    font-size:6pt;
}
.dams-side-menu li a:hover, .dams-side-menu li a:focus {
    text-decoration: none;
}
.dams-side-menu li:hover, .dams-side-menu li:focus, .dams-side-menu .active {
    background: #1b6d85;
}
.dams-main-body{
    position: absolute;
    top: 50px;
    left: 50px;
    right:0px;
    bottom: 0px;
    overflow-x: hidden;

}
.dashboard-widget-content ul.timeline li {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    clear: both;
}
.timeline.widget .block {
    margin-left: 5px;
}
.timeline .block {
    margin: 0 0 0 105px;
    border-left: 3px solid #e8e8e8;
    overflow: visible;
    padding: 10px 15px;
}
.timeline h2.title {
    position: relative;
    font-size: 16px;
    margin: 0;
}
.timeline h2.title:before {
    content: "";
    position: absolute;
    left: -23px;
    top: 3px;
    display: block;
    width: 14px;
    height: 14px;
    border: 3px solid #d2d3d2;
    border-radius: 14px;
    background: #f9f9f9;
}
.dams-main-body .col-md-9, .dams-main-body .row, .dams-main-body .col-md-3 , .dams-main-body .col-md-2, .dams-main-body .col-md-6{
    height: 99%;
}
.dams-pending-task{
    height: 100%;
}
.dams-pending-task .x_panel{
    height: 100%;
}
.dams-pending-task table tbody tr{
    cursor: pointer;
}
.dams-pending-task table tbody tr:hover td{
    background: #eee;
}
.dams-pending-task .x_content{
    height: 80%;
    overflow: auto;
}
.dams-recient-activities{
    height: 50%;
}
.dams-recient-activities .x_panel{
    height: 100%;
}
.dams-recient-activities .x_content{
    height: 80%;
    overflow: auto;
}
.dashboard-panel-right{
    height: 100%;
    overflow: auto;
}
.file-statistics .panel{
    border: 1px solid #E6E9ED;
}
.file-statistics .panel h3{
    padding: 15px 0px;
}
.file-statistics .documents .span{
    width: 100%;
    padding: 10px;
    background: #4cae4c;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.file-statistics .files .span{
    width: 100%;
    padding: 10px;
    background: #2e6da4;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.file-statistics .images .span{
    width: 100%;
    padding: 10px;
    background:#985f0d;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input-form, .input-group{
    margin-bottom: 10px;
}
#regFile .modal-dialog .modal-body{
    height: calc(95vh - 150px);
    overflow:auto;
}
.form-error{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ff0000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.document_type .x_panel{
    height: 100%;
    padding: 10px 0px;
}
.add_document_attr  .x_panel .list_of_documets{
    overflow-y: auto;
}
.add_document_attr  .x_panel{
    height: 100%;
    padding: 10px 15px;
}
.add_document_attr  .x_panel form{
    height: 100%;
}
.add_document_attr  .x_panel .document_type_footer{
  
    padding: 7px 0px;
}
.document_type_footer{
    border-top: 2px solid #ddd;
    padding: 7px 10px;
}
.list_of_documets{
    width: 100%;
    height: 90%;
}
.list_of_documets li a{
    padding:15px 10px 15px;
    border-bottom: 1px solid #ddd;
}
.list_of_documets li {
    cursor: pointer;
}
.list_of_documets li.active a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#73879C,#73879C),#73879C;
    color: #fff;
}
.list_of_documets li a:hover {
    text-decoration: none;
    background: #73879C;
}
.list_of_documets li a:hover {
    color: #73879C;
}

.list_of_documets li a, .list_of_documets li a {
    color: #73879C;
    font-weight: 500;
}
.list_of_documets li a:focus, .list_of_documets li a:hover {
    text-decoration: none;
    background-color: #eee;
}

.list_of_documets span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
}
.list_of_documets .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
}
.list_of_documets .child_menu {
    display: none;
}
.list_of_documets .child_menu li {
    padding-left: 36px;
}
.list_of_documets .child_menu>li>a {
    color: #73879C;
    font-size: 12px;
    padding: 9px;
}
.list_of_documets .child_menu li{
    
    
}
.list_of_documets .child_menu li.active, .list_of_documets .child_menu>li.active>a{
    background: #ddd;
}
 .list_of_documets .child_menu>li:hover,  .list_of_documets .child_menu>li>a:hover{
    background:#eee;
}
.list_of_documets .child_menu li a{
    background: transparent;
}
#addImgBtn .btn{
    width: 50%;
    margin: 0 1% 0;
    padding:10px 15px;
    border-radius:0px;
}
#addImgBtn .btn-group{
    display: block;
}
#editFileBtn .btn{
    width: 100%;
    padding:10px 15px;
    border-radius:0px;
}

.document-image-viewer{
    height: 100%;
}
.document-image-viewer .x_panel{
    height: 99%;
    padding:0px;
    background-image: url(../images/frame_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.document-image-viewer .image-container{
    height: 100%;
    
}
.document-image-viewer .image-viewer{
    height: 96%;
    overflow: hidden;
    padding: 0 10px 10px;
}
#documentViewer{
    height: 100%;
}
#imgframe{
    height: 100%;
    width: 100%;
    border: none;
    background-image:url("../images/frame_bg.png");
    background-repeat:no-repeat;
    background-position: center center;
}
#pdf-viewer{
    height: 100%;
    width: 100%;
    border: none;
}
#other-viewer{
   width: 100%;
    height: 100%;
}
.other-document{
    height: 98%;
    width: 100%;
    text-align: center;
    padding: 25% 0;
    background: #ffffff;
}
.full-file-info{
    height: 100%;
    overflow: auto;
}
.document-info li, .file-info li, .file-request li{
    padding: 5px 0px;
    border-bottom: 1px solid #eee;
}
.file-info li:last-child, .file-request li:last-child{
    border-bottom: none;
}
#editFileBtn a, #addDocBtn a, #addImgBtn a{
    background: #73879C;
    color: #fff;
}
#editFileBtn a:hover, #addDocBtn a:hover,#addImgBtn a:hover{
    text-decoration: none;
    background: #40556a;
}
.document_image{
    height: 100%;
}
.document_image .x_panel{
    height: 100%;
}

.imageDetails{
    height: 99%;
}
.imageDetails .x_panel{
    height: 99%;
}
.document-attribut li{
    margin-bottom:10px;
}
.document_image .document_type_footer{
    padding: 10px 0px;
}
#addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight:lighter;
    line-height: 1;
    color: #fff;

    background-color: #73879C;
    border: 1px solid #73879C;
}
.uploadimg::-webkit-file-upload-button {
    visibility: hidden;
}
.uploadimg{
    padding: 0px;
    width:100%;
    height: 34px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.uploadimg::before {
    content: 'Choose Image';
    display: inline-block;
    margin-top:-15px;
    margin-left: -13px;
    padding: 5px 5px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #73879C;
    background-image: none;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.empty-msg .fa{
    font-size: 80pt;
    color:#e3e3e3;
    margin-top: 15%;
    width: auto;
    border:2px solid #e3e3e3;
    padding:5pt 30pt;
    border-radius: 50%;
}

.img-manipulater{
    background: #2A3F54;
    padding: 5px;
    color: #fff;
}
.img-manipulater:hover .btn-cis{
    opacity: 1;
}

.search-panel{
    height: 89%;
    overflow: auto;
    padding-right: 5px;
}
.search-resualt{
    height: 99%;
}
.search-resualt .x_panel{
    height:100%;
}
.search-resualt .x_content{
    height: 79%;
    overflow: auto;
}
.search-resualt .x_footer{
    padding: 0px;
    margin:  0px;
}
#searchForm {
    height: 90%;
}
.error{
    color: red;
}
.success{
    color: #00ff00;
}
#updatePass .modal-dialog{
    width: 400px;
}
#rejectNote .modal-dialog{
    width:400px;
}
#roleModal .modal-dialog{
    width: 300px;
}

#workflowNote .modal-dialog{
    width: 400px;
}
#fileInfo .modal-dialog{
    width: 400px;
}
.note li a{
    padding: 10px 15px 20px;
    width: 100%;
}
.note li a p{
    font-size: 12pt;
}
.note li a div span{
  font-style: italic;
}
.case-document{
    padding-left: 20px;
}
/*Et Dual Calander*/

.etdc_popup_Container
{
    position:absolute;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    background:transparent;
    z-index:10000;
}
.etdc_Container
{
    position:absolute;
    background:white;
    width:450px;
    border-radius:2px;
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    padding:5px;
}
.etdc_month_selector
{
    cursor:pointer;
    padding:0 5px 0 5px;
}
.etdc_day {
    font-size:11px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ddd;
    text-align: center;
    color: #666;
    cursor:pointer;
    background: #f5f5f5;
    box-shadow:#ddd 1px 1px 1px 1px ;
}
.etdc_day:hover
{
    background:#e67e22;
    color:#ffffff;
}
.etdc_year_selector
{
    width:100%;
    display:inline;
    z-index:9999;
    padding:2px 2px;
    font-size:12px;
    border:none;
}
.etdc_marked_day
{
    background:#33aaff;
    color:#FFF;
    box-shadow:#178fe5 0 1px 3px 0 inset;
    box-shadow:#ddd 1px 1px 1px 1px ;
}
.etdc_eth_container
{
    float:left;
    padding:4px;

}

.etdc_grig_container
{
    float:right;
    padding:4px;

}
.etdc_dwn
{
    text-align:center;
    border:1px solid #ddd;
    background:#f1f1f1;
    color:#666;
    box-shadow:#ddd 1px 1px 1px 1px ;
}
.etdc_grig_container .filterCalendarMonthLabel
{
    font-size:10px;
}

/*Ng Autocomplete css*/
.ng-autocomplete-dropdown {
    position: relative;
    max-height: 200px;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs {
    position: relative;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ng-autocomplete-dropdown .ng-autocomplete-placeholder {
    position: absolute;
    margin: 3px;
    background-color: #fff;
    padding: 6px 12px;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    width: calc(100% - 4px);
}
.ng-autocomplete-dropdown .ng-dropdown {
    display: none;
    border: 1px solid #e0e0e0;
    z-index: 99999;
    max-height: 280px;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
.ng-autocomplete-dropdown .ng-dropdown.open {
    display: block;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item {
    width: 100%;
    cursor: pointer;
    padding: 6px 12px;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    background-color: #ffffff;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item:nth-child(odd) {
    background-color: #efefef;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active {
    background-color: #0099cc;
    color: #fff !important;
}

.ng-autocomplete-dropdown .ng-dropdown .dropdown-item .dropdown-item-highlight {
    font-weight: bold;
}

.ng-autocomplete-dropdown-icon {
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
    font-size: 7pt;
    color: #758694;

}

.ng-autocomplete-dropdown-icon:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    position: absolute;
    right: 7px;
    z-index: 999;
    top: 14px;
}

.ng-autocomplete-dropdown-icon.open:after {
    transform: rotate(180deg);
}

/*Spinner*/
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.lds-spinner {
    margin-top: 100px;
    position: relative;
    height: 100%;
    z-index: 999; 
}
.lds-spinner div {
    left: 94px;
    top: 48px;
    position: absolute;
    -webkit-animation: lds-spinner linear 3.1s infinite;
    animation: lds-spinner linear 3.1s infinite;
    background: #442317;
    width: 12px;
    height: 24px;
    border-radius: 40%;
    -webkit-transform-origin: 6px 52px;
    transform-origin: 6px 52px;
}
.lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -2.841666666666667s;
    animation-delay: -2.841666666666667s;
}
.lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -2.583333333333333s;
    animation-delay: -2.583333333333333s;
}
.lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -2.325s;
    animation-delay: -2.325s;
}
.lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -2.066666666666667s;
    animation-delay: -2.066666666666667s;
}
.lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -1.808333333333333s;
    animation-delay: -1.808333333333333s;
}
.lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -1.55s;
    animation-delay: -1.55s;
}
.lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -1.291666666666667s;
    animation-delay: -1.291666666666667s;
}
.lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -1.033333333333333s;
    animation-delay: -1.033333333333333s;
}
.lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.775s;
    animation-delay: -0.775s;
}
.lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.516666666666667s;
    animation-delay: -0.516666666666667s;
}
.lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.258333333333333s;
    animation-delay: -0.258333333333333s;
}
.lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.lds-spinner {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.container-fluid{
    padding-left: 0px;
}
.to-do{
    background: #f3f3f3;
    border-radius: 3px;
    position: relative;
    padding: 7px;
    margin-bottom: 5px;
    list-style: none;
}
.to-do table{
    width: 100%;
    max-width: 100%;
}
.image-footer {
    background: linear-gradient(#334556, #2C4257), #2A3F54;
}
.image-footer ul li{
    list-style: none;
    display: inline-block;
}