.block {
  display: block;
}

.task-type,
.maintenance-type {
  display: block !important;
  margin: 20px auto;

  .MuiFormControlLabel-labelPlacementStart-230 {
    display: inline-block;
    width: 150px;
  }
}

.text-field {
  display: block;
  width: 80%;
  margin: 20px auto !important;
}

.priority-dropdown {
  display: block;
  margin: 20px auto;
}

.block {
  display: block;
  width: 100%;
}

.task-assignee {
  display: block !important;
  margin: 20px auto;

  .MuiFormControlLabel-labelPlacementStart-230 {
    display: inline-block;
    width: 150px;
  }
}

.text-field {
  display: block;
  width: 100%;
  margin: 20px auto;

}

.block-margin {
  width: 75% !important;
  margin: 45px auto;
}