﻿body
{
}
.title1
{
    display: table-cell;
    vertical-align: middle;
    background-color: #003366;
    color: #FFFFFF;
    width:100%;
    height: 1.5em;
    text-align: center;
    font-weight: normal;
    font-family: 'Arial Rounded MT Bold';
    font-size: 5em;
}
.title2
{
    display: table-cell;
    vertical-align: middle;
    background-color: #FFFFFF;
    color: #000080;
    width: 100%;
    text-align: Left;
    font-weight: normal;
    font-family: 'Arial Rounded MT Bold';
    font-size: 3em;
}
.info1
{
    vertical-align: middle;
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
    text-align: Left;
    font-weight: normal;
    font-family: 'Arial Rounded MT Bold';
    font-size: 3em;
}
.spacer
{
    height:5em
}
.spacerSmall
{
    height:1em
}
.centertd
{
    text-align:center;
    width:100%
}
#loginbtn
{
    width:80%;
    font-size:5em
}
.sumbtn
{
    width:80%;
    font-size:5em
}
.error
{
    font-size:3em;
   color:red;
   text-align:center
}
.error
{
    font-size:3em;
   color:red;
   text-align:center
}
.error3
{
    font-size:1em;
   color:red;
   text-align:center
}
.warning1
{
    font-size:3em;
    color:black;
    text-align:center
}
.hiddeninput
{
    height:0px;
    visibility:hidden;
    padding:0px;
    border:0px;
}
.myInput
{
    font-size: 5em;
    width:100%
}
#problem
{
    font-size: 3.5em;
    background-color: #FFFFFF;
    color: #0000FF;
}
.label1
{
    font-weight:bold;
    font-size:3em
}
.value1
{
    font-size:5em;
    text-align:right
}
.label2
{
    font-weight:bold;
    font-size:3em
}
.label3
{
    font-weight:bold;
    font-size:3em
}
.label4
{
    text-decoration:underline
}
    .value3
    {
        font-size:3em;
        text-align:right
    }
.progress
{
    border-style: solid;
    border-color: #000080;
    font-size:5em;
    
}

.title3{
    display: table-cell;
    vertical-align: middle;
    background-color: #003300;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    text-align: center;
    font-weight: normal;
    font-family: 'Arial Rounded MT Bold';
    font-size: xx-large;
}
.title4{
    display: table-cell;
    vertical-align: middle;
    background-color: #003300;
    color: #FFFFFF;
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-family: 'Arial Rounded MT Bold';
    font-size: xx-large;
}
.custInfoOdd
{
    background-color: #243737;
    color: #E6EEEE;
}
.custInfoEven
{
    background-color: #C6D9D9;
}

html, body,form, #map-canvas {
        margin: 0px;
        padding: 0px;
         height:100%
        
}
#legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }