.section {
      margin: 10;
                padding: 10;
                flex-grow: 1;
                font-size : 60;
}

.title {
 margin : -5px;
}

.date {
    text-align: right;
    padding-right: 5%;
    font-size: 25px;
    font-weight: bold;
}

.datatable {
    margin: auto;
    width: 70%;
    font-size: 20px;
    padding-top: 5%;

}
 
.datatable > th > div {
    font-size: 25px;
}
/*
td {
    font-size: 20px;
} */

.footerRow {
    width: 80%;
    margin : auto;
    padding-top: 10%;
}

.signatureSpace {
    text-align: center;
    font-size: 20px;
    border-bottom : black 2px solid;
    padding-bottom: 10%;
    margin: 5px;
    /* margin: 5px; */
}