
.docViewer {
    .prop, .value, th > div, tr {
        font-size: 20px;
    
    }
    body {
        margin: auto;
    }
    
    .date {
        padding-top : 5%;
        padding-bottom: 5%;
    }
}

.mainDoc {
    background: white !important;
}
.PurchaseOrderDoc {
    width : 85%;
    margin: auto;
 


    .address {
        margin-top: 10%;
        margin-bottom : 5%;
        font-size: 25px;
        font-weight: bold;
    }

    .Object {
        margin-bottom : 5%;
        font-size: 25px;
        font-weight: bold;
    }

    .request {
        margin-top: 5%;
    }
    
    .request , .itemTable, td, th{
        font-size: 22px;
        font-weight: 600;
    }

    .footer > .ant-col-6, .footer > .ant-col-18 {
        font-size: 20px;
    }



}
