.search_wf {

    .form_items {
     //   margin-bottom: -5px !important;
       // margin-top: -15px !important;
      
      }
      
      .search_labels > .ant-form-item-label{
        margin-bottom: -20px !important;
      }

    .ant-form-item {
        margin-bottom: 0px !important;
        
    }
}

.forbidden {

  body{
    background: white;
  }
  .title, .message {
    font-size: 60px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    
  }

  .message {
    font-size: 35px;
  }

  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
}