body {
    background-color: #e4e5e6 !important;
}

.treeNode {
    border: beige 1px solid;
}

.codeDropDown{
    width: 300px !important;
}

.issueFormSection {
    border: beige 2px solid;
    padding: 10px !important;
    border-radius: 5px;
    margin-bottom: 5px;
}

.prop {
    padding: 5px;
    text-align: right;
    font-weight: bold;
    margin-right: 15px;
    font-size: 15px;
        
}

.value {
    padding : 5px;
    text-align: left;
    font-weight: 500;
    margin-left: 15px;
    font-size: 15px;
}

.prop, .value {
    margin : 5px;
}


  .global-search {
    width: 100%;
  }
/*   
  .global-search.ant-select-auto-complete .ant-select-selection--single {
    margin-right: -46px;
  }
  
  .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 62px;
  }
  
  .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
    right: 0;
  }
  
  .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .global-search-item-count {
    position: absolute;
    right: 16px;
  } */

 .searchDropDown{
     width : 500px !important;
 }

 .itemDropDown {
   width : 250px !important;
 }

 .unitSelect {
   width : 150px !important;
 }

.highlighted_row{
  background : #00afec !important;
  color : white !important;
 }

 .search_row > td {
   padding-bottom: 6px !important;
   padding-top: 6px !important;
 }

 .documentTypeSelect{
   width: 250px !important;
 }


