.task-component-container {
  .section {
    padding: 20px 20px;
  }

  .admin-button {
    display: inline;
  }
}

.btn {
  margin: 20px 20px !important;
}

.margin-fix {
  margin-left: 100px;
}

.create-btn {
  position: fixed !important;
  bottom: 40px;
  right: 40px;
}

.search-container {
  width: 100%;
  float: right;
  display: inline-block;

  .search {
    width: 80%;
    margin: 15px 5px 0 20px !important;
    border: none !important;
  }

  .search-btn {
    margin-top: 20px;
  }

  * {
    display: inline-block;
  }
}
