<div class="col-md-3 document_type">
    <div class="x_panel">
            <div id="viewDocument" class="list_of_documets">
                <perfect-scrollbar class="container">
                    <ul id="documentList" class="nav">
                        <li *ngFor="let docType of docs" class="parent"><a style="display: flex" [routerLink]="" (click)="documentNav($event)"><i class="fa fa-folder-o"></i>{{docType.type}} </a>
                            <ul class="nav child_menu">
                                <li class="" *ngFor="let doc of docType.docs">
                                    <a style="display: flex" [routerLink]="" (click)="showImg(doc)" (click)="activeDoc($event)"><i class="fa fa-file-text-o"></i>{{doc.referenceNo}} <span class=""></span> </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </perfect-scrollbar>

                <ng-template #nocontent>
                    <div class="align-center empty-msg">
                        <i class="fa fa-exclamation"></i>
                        <h4>No Document Attached</h4>
                    </div>
                </ng-template>

            </div>
        
        <div class="document_type_footer align-center">
            <ul class="nav">
                <li class="align-center" id="addDocBtn" *ngIf="damsDigitizer && workflowState == 3">
                    <a [routerLink]="" (click)="showDocEdit()"><i class="fa fa-plus-circle"></i> Add Document</a>
                </li>
            </ul>
        </div>
    </div>
</div>