<div class="tab-pane" id="audit">
    <div class="col-md-12 auditManagement">
        <div class="x_panel">
            <div class="x_content">
                <div class="x_title row">
                    <h2>Search Audit for...</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 audit_search has-scroll">
                    <form [formGroup]="auditForm" id="auditForm">
                        <!--start of audit search-->
                            <div class="input-form">
                                <label>Username:</label>
                                <input type="text" class="form-control" placeholder="Enter username" formControlName="userName" [(ngModel)]="auditQuery.userName"/>
                            </div>
                            <div class="input-form">
                                <label>Action:</label>
                                <select class="form-control" formControlName="actionType" [(ngModel)]="auditQuery.action">
                                    <option *ngFor="let actionType of actionTypes" [value]="actionType.id" [selected]="actionType.id == 1">{{actionType.name}}</option>
                                </select>
                            </div>
                            <div class="input-form">
                                <label>Date From:</label>
                                <input type="date" class="form-control"  id="date-txt" formControlName="startDate" [(ngModel)]="auditQuery.startDate" placeholder="Pick Date From"/>
                            </div>
                            <!--<div class="input-form">
                                <label>Date To:</label>
                                <input type="date" formControlName="endDate" [(ngModel)]="auditQuery.endDate" class="form-control" placeholder="Pick Date To"/>
                            </div>-->
                            <div class="input-form align-right">
                                <button class="btn btn-cis btn-sm" (click)="searchActions()">Search</button>
                            </div>
                    </form>
                </div>
           
                <!--end of audit search-->

                <!--start of audit list-->
                <div class="user_page col-md-9">
                <div *ngIf="auditModels?.length > 0"  class="x_content has-scroll">
                    <table class="table table-striped jambo_table bulk_action">
                        <tr class="headings">
                            <th class="column-title">Username</th>
                            <!--<th class="column-title">Role</th>-->
                            <th class="column-title">Action</th>
                            <th class="column-title">Time</th>
                        </tr>
                        <tr *ngFor="let audit of auditModels">
                            <td>{{audit.userName}}</td>
                            <td>{{audit.action.name}}</td>
                            <td>{{audit.actionTime}}</td>
                        </tr>
                    </table>
                </div>
                <div *ngIf="auditModels?.length == 0" class="x_content has-scroll">
                    <h4>No Audit Logs Found!</h4>
                </div>
                    
                <!--end of audit list-->
                <div class="align-center">
                    <ul *ngIf="totalCount > 0" class="pagination">
                        <li [ngClass]="{disabled:currentPage === 1}">
                            <a (click)="getActions(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:currentPage === 1}">
                            <a (click)="getActions(currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pages" [ngClass]="{active:currentPage === page}">
                            <a (click)="getActions(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:currentPage === totalPages}">
                            <a (click)="getActions(currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:currentPage === totalPages}">
                            <a (click)="getActions(totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>