<div  id="regFile"  class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">Register File Information</h5>
                <button type="button" class="close" (click)="closeForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="fileRegForm" id="fileRegForm">
                <div class="modal-body has-scroll" *ngIf="config!=null" >
                    <div class="input-form">
                        <label>File Code:</label>
                        <input type="text" class="form-control" id="fileCode" formControlName="fileCode" [(ngModel)]="fileModel.fileCode">
                    </div>
                    <div class="input-form" *ngIf="config!=null">
                        <label>File Owner:</label>
                        <input type="text" *ngIf="config.language=='en'" class="form-control" id="fileOwner" formControlName="FileOwner" [(ngModel)]="fileModel.fileOwner" />
                        <amharic-input id="fileOwner" *ngIf="config.language=='am'" formControlName="FileOwner" [(txtval)]="fileModel.fileOwner" ></amharic-input>

                    </div>
                    <div class="input-form">
                        <label>Shelf No:</label>
                        <input type="text" class="form-control" id="shelfNo" formControlName="Shelf" [(ngModel)]="fileModel.shelf"/>
                    </div>
                    <div class="input-form">
                        <label>In-shelf location:</label>
                        <input type="text" class="form-control" id="inshelfLocation" formControlName="Location" [(ngModel)]="fileModel.location"/>
                    </div>
                    <div class="input-from">
                        <label>Folder Code:</label>
                        <input type="text" class="form-control" id="folderCode" formControlName="Folder" [(ngModel)]="fileModel.folder"/>
                    </div>
                    
                    <div class="input-form" *ngIf="config!=null && config.applicationFor=='cis'">
                        <label>UPIN:</label>
                        <input type="text" class="form-control" id="upin" formControlName="upin" [(ngModel)]="fileModel.upin"/>
                        <span class="error">{{upiText}}</span>
                    </div>
                    <div class="input-form" *ngIf="config!=null && config.applicationFor=='wsis'">
                        <label>Customer Code:</label>
                        <div class="input-group">
                        <input type="text" class="form-control" id="upin" formControlName="upin" [(ngModel)]="fileModel.upin" (change)="checkCustomer($event.target.value)"/>
                            <span class="input-group-addon">
                                    <i class="fa fa-spinner faa-spin animated" *ngIf="customerLoaded==true"></i>
                                    <i class="fa fa-check correct" *ngIf="validCustomerCode==true"></i>
                                    <i class="fa fa-close wrong" *ngIf="validCustomerCode==false"></i>
                                </span>
                        </div>
                        <span>{{customerName}}</span>
                    </div>
                    <div class="input-form">
                        <label>Mobile No:</label>
                        <input type="tel" class="form-control" id="mobileNo" formControlName="MobileNumber" [(ngModel)]="fileModel.mobileNumber"/>
                    </div>
                    <div class="input-form">
                        <label>Remark:</label>
                        <textarea class="form-control" rows="4" id="remarks" formControlName="Remark" [(ngModel)]="fileModel.remark"></textarea>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="input-form align-right">
                        <button type="reset" class="btn btn-default btn-sm">Reset</button>
                        <button class="btn btn-cis btn-sm" (click)="validFileForm()" [disabled]="!validCustomerCode" *ngIf="config!=null && config.applicationFor=='wsis'">Save</button>
                        <button class="btn btn-cis btn-sm" (click)="validFileForm()"  *ngIf="config!=null && config.applicationFor=='cis'">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>