.linkbutton
{
    appearance: button;
    -webkit-appearance: button;
    text-decoration:none;
    text-align:center;
    margin-top:2pt;
    margin-bottom:2pt;
    padding:5pt;
    cursor: default;
    background:#006400;
    color:white;
    font-size:20pt;

}
.button_container
{
    text-align:center;
}
.linkbutton_fullWidth
{
    width:70%;
    spacing:0pt;
}
.button_warning
{
    background:#8F0000;
}
body
{
    background:#FFFFFF;

}

.cp_label
{
    display:inline-block;
    font-weight:bold;
    color:#006400;
    width:60%;
    text-size:"9pt";
}
.cp_val1
{
    display:inline-block;
    text-align:right;
    width:40%;
}

.db_figure_cp_label
{
    display:inline-block;
    font-weight:bold;
    width:60%;
    color:#006400;
}
.db_figure_cp_value
{
    display:inline-block;
    width:40%;
    text-align:right;
    color:black;
}
.db_figure_cp_label2
{
    display:inline-block;
    font-weight:bold;
    width:60%;
    color:white;
    background:#006400;
}
.db_figure_cp_value2
{
    display:inline-block;
    width:40%;
    text-align:right;
    color:black;
}


.de_label
{
    display:inline-block;
    font-weight:bold;
    color:#006400;
    width:40%;
    font-size:"12pt";
}
.de_val1
{
    display:inline-block;
    text-align:right;
    width:55%;
}
.changed_field
{
    font-weight:bold;
}
.input_de_val1
{
    border:medium solid #006400;
    font-size:12pt;
    width:100%
}
.option_de_val1
{
    border:medium solid #006400;
    font-size:12pt;
    width:100%
}
h1
{
    margin-top:0pt;
    background:#006400;
    color:white;
    padding:4pt;
}
.data_item
{
    border-bottom:medium solid #2E8B57;
}
.panel_link
{
    display:block;
    background:white;
    text-decoration:none;
    margin-bottom:10pt;
    background:
}
h2
{
    margin-top:0pt;
    background:#006400;
    color:white;
    padding:4pt;
}
