<!--user edit form-->
        <div class="x_title row">
            <h2>Edit User</h2>

            <ul class="nav navbar-right panel_toolbox">
                <li><a class="close-link" (click)="closeForm()"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <form [formGroup]="editForm" (submit)="editUser()">
            <div class="x_content has-scroll">
                <div class="input-form" >
                    <label>Full Name:</label>
                    <input type="text" class="form-control"  id="edit_user_first_name" formControlName="fullname" [(ngModel)]="editModel.fullName"/>
                </div>
                <div class="input-form">
                    <label>Phone No:</label>
                    <input type="text" class="form-control"  id="edit_user_phone_no" formControlName="phoneno" [(ngModel)]="editModel.phoneNumber">
                </div>
                <div class="input-form">
                    <label>User Role:</label>
                    <select class="form-control" formControlName="role"   id="edit_user_role" [(ngModel)]="editModel.roles" multiple>
                        <option *ngFor="let role of ROLES" [value]="role.name" >{{role.name}}</option>
                    </select>
                </div>
                <div class="input-form">
                    <label>Username:</label>
                    <input type="text" class="form-control"  placeholder="Username" id="username" formControlName="username" [(ngModel)]="editModel.userName">
                </div>
            </div>
            <div class="x_footer">
                <div class="input-form align-right">
                    <button class="btn btn-default btn-sm" type="reset">Reset</button>
                    <button class="btn btn-cis btn-sm" type="submit" [disabled]="!editForm.valid">Update</button>
                </div>
            </div>
        </form>
    
<!--end of user registration form-->