body
{
}
.LedgerGridHeadCell
{
	background-color: black;
	color: white;
	border-bottom: #e0e0e0 thin solid;
	border-left: #e0e0e0 thin solid;
	border-top: #e0e0e0 thin solid;
	border-right: #e0e0e0 thin solid;
	vertical-align: bottom;
}

.LedgerGridFooterCell
{
	background-color: black;
	color: white;
	border-bottom: #e0e0e0 thin solid;
	border-left: #e0e0e0 thin solid;
	border-top: #e0e0e0 thin solid;
	border-right: #e0e0e0 thin solid;
	vertical-align: bottom;
}

.LedgerGridOddRowCell
{
	background-color: #c0c0c0;
	color: black;
	border-bottom: black thin solid;
	border-left: black thin solid;
	border-top: black thin solid;
	border-right: black thin solid;
}
.LedgerGridEvenRowCell
{
	background-color: white;
	color: black;
	border-bottom: black thin solid;
	border-left: black thin solid;
	border-top: black thin solid;
	border-right: black thin solid;
}
.BorderCell
{
		border-bottom: black thin solid;
	border-left: black thin solid;
	border-top: black thin solid;
	border-right: black thin solid;
}
.CurrencyCell
{
	text-align:right;
}
TD
{
	vertical-align:top;
	visibility:visible;
}
Table
{
	border-collapse:collapse;
	width:100%;
}
thead
{
	display:table-header-group;
}
tr 
{
	page-break-inside:avoid;
} 