﻿<div id='add_note_div' style="visibility:hidden;width:100%;height:100%;z-index:2;position:absolute;background:gray">
    <script language="javascript" type="text/javascript">
        function note_ok_onclick() {
            var note = document.getElementById("note_text").value;
            var url = "viewtask?sid=${model.sid}&wiid=$model.wiid&ticks=$model.ticks";
            
                var postTaskCommand = { cmdverb: "add_note", cmdpar: note };

                var method = "POST";
                var postData = JSON.stringify(postTaskCommand);

                var async = true;

                var request = new XMLHttpRequest();

                request.onload = function () {
                    window.location.href = window.location.href;
                };

                request.open(method, url, async);

                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                request.send(postData);
            
        }
        function note_cancel_onclick() {
            document.getElementById("add_note_div").style.visibility = "hidden"
			
        }
        function note_show() {
            document.getElementById("add_note_div").style.visibility = "visible"
			
        }
    </script>    
    <span>Note:</span><br />
    <textarea id="note_text" cols="20" rows="2" style="width:100%;height:80%"></textarea><br />
    <input id="note_ok" style="float:right" type="button" value="Ok" onclick="return note_ok_onclick()" />
    <input id="note_cancel" style="float:right" type="button" value="Cancel" onclick="return note_cancel_onclick()" />
    </div>
