﻿<meta http-equiv="cache-control" content="no-cache" />
<h3>Payroll Data of @Model.period.name</h3>
<div class="clearfix">
    <div class="btn-group pull-right">
        <a id="emp_wd_edit_link" href="javascript:EmployeeProfile.editWorkdata(@Model.empID,@Model.period.id)" class="btn"><i class=" icon-edit"></i> Edit</a>
    </div>
</div>
<table id="wd_table" class="table table-striped table-bordered">
    <tbody>
        @foreach (var s in Model.sections)
        {
            if (s.data != null && s.data.Count > 0)
            {
                <tr><th class="wd_section_title" colspan="3">@s.title</th></tr>
                foreach (var d in s.data)
                {
                    <tr>
                        <td class="wd_data_label">@d.label</td>
                        <td class="wd_data_value">@d.value</td>
                        <td class="wd_data_remark">@d.remark</td>
                    </tr>
                }
            }
        }


    </tbody>
</table>   