﻿<div class="content-widgets white">
    <div class="widget-head light-blue">
        <h3><i class="icon-book"></i> Account Information</h3>
        
    </div>
    <ul class="span11 list_info clearfix">
        <li><span>Current Cost Center: <b>@Model.costCenter</b> </span></li>
        <li><span>Expense/ Cost Account: <b>@Model.expenseParentAccountID</b> </span></li>
        <li><span>Tax Center: <b> @Model.taxCenter </b></span></li>
    </ul>
    <div class="btn-mini pull-left">
        <a href="javascript:EmployeeProfile.addcontrolaccount(@Model.empID,'@Model.ticksFrom')" class="btn btn-primary"><i class=" icon-plus"></i> Add Control Account</a>
    </div>

    <div class="btn-mini pull-right">
        <a href="javascript:EmployeeProfile.editAccountInfo(@Model.empID,'@Model.ticksFrom')" class="btn btn-primary"><i class=" icon-edit"></i> Edit</a>
    </div>
    
    <table class="table table-striped table-bordered">
        <thead>
            @for (int i = 1; i < Model.table.Columns.Count; i++)
            {
                <th>@Model.table.Columns[i]</th>
            }
        <th></th>
        </thead>
        <tbody>
            @for (int j = 0; j < Model.table.Rows.Count; j++)
            {
                object[] itemArray = Model.table.Rows[j].ItemArray;
                <tr>
                    @for (int k = 1; k < itemArray.Length; k++)
                    {
                        if(k>2)
                        {
                            <td class="currencyCell">@itemArray[k]</td>
                        }   
                        else
                        { 
                            <td>@itemArray[k]</td>
                        }
                    }
                    @if(j==Model.table.Rows.Count-1)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td><a href="javascript:EmployeeProfile.viewledger(@Model.empID,@itemArray[0])"> @itemArray[1] </a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
  
</div>

