﻿<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta charset="utf-8">
        <title>Employee Profile</title>
        <link href="~/favicon.ico" rel="icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- styles -->
        <link href="~/ierpservice/css/bootstrap.css" rel="stylesheet">
        <link href="~/ierpservice/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="~/ierpservice/css/styles.css" rel="stylesheet">
        <link href="~/ierpservice/css/theme-blue.css" rel="stylesheet">
        <link href="~/ierpservice/css/font-awesome.css" rel="stylesheet">
        <!--============javascript===========-->
        <script src="~/ierpservice/js/callserver.js"></script>
        <script src="~/ierpservice/js/jquery.min.js"></script>
        <script src="~/ierpservice/js/jquery-ui-1.10.1.custom.min.js"></script>
        <script src="~/ierpservice/js/bootstrap.min.js"></script>
        <script src="~/ierpservice/js/respond.min.js"></script>
        
    </head>
    <body>
        <div class="main-wrapper">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <h3 class=" page-header"> EMPLOYEE PROFILE</h3>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">

                        <div class="span3">
                            <a id="newversion" href="javascript:EmployeeProfile.newversion(@Model.empID)"><i>&plus;</i> New Version</a>
                            <ul id="versions" class="notification-list">
                                @foreach (var v in Model.versions)
                                {
                                    <li id="@v.vid" >
                                        <a href="javascript:BERP.loadBio('@v.vid')">
                                            <span class="item"><i class="icon-calendar blue"></i> @v.label</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="span9">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="bioPanel"></div>
                                </div>    
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="content-widgets white">
                                        <div class="widget-head light-blue ">
                                            <h3>PAYROLL DATA</h3>
                                        </div>
                                        <div class="widget-container">
                                            <ul class="top-right-toolbar">
                                                <li><a onclick="BERP.loadPreviosPeriod()" class="dropdown-toggle">
                                                        <span style="cursor: pointer;">&lsaquo;</span>
                                                    </a></li>
                                                <li><span style="color: #ffffff;" id="period_name"></span></li>
                                                <li><a onclick="BERP.loadNextPeriod()" class="dropdown-toggle">
                                                        <span style="cursor: pointer;">&rsaquo;</span>
                                                    </a></li>
                                            </ul>
                                            <div id="wdPanel"></div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="accountInfoPanel"></div>
                                </div>
                            </div>
                            
                        </div>

                    </div>    
                </div>
                
               
            </div>
            

        </div>
        <script type="text/javascript">
            
            var __sessionID = "@Model.sid";
            var BERP = BERP || {};
            BERP.wdPeriod={id:"@Model.curPeriod.id" , name:"@Model.curPeriod.name"};

            BERP.loadPeriod = function(){
                if (!BERP.wdPeriod)
                    return;
                var periodname = document.getElementById("period_name");
                periodname.innerText = BERP.wdPeriod.name;
                var bp=document.getElementById("wdPanel");
                $.ajax({
                    url: "employee_profile.html?sid=@Model.sid&id=@Model.empID&panelId=workdata_panel&periodID=" + BERP.wdPeriod.id,
                        beforeSend: function() {bp.innerText = "Loading...";}
                    })
                    .done(function(res) {
                        bp.innerHTML = res;
                    })
                    .fail(function() {
                        bp.innerText = "Load failed..";
                    });
            };

            BERP.loadPreviosPeriod = function() {
                _proxy("getPrevPayrollPeriod", { periodID: BERP.wdPeriod.id },
                    function(res) {
                        BERP.wdPeriod = res;
                        BERP.loadPeriod();
                    },
                    function (err) {
                        var periodname = document.getElementById("period_name");
                        periodname.innerText = "Error:" + err;
                    }
                );
            };

            BERP.loadNextPeriod = function() {
                _proxy("getNextPayrollPeriod", { periodID: BERP.wdPeriod.id },
                    function(res) {
                        BERP.wdPeriod = res;
                        BERP.loadPeriod();
                    },
                    function(err) {
                        var periodname = document.getElementById("period_name");
                        periodname.innerText = "Error:" + err;
                    }
                );
            };

            BERP.setAndLoadPeriod = function(p) {
                BERP.wdPanel = p;
                BERP.loadPeriod();
            };

            BERP.addAccount = function(empId, accountId) {
                var accinfoPanel = document.getElementById("accountInfoPanel");
                var url = "employee_profile.html?sid=@Model.sid&panelId=account_panel&id=" + empId + "&accountId=" + accountId;
                $.ajax({
                        url: url,
                        beforeSend: function(xhr) {
                        }
                    })
                    .done(function(res) {
                        accinfoPanel.innerHTML = res;
                    })
                    .fail(function() {
                        accinfoPanel.innerText = "Load failed..";
                    });
            };

            BERP.loadBio = function(version) {
                var bp = document.getElementById("bioPanel");
                $.ajax({
                        url: "employee_profile.html?sid=@Model.sid&id=@Model.empID&panelId=bio_panel&vid=" + version,
                        beforeSend: function(xhr) {
                            bp.innerText = "Loading...";

                        }
                    })
                    .done(function(res) {
                        var el = document.getElementById(version.toString());
                        if (el) {
                            $("#versions li").css("background", "#ffffff");
                            $("#versions li").find('span').css("font-weight", "");
                            var idd = version.toString();
                            $("li#" + idd).find('span').css("font-weight", "bolder");
                            $("li#" + idd).css("background", "#f9f9f9");
                        }
                        bp.innerHTML = res;
                        BERP.loadAccountInformmation();
                    })
                    .fail(function() {
                        bp.innerText = "Load failed..";
                    });
            };

            BERP.loadAccountInformmation = function() {
                var accinfoPanel = document.getElementById("accountInfoPanel");
                $.ajax({
                        url: "employee_profile.html?sid=@Model.sid&id=@Model.empID&panelId=account_panel",
                        beforeSend: function(xhr) { accinfoPanel.innerText = "Loading..."; }
                    })
                    .done(function(res) {
                        accinfoPanel.innerHTML = res;
                    })
                    .fail(function() {
                        accinfoPanel.innerText = "Load failed..";
                    });
            };

            BERP.refreshDocument = function () {
                location.reload();
            };

            $(function() {
                
                "use strict";
                
                $("#versions li").css("background", "#ffffff");
                $('ul#versions li:eq(0)').css("background","#f9f9f9");
                $('ul#versions li:eq(0)').css("font-weight","bolder");
                $('ul#versions li:eq(0)').find('span.item').trigger('click');
                
                BERP.loadPeriod();
                
                
            });
           
        </script>
    </body>
</html>