﻿<div class="content-widgets white">
    <div class="widget-head light-blue">
        <h3><i class="icon-user"></i> BASIC INFORMATION  (@Model.version) </h3>
    </div>
    <div class="user_list">
        <div class="user_block">
            <div class="info_block">
                <div class="widget_thumb">
                    <img width="150" height="150" alt="User" src="~/ierpservice/employee_profile.html?sid=@Model.sid&id=@Model.empID&vid=@Model.emp.ticksFrom&img&panelId=bio_panel">
                </div>
                <ul class="list_info clearfix">
                    <li><span>Name: <h3>@Model.emp.name</h3> </span></li>
                    @if (!string.IsNullOrEmpty(@Model.emp.idstr))
                    {
                        <li><span>ID No:<b> @Model.emp.idstr </b></span></li>
                    }
                    <li><span>Sex:<b> @Model.emp.sex </b></span></li>
                    <li><span>Birth Date:<b> @Model.emp.birthdate</b></span></li>
                    <li><span>Organizational Unit: <b> @Model.emp.unit.Name</b></span></li>
                    <li><span>Title:<b> @Model.emp.title </b></span></li>
                    @if (!string.IsNullOrEmpty(@Model.emp.tin))
                    {
                        <li><span>TIN: <b> @Model.emp.tin</b></span></li>
                    }
                    @if (!string.IsNullOrEmpty(@Model.emp.bankAccount))
                    {
                        <li><span>Bank Account No:<b> @Model.emp.bankAccount</b></span></li>
                    }
                    @if (!string.IsNullOrEmpty(@Model.emp.telephone))
                    {
                        <li>
                            <span>Telephone:<b> @Model.emp.telephone</b></span>
                            @if (!string.IsNullOrEmpty(@Model.emp.address))
                            {
                                <span>, Address:<b> @Model.emp.address</b></span>
                            }
                        </li>
                        
                    }
                    @if (!string.IsNullOrEmpty(@Model.emp.grosssalary))
                    {
                        <li>
                            <span>Gross salary :<b> @Model.emp.grosssalary</b></span>
                            @if (!string.IsNullOrEmpty(@Model.emp.salarytype))
                            {
                                <span>(<b> @Model.emp.salarytype</b>)</span>
                            }
                        </li>

                    }
                </ul>
                <hr/>
                <ul class="list_info clearfix">
                    <li><span>Enrollement Date: <b> @Model.emp.enrollmentdate </b></span></li>
                    <li><span>Employement Status: <b>@Model.emp.employementystatus</b> </span></li>
                    @if (!string.IsNullOrEmpty(@Model.emp.transportallowance))
                    {
                        <li><span>Transport Allowance:<b> @Model.emp.transportallowance </b></span></li>
                    }
                    @if (!string.IsNullOrEmpty(@Model.emp.costsharing))
                    {
                        <li><span>Cost-Sharing Status:<b> @Model.emp.costsharing </b></span></li>
                    }
                    
                </ul>
            </div>
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <a id="prof_edit_link" href="javascript:EmployeeProfile.editProfile(@Model.empID,'@Model.emp.ticksFrom')" class="btn"><i class=" icon-edit"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

