﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>GAST Chemical Dashboard</title>
    <link type="text/css" rel="stylesheet" href="css/default.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/jquery.datetimepicker.css" />
    <link type="image/x-icon" rel="shortcut icon" href="images/ierp.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale = 1, user-scalable = no">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="container">
                <div class="text-center">
                    <img src="images/logo.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        <div class="row">
            <div class="container">
                <div class="text-center">
                    <h2>Login to GAST Chemical Cost Accounting System</h2>
                </div>
            </div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" action="login.html" accept-charset="UTF-8">
        <div class="search">
            <div class="row">
                <div class="container">
                    <div class="search-bar">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Username</p>
                                <input type="text" name="username" id="username" placeholder="Please Enter Username" />
                            </div>
                            <div class="col-md-12">
                                <p>Password</p>
                                <input type="password" id="password" name="password" placeholder="Please Enter Password" />
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Login" class="sub-button" />
                            </div>
                            <div class="errorText text-center"><p>$model.error</p></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
        <div class="footer-separet"></div>
        <div class="footer">
            <div class="footer_bottom_content">
                <div class="text-center">
                    Copyright © 2015 GSM
                    | Designed by <a href="http://www.intaps.com">INTAPS Consultancy plc</a>
                </div>
            </div>
        </div>
        <script src="script/jquery.min.js" type="text/javascript"></script>
        <script src="script/bootstrap.min.js" type="text/javascript"></script>
        <script src="script/jquery.datetimepicker.js" type="text/javascript"></script>
        <script>
            $('#datetimepicker2').datetimepicker({
                lang: 'en',
                timepicker: false,
                format: 'd/m/Y',
                formatDate: 'Y/m/d'
            });
            $('#datetimepicker1').datetimepicker({
                lang: 'en',
                timepicker: false,
                format: 'd/m/Y',
                formatDate: 'Y/m/d'
            });
        </script>
</body>
</html>