﻿
<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta charset="utf-8">
        <title>Trade Relation Profile</title>
        <link href="~/favicon.ico" rel="icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- styles -->
        <link href="~/ierpservice/css/bootstrap.css" rel="stylesheet">
        <link href="~/ierpservice/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="~/ierpservice/css/styles.css" rel="stylesheet">
        <link href="~/ierpservice/css/theme-blue.css" rel="stylesheet">
        <link href="~/ierpservice/css/font-awesome.css" rel="stylesheet">
        <!--============javascript===========-->
        <script src="~/ierpservice/js/callserver.js"></script>
        <script src="~/ierpservice/js/jquery.min.js"></script>
        <script src="~/ierpservice/js/jquery-ui-1.10.1.custom.min.js"></script>
        <script src="~/ierpservice/js/bootstrap.min.js"></script>
        <script src="~/ierpservice/js/respond.min.js"></script>
        

    </head>
    <body>
        <div class="main-wrapper">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <h3 class=" page-header"> Trade Relation @if (Model.relation.isinternational)
                                                                         {
                                                                             <b>(International)</b>
                                                                         }
                                                                         else
                                                                         {
                                                                             <b>(Local)</b>
                                                                         }</h3>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span12">
                                <div id="relationPanel"></div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="accountInfoPanel"></div>
                    </div>
                </div>
        
            </div>

        </div>
        <script type="text/javascript">
            var __sessionID = "@Model.sid";
            var BERP = BERP || {};

            BERP.loadTradeRelation = function() {

                var bp = document.getElementById("relationPanel");
                $.ajax({
                        url: "trade_profile.html?sid=@Model.sid&code=@Model.relation.code&isinternational=@Model.relation.isinternational&panelId=relationPanel",
                        beforeSend: function(xhr) {
                            bp.innerText = "Loading...";
                        }
                    })
                    .done(function(res) {
                        bp.innerHTML = res;
                        BERP.loadAccountInformmation();
                    })
                    .fail(function() {
                        bp.innerText = "Load failed..";
                    });
            };

            BERP.loadAccountInformmation= function() {
                var accinfoPanel = document.getElementById("accountInfoPanel");
                $.ajax({
                    url: "trade_profile.html?sid=@Model.sid&code=@Model.relation.code&panelId=account_panel",
                    beforeSend: function (xhr) { accinfoPanel.innerText = "Loading..."; }
                })
                    .done(function (res) {
                        accinfoPanel.innerHTML = res;
                    })
                    .fail(function () {
                        accinfoPanel.innerText = "Load failed..";
                    });
            }


            $(function () {
                "use strict";

                BERP.loadTradeRelation();
            });

        </script>
    </body>
</html>