﻿<div class="content-widgets white">
    <div class="widget-head light-blue">
        <h3><i class="icon-hospital"></i> @Model.relation.name.ToUpper()  </h3>
    </div>
    <div class="user_list">
        <div class="user_block">
            <div class="info_block">
                <div class="widget_thumb">
                    <img width="150" height="150" alt="trade relation" src="~/ierpservice/trade_profile.html?sid=@Model.sid&code=@Model.relation.code&img&panelId=relationPanel">
                </div>
                <ul class="list_info clearfix">
                    <li><span>Tin: <h3>@Model.relation.tin</h3> </span></li>
                    <li><span>Type: <h4>@Model.relation.tradetype</h4> </span></li>
                    <li><span>Code: <b>@Model.relation.code</b> </span></li>
                    <li><span>Tax Registration Type: <b>@Model.relation.taxregistrationtype</b></span></li>
                    <li><span>VAT Number: <b>@Model.relation.vatno</b> </span></li>
                    <li><span>Phone no: <b>@Model.relation.phoneno</b> </span></li>
                    
                </ul>
                <hr/>
                <ul class="list_info clearfix">
                    <li>@if (Model.relation.withhold)
                        {
                            <b>Do not withhold</b>
                        }
                        else
                        {
                            <b>Withhold</b>
                        }</li>
                    <li>@if (Model.relation.iswithholdingagent)
                        {<b>Withholding Agent</b>}</li>
                    <li>@if (Model.relation.isvatagent)
                        {<b>VAT Agent</b>}</li>

                </ul>
            </div>
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <a id="prof_edit_link" href="javascript:TradeRelationProfile.editRelation('@Model.relation.code','@Model.relation.isinternationalvalue')" class="btn btn-primary"><i class=" icon-edit"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

