﻿<div class="content-widgets white">
    <div class="widget-head light-blue">
        <h3><i class="icon-book"></i> Account Information</h3>
    </div>
    <br />
    <div class="btn-mini pull-left">
        <a href="javascript:TradeRelationProfile.viewtransaction('@Model.code')" class="btn btn-primary"><i class=" icon-edit"></i> View Transactions</a>
    </div>

    <div class="btn-mini pull-right">
        
    </div>
    <hr />
    <table class="table table-striped table-bordered">
        <thead>
            @for (int i = 1; i < Model.table.Columns.Count - 1; i++)
            {
            <th>@Model.table.Columns[i]</th>
            }
            <th></th>
            </thead>
            <tbody>
                @for (int j = 0; j < Model.table.Rows.Count; j++)
                {
                    object[] itemArray = Model.table.Rows[j].ItemArray;
                    <tr>
                        @for (int k = 1; k < itemArray.Length - 1; k++)
                        {
                            <td>@itemArray[k]</td>
                        }
                        <td>
                            @{
                                if (itemArray[4] == (object) 0)
                                {
                                    <span style="color: red">Cancelled</span>
                                }
                                else
                                {
                                    <a href="javascript:TradeRelationProfile.viewledger('@Model.code',@itemArray[0])"> View Ledger </a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
   
  
</div>

