.container {
  position: relative;
  text-align: center;
  color: white;
}

.left-btn {
    position: absolute;
    left: 0px;
    top:0px;
    background-color: black;
    opacity: .3;
    border:none;
    height:99%;
    color:white;
}

.top-left :hover {
    opacity: .8;
    cursor: pointer;
}

.right-btn {
    position: absolute;
    right: 0px;
    top:0px;
    background-color: black;
    opacity: .3;
    border:none;
    height:99%;
    color:white;
}