body {
	background: #e3ebef !important;
}
.navbar-inverse .navbar-inner {
	background-color: #173e54 !important;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #0c202b !important;
	color: #FFFFFF !important;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #c0daec;

}
.leftbar {
	background: #000 !important;
}
.admin-info {
	background:#121e25 !important;
	color:#fff !important;
}
.left-secondary-nav, .left-nav {
	background:#173e54 !important;
}
.left-primary-nav ul li.active a {
	background:#121e25 !important;
	color: #DA3610 !important;
}
.left-primary-nav {
	background: #196699 !important;
}
.main-wrapper {
	background: #ffffff !important;
}
.navbar .nav > li > .dropdown-menu:after {
	border-bottom: 6px solid #1c3c4e !important;
}
.dropdown-menu {
	background-color: #1c3c4e !important;
}
.page-header, .widget-header {
	color:#333 !important;
	border-bottom:#666 1px solid;
}
.notify-h {
	color:#fff !important;
}
.copyright {
	color:#fff !important;
}
.side-head {
	border-bottom: rgba(000, 000, 000, 0.2) 1px solid !important;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset !important;
	color: #ffd800 !important;
}
.accordion-nav > li {
	border-bottom: rgba(000, 000, 000, 0.3) 1px solid;
}
.accordion-nav > li > a {
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
	color:#f5f5f5;
}
.accordion-nav > li a:hover {
	background:#fff;
	color:#da3610;
}
.accordion-nav > li a span {
	color:#000;
}
.accordion-nav li li a {
	border-top:rgba(000, 000, 000, 0.3) 1px solid;
	box-shadow:0 -1px 0 rgba(255, 255, 255, 0.2) inset;
	color:#f5f5f5;
}
.accordion-nav li ul {
	border-top:rgba(000, 000, 000, 0.3) 1px solid;
	box-shadow:0 -1px 0 rgba(255, 255, 255, 0.2) inset;
}
.accordion-nav li img {
	border-radius:4px;
	background:#CCC;
	padding:2px;
}
.accordion-nav li li img {
	top:5px !important;
}
.notification-nav .dropdown-menu {
	background:#113143 !important;
}
.notification-nav .open .btn-notification {
    background: #113143 !important;
}
.gray, .light-gray {
	background: #ddd;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	background-color: #ccc;
}
.nav-tabs li a {
	background: #ddd;
}
.nav-tabs {
	border-bottom: 3px solid #ccc;
}
.tab-widget .tab-content {
	background:#FFFFFF;
	border: 1px solid #ccc;
}
.switch-board {
	background:#173e54 !important;
}
.form-signin {
	border: 2px solid #000;
}
