<div class="dams-main-body">
    <div class="row">
        <div class="col-md-3 document_image">
            <div class="x_panel">

                <div class="x_title">
                    <h4><i class="fa fa-search"></i> Advanced Search</h4>
                    <div class="clearfix"></div>
                </div>
                <form [formGroup]="searchForm" id="searchForm">
                    <div class="search-panel has-scroll">
                        <ul class="nav">
                            <li>
                                <div class="input-group">
                                <span class="input-group-addon" id="addon">
                                            <input type="radio" [checked]="searchType == 1" class="radio radio-primary" name="searchType" id="searchFile"  formControlName="searchType" [(ngModel)]="searchType"  [value]="1" (click)="navSearchForm()"/>
                                </span>
                                    <label class="form-control" for="searchFile" >File</label>
                                    <span class="input-group-addon" id="addon">
                                            <input type="radio" class="radio radio-primary" name="searchType" id="searchDocument" formControlName="searchType" [(ngModel)]="searchType" [value]="2" (click)="navSearchForm()"/>
                                        </span>
                                    <label class="form-control" for="searchDocument">Document</label>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav"  id="fileSearchContent" *ngIf="searchType == 1">
                            <li>
                                <div class="input-form" *ngIf="config!=null">
                                    <span *ngIf="config.applicationFor=='wsis'">Customer Code:</span>
                                    <span *ngIf="config.applicationFor=='cis'">UPIN:</span>
                                    <input type="text" class="form-control" id="upin-txt" formControlName="upin" [(ngModel)]="searchFileModel.upin"/>
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>Owner Name:</span>
                                    <input type="text" class="form-control" id="owner-txt" formControlName="FileOwner" [(ngModel)]="searchFileModel.FileOwner"/>
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>File Code:</span>
                                    <input type="text" class="form-control" id="code-txt" formControlName="FileCode" [(ngModel)]="searchFileModel.FileCode"/>
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>Folder Code:</span>
                                    <input type="text" class="form-control" id="folder-txt" formControlName="Folder" [(ngModel)]="searchFileModel.Folder"/>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav" type=""  id="docSearchContent" *ngIf="searchType == 2">
                            <li>
                                <div class="input-form">
                                    <span>Document Type:</span>
                                    <select type="text" class="form-control" id="type-txt"  formControlName="type" [(ngModel)]="searchDocumentModel.type">
                                        <option *ngFor="let docType of documentTypes" [value]="docType.id" [selected]="docType.id == 3">{{docType.name}}</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>Document Ref:</span>
                                    <input type="text" class="form-control" id="ref-txt" formControlName="referenceNo" [(ngModel)]="searchDocumentModel.referenceNo"/>
                                </div>
                            </li>
                            <li>
                                <div class="input-form">
                                    <span>Document Date:</span>
                                    <input type="text" class="form-control" id="date-txt" formControlName="date" [(ngModel)]="searchDocumentModel.date"/>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="document_type_footer align-center">
                        <ul class="nav">
                            <li class="align-center" id="addDocBtn">
                                <a class="" [routerLink]="" (click)="onSearchClicked()"><i class="fa fa-search"></i> Search</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 search-resualt">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Search Result</h4>
                </div>
                <div class="x_content has-scroll">
                    <div class="align-center on-search" style="display: none">
                        <h1> Wait a moment...</h1>
                    </div>
                    <div class="align-center no-parameter" style="display: none;">
                        <p>{{searchError}}</p>
                    </div>
                    <div class="fileResualt" *ngIf="searchType==1 && fileResult?.length > 0">
                        <table class="table table-stripe">
                            <thead>
                            <tr>
                                <th *ngIf="config!=null"><span *ngIf="config.applicationFor=='cis'">UPIN</span><span *ngIf="config.applicationFor=='wsis'">Customer Code</span></th>
                                <th>Owner Name</th>
                                <th>Folder Code</th>
                                <th>File Code</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="search_action">
                            <tr *ngFor="let fileSearch of fileResult">
                                
                                <td>{{fileSearch.upin}}</td>
                                <td>{{fileSearch.fileOwner}}</td>
                                <td>{{fileSearch.folder}}</td>
                                <td>{{fileSearch.fileCode}}</td>
                                <td [hidden]="true">{{fileSearch.workItem}}</td>
                                <td class="align-right">
                                    <div class="dropdown align-right" style="display: block">
                                        <button type="button" class="btn btn-sm btn-cis dropdown-toggle" data-toggle="dropdown" (click)="actionNav($event)">
                                            Action
                                            <span class="fa fa-caret-down"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#" [routerLink]="" (click)="viewFile(fileSearch)"><i class="fa fa-eye"></i> View</a>
                                            </li>
                                            <li><a href="#" [routerLink]="" *ngIf="damsDigitizer" (click)="addDocument(fileSearch)"><i class="fa fa-plus" ></i> Add Document</a>
                                            </li>
                                            <li *ngIf="damsUser"><a href="#" *ngIf="damsUser" [routerLink]="" (click)="updateFile(fileSearch)"><i class="fa fa-edit"></i> Update File Info</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li *ngIf="damsUser"><a href="#" [routerLink]="" *ngIf="damsUser" (click)="deleteFile(fileSearch)"><i class="fa fa-trash-o"></i> Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>

                    <div class="docuResualt" *ngIf="searchType==2 && docResult?.length > 0">
                        <table class="table table-stripe">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Document Type</th>
                                <th>Document Ref</th>
                                <th>Document Date</th>
                                <th>No Sheets</th>
                                <th>Manage</th>
                            </tr>
                            </thead>
                            <tbody class="search_action">
                            <tr *ngFor="let docSearch of docResult;  index as i">
                                <td>{{i+1}}</td>
                                <td>{{docSearch.type.name}}</td>
                                <td>{{docSearch.referenceNo}}</td>
                                <td>{{docSearch.date}}</td>
                                <td>{{docSearch.sheets}}</td>
                                <td [hidden]="true">{{docSearch.fileId}}</td>
                                <td class="align-right">
                                    <div class="btn-group align-right">
                                        <button type="button" class="btn btn-sm btn-cis dropdown-toggle" data-toggle="dropdown" (click)="actionNav($event)">
                                            Action
                                            <span class="fa fa-caret-down"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#" [routerLink]="" (click)="viewDoc(docSearch)"><i class="fa fa-eye"></i> View</a>
                                            </li>
                                            <li><a href="#" [routerLink]="" *ngIf="damsDigitizer" (click)="editDoc(docSearch)"><i class="fa fa-edit"></i> Update Document</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="searchType == 1" class="x_footer">
                    <div class="align-center">
                        <ul *ngIf="fileTotalCount > 0" class="pagination">
                            <li [ngClass]="{disabled:fileCurrentPage === 1}">
                                <a (click)="getResult(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:fileCurrentPage === 1}">
                                <a (click)="getResult(fileCurrentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of filePages" [ngClass]="{active:fileCurrentPage === page}">
                                <a (click)="getResult(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:fileCurrentPage === totalPages}">
                                <a (click)="getResult(fileCurrentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:fileCurrentPage === totalPages}">
                                <a (click)="getResult(totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="searchType == 2" class="x_footer">
                    <div class="align-center">
                        <ul *ngIf="docTotalCount > 0" class="pagination">
                            <li [ngClass]="{disabled:docCurrentPage === 1}">
                                <a (click)="getResult(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:docCurrentPage === 1}">
                                <a (click)="getResult(docCurrentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of docPages" [ngClass]="{active:docCurrentPage === page}">
                                <a (click)="getResult(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:docCurrentPage === totalPages}">
                                <a (click)="getResult(docCurrentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:docCurrentPage === totalPages}">
                                <a (click)="getResult(totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <ngx-spinner>
    </ngx-spinner>
</div>