
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"(click)="closeForm()">&times;</button>
                <h2>User Detail Information</h2>
            </div>            <!-- /modal-header -->

            <div class="modal-body" id="userDetailContent">
                <label>Fullname:</label> {{user.fullName}}<br>
                <label>Role:</label> <span *ngFor="let role of user.roles">{{role}},</span>
                <br>
                <label>Phone no:</label>{{user.phoneNumber}}<br>
                <label>Username:</label>{{user.userName}}<br>
                <label>Status:</label> {{user.status}}<br>
            </div>
            <div class="modal-footer"></div>
        </div>
    