<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">

                <form [formGroup]="loginForm" (submit)="login()">
                    <div class="login-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="header_title" *ngIf="config != null">
                        <h1>{{config.cityName}} <br/><small>{{config.organizationName}}</small></h1>
                    </div>
                    <div class="input-group">
                                <span class="input-group-addon" id="addon">
                                    <i class="fa fa-user"></i>
                                </span>
                        <input type="text" class="form-control" formControlName="username" placeholder="Username"
                               required="" [(ngModel)]="user.username"/>
                    </div>
                    <div class="input-group">
                                <span class="input-group-addon" id="addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                        <input type="password" class="form-control" formControlName="password" placeholder="Password"
                               required="" [(ngModel)]="user.password"/>
                    </div>
                    <div class="align-right">
                        <button class="btn btn-cis submit" type="submit" [disabled]="!loginForm.valid">Log in</button>

                    </div>
                    <div class="separator">

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <img src="/images/intaps_logo.png"/>
                            <p>©2018 All Rights Reserved.</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div  id="roleModal"  class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   
                    <h5 class="modal-title ">Role Selection</h5>
                </div>
                <div class="modal-body">
                    <div *ngFor="let role of ROLES">
                        <ul class="nav">
                            <li>
                                <div class="input-form" id="editFileBtn">
                                    <button class="btn btn-cis btn-sm" (click)="closeForm(role.id)">{{role.name}}</button>
                                    <!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value={{role.id}} [(ngModel)]="selectedRole">-->
                                    <!--<label class="form-check-label" for="exampleRadios1">{{role.name}}</label>-->
                                </div>
                            </li>
                        </ul>
                       
                    </div>
                </div>   
                    <!--<div class="modal-footer ">
                        <ul class="nav">
                            <li>
                                <div class="input-form" id="editFileBtn">
                                    <button type="submit" class="btn btn-cis btn-sm" (click)="closeForm()">OK</button>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                
            </div>
        </div>
    </div>
    
</div>
