.block {
  display: block;
}

.text-field {
  display: block;
  width: 80%;
  margin: 20px auto !important;

  .MuiInputBase-root-14 {
    width: 100% !important;
  }
}

.priority-dropdown {
  display: block;
  margin: 20px auto;
}
