﻿@using System
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Login Page - BELCASH WSIS</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link type="image/x-icon" rel="shortcut icon" href="images/ierp.ico" />
</head>
    <body>
        <!--<img src="images/controls.png"/>-->
        <!-- Top Bar -->
        <section class="top_sec">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 top_lft">
                        <div class="inf_txt">
                            <h4>WSIS MAPPING</h4>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <div class="spacer-20"></div>
        <div class="container">
            <section id="abt_sec">
                <div class="row dashboard_sec">
                    <div class="titl_sec">
                        <div class="col-lg-12">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <div id="login_box">
                                    <div class="modal-body">
                                        <div class="log_form">
                                            <h2 class="frm_titl"> Login Form </h2>
                                            <form id="loginform" method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
                                                <div class="control-group form-group">
                                                    <div class="controls">
                                                        <input type="text" class="form-control" name="username" id="username" data-validation-required-message="Please enter your username." placeholder="Username">
                                                        <p class="help-block"></p>
                                                    </div>
                                                    <div class="controls">
                                                        <input type="password" class="form-control" id="password" name="password" data-validation-required-message="Please enter your password." placeholder="Password">
                                                        <p class="help-block"></p>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <button type="submit" class="btn btn-primary">Sign In</button>
                                                    <div id="error"></div>
                                                    @*<div class="errorText text-center"><p>@Model.error</p></div>*@
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.row -->
            </section>
        </div>

        <script src="/js/jquery.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    
        <script type="text/javascript">
            $(document).ready(function () {
                // Attach a submit handler to the form
                $("#loginform").submit(function() {
                    // Stop form from submitting normally
                    event.preventDefault();

                    $("#error").empty();
                    var username = $("#username").val();
                    var password = $("#password").val();
                    if (username == '' && password == '') {
                        $("#error").empty().append("Please fill out the form");
                    } else if (username == '' && password !== '') {
                        $("#error").empty().append('User name field is required');
                    } else if (password == '' && username !== '') {
                        $("#error").empty().append('Password field is required');
                    } else {
                        var jqxhr = $.post("login", $('#loginform').serialize())
                            .done(function (response) {
                                window.location = "meters";
                                document.cookie = "sid=" + response.SessionId;
                            })
                            .error(function() {
                                $('#error').html("Incorrect user name and password.");
                            });
                    }

                });

            });
        </script>

    </body>
</html>
