﻿@using System.Web;
@model dynamic
<!DOCTYPE html>
<html>
<head>
    <title>Meters Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="legend">
        <div id="progress"></div>
    </div>

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ8DpO8IL8xNeld9uHEgT0rCNMhUp81sk&callback=initMap"
            async defer></script>
    <script>
        var icons = ['images/default.png'
        , 'images/readerlocation.png'
        , 'images/read.png'
        , 'images/unread.png'
        , 'images/selfmeter.png'
        , 'images/othermeter.png'
        , 'images/locatedmeter.png'
        , 'images/path_read.png'
        , 'images/path_unread.png'
        , 'images/readingproblem.png'
        ];

        var map;
        var meterMapID;
        var markerCount;
        var markerIndex = 0;
        function drawPath(path)
        {
            var coordinates = Array(0);

            for (i = 0; i < path.length; i++) {
                var m = path[i];
                var x, y;
                x = m.lat;
                y = m.lng
                coordinates[i] = new google.maps.LatLng(x, y);
            }

            var readingPath = new google.maps.Polyline({
                path: coordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            readingPath.setMap(map);
        }
        function loadMap() {
            $.ajax({
                url: "api/getMarkers?id="+meterMapID+"&index=" + markerIndex + "&count=500",
                success: function (data) {
                    for (i = 0; i < data.res.length;i++)
                    {
                        var m = data.res[i];
                        var x, y;
                        x = m.lat;
                        y = m.lng
                        var co = new google.maps.LatLng(x, y);
                        var image = {
                            url: icons[m.symbol],
                            size: new google.maps.Size(16, 16),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(8, 8)
                        };

                        var marker = new google.maps.Marker({
                            position: co,
                            icon: image,
                            map: map,
                            title: m.label
                        });
                        (function (marker, data) {

                            var infowindow = new google.maps.InfoWindow({
                                content: "<a target='_blank' href='../custprof?sid=@Model.sid&con=" + m.connectionCode + "'>" + m.connectionCode + "</a>"
                            });
                            marker.addListener("click", function (e) {
                                infowindow.open(map, marker);
                            });
                        })(marker, m.connectionCode);

                    }

                    markerIndex += data.res.length;

                    if (data.res.length > 0 && markerIndex < markerCount) {
                        $("#progress").text("loading meter map.." + Math.round(markerIndex * 100 / markerCount) + "%");
                        loadMap();
                    }
                    else
                        $("#progress").text("");

                },

            });

        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
                {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 8
                });
            var legend = document.getElementById("legend");
            map.controls[google.maps.ControlPosition.RIGHT_TOP].push(legend);
            $("#progress").text("building meter map..");
            $.ajax("api/buildmetermap?sessionID=@Model.sid&maptype=@Model.maptype&prd=@Model.prdID&reader=@Model.readerID&con=@Model.con&date=@System.Web.HttpUtility.UrlEncode(Model.date)")
                .done(function (res) {
                    if (res && res.error == null) {
                        meterMapID = res.res.id;
                        markerCount = res.res.count;
                        var b = res.res.bounds;
                        map.fitBounds(new google.maps.LatLngBounds(new google.maps.LatLng(b.swLat, b.swLng), new google.maps.LatLng(b.neLat, b.neLng)))
                        markerIndex = 0;
                        $("#progress").text("loading meter map..");
                        if (res.res.path)
                            drawPath(res.res.path.markers);
                        loadMap();
                    }
                    else {
                        $("#progress").text("loading meter map failed." + res.error);
                    }
                })
            .fail(function () {
                $("#progress").text("loading meter map failed.Connection error");
            })
        }
    </script>
</body>
</html>